generated/rewrites/example2-improved/Microsoft.Flow/flows/385bc524-448e-4368-a6d0-c6fc9d20e374/definition.json
{
  "name": "cf6e5724-5fe0-42fa-bd78-60a8665324fd",
  "id": "/providers/Microsoft.Flow/flows/cf6e5724-5fe0-42fa-bd78-60a8665324fd",
  "type": "Microsoft.Flow/flows",
  "properties": {
    "apiId": "/providers/Microsoft.PowerApps/apis/shared_logicflows",
    "displayName": "Live - [SFMC] - Mass e-mail BTS Intake ",
    "definition": {
      "metadata": {
        "workflowEntityId": null,
        "processAdvisorMetadata": null,
        "flowChargedByPaygo": null,
        "flowclientsuspensionreason": "None",
        "flowclientsuspensiontime": null,
        "flowclientsuspensionreasondetails": null,
        "creator": {
          "id": "6a172fee-b9f6-4e48-bd88-f1b3609f233e",
          "type": "User",
          "tenantId": "6f4d03de-9551-4ba1-a25b-dce6f5ab7ace"
        },
        "provisioningMethod": "FromDefinition",
        "failureAlertSubscription": true,
        "clientLastModifiedTime": "2026-04-23T17:11:21.1149623Z",
        "connectionKeySavedTimeKey": "2026-04-23T17:11:21.1149623Z",
        "creationSource": null,
        "modifiedSources": "Portal"
      },
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "When_a_new_response_is_submitted": {
          "splitOn": "@triggerOutputs()?['body/value']",
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "form_id": "3gNNb1GVoUuiW9zm9at6zifJWu686mpAhE7M2hwle6NURDVVODFJRkhWRVNZNVBNWjM4TldKMTE4UyQlQCN0PWcu"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftforms",
              "connectionName": "shared_microsoftforms_1",
              "operationId": "CreateFormWebhook"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Initialize_Config": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Config",
                "type": "object",
                "value": {
                  "sfmc_support_email": "abbviecaresupport@abbvie.com",
                  "flow_owner_email": "bell.jamie@abbvie.com",
                  "brand_manager_refusal_cc": "bogdan.baloiu@abbvie.com;diego.ricoy@abbvie.com;bell.jamie@abbvie.com",
                  "bts_digital_sender_email": "bts.digital@abbviecare.ca",
                  "kuo_approver_email": "kuo.liao@abbvie.com;",
                  "country_approver_maria_email": "mariapaula.aguillon@abbvie.com",
                  "country_approver_matias_email": "matias.lazo@abbvie.com",
                  "schedule_deployment_list_id": "0fd7951d-a346-48c2-86ba-7390012e2b73",
                  "target_list_creation_list_id": "8139e5bc-e87b-4029-bdd6-cef739baa00d",
                  "email_test_list_id": "8de67489-8d52-4a8d-ac28-c1d7ef26f1a1",
                  "sfmc_sharepoint_site_url": "https://abbvie.sharepoint.com/sites/msteams_c38c47"
                }
              }
            ]
          },
          "runAfter": {}
        },
        "Compose_Run_Context": {
          "type": "Compose",
          "inputs": {
            "workflowName": "@workflow()?['name']",
            "runName": "@workflow()?['run']?['name']",
            "responseId": "@triggerOutputs()?['body/resourceData/responseId']",
            "triggerName": "When_a_new_response_is_submitted"
          },
          "runAfter": {
            "Initialize_Config": [
              "Succeeded"
            ]
          }
        },
        "Get_response_details": {
          "runAfter": {
            "Compose_Run_Context": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "form_id": "3gNNb1GVoUuiW9zm9at6zifJWu686mpAhE7M2hwle6NURDVVODFJRkhWRVNZNVBNWjM4TldKMTE4UyQlQCN0PWcu",
              "response_id": "@triggerOutputs()?['body/resourceData/responseId']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftforms",
              "connectionName": "shared_microsoftforms_1",
              "operationId": "GetFormResponseById"
            },
            "authentication": "@parameters('$authentication')"
          },
          "runtimeConfiguration": {
            "retryPolicy": {
              "type": "exponential",
              "interval": "PT20S",
              "count": 4,
              "minimumInterval": "PT5S",
              "maximumInterval": "PT5M"
            }
          }
        },
        "Get_Logo_File_Content_By_Path": {
          "runAfter": {
            "Get_response_details": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "path": "/SFMC.JPG",
              "inferContentType": true
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness",
              "connectionName": "shared_onedriveforbusiness",
              "operationId": "GetFileContentByPath"
            },
            "authentication": "@parameters('$authentication')"
          },
          "runtimeConfiguration": {
            "retryPolicy": {
              "type": "exponential",
              "interval": "PT20S",
              "count": 4,
              "minimumInterval": "PT5S",
              "maximumInterval": "PT5M"
            }
          }
        },
        "Initialize_variable_Picture": {
          "runAfter": {
            "Initialize_Variable_for_BM_Comments": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Embed Image Link",
                "type": "string",
                "value": "<img src=\"data:image/jpeg;base64,@{outputs('Get_Logo_File_Content_By_Path')?['body'].$content}\" alt=\"My Image\" />"
              }
            ]
          }
        },
        "Initialize_variable_varAttachments": {
          "runAfter": {
            "Initialize_variable_Picture": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varAttachements",
                "type": "array"
              }
            ]
          }
        },
        "Try_Decision_Tree": {
          "actions": {
            "Condition_for_3_branches": {
              "actions": {
                "Send_e_mail_for_Test_Email": {
                  "runAfter": {
                    "Create_item_in_email_test_list": [
                      "Skipped",
                      "Failed",
                      "Succeeded"
                    ]
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "emailMessage/To": "@{outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']};@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}",
                      "emailMessage/Subject": "[SFMC] - Content Creation - @{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}",
                      "emailMessage/Body": "<p class=\"editor-paragraph\">@{variables('Embed Image Link')}<br><br>Hello ,<br><br>Your request is being processed!<br><br>You will receive an e-mail when your request has been completed.<b><strong class=\"editor-text-bold\"> No action from you is required at this stage.</strong></b><br></p><br><p class=\"editor-paragraph\">This can take up to 48 hours.<br>Below are the details of your submission.<br>--------------------------------------------------------------------------------------<br><b><strong class=\"editor-text-bold\">Country:</strong></b></p><p class=\"editor-paragraph\">@{outputs('Get_response_details')?['body/rc7a580eb9757486497bcad8a121aac10']}</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Requestor:</strong></b></p><p class=\"editor-paragraph\">@{body('Get_response_details')?['rbefed3e4a42f48fea2c25bed29a1373c']}</p><p class=\"editor-paragraph\"><br><b><strong class=\"editor-text-bold\">Business Owner:</strong></b><br>@{outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']}<br><br><b><strong class=\"editor-text-bold\">BTS Partner:</strong></b><br>@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}<br><br><b><strong class=\"editor-text-bold\">Project Name:</strong></b><br>@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}<br><br><b><strong class=\"editor-text-bold\">Project Purpose</strong></b><br>@{outputs('Get_response_details')?['body/r33281e8ab485443db88bfa7da69e57eb']}<br><br><b><strong class=\"editor-text-bold\">Target Audience:</strong></b><br>@{outputs('Get_response_details')?['body/r032e49fd5729431ab3e70d46a8855894']}</p><p class=\"editor-paragraph\"><br><b><strong class=\"editor-text-bold\">Local Key Message:</strong></b><br>@{outputs('Get_response_details')?['body/rf8ca235ab6af41babe9b361b44d74848']}</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Please enter the subject of the e-mail:</strong></b></p><p class=\"editor-paragraph\">@{outputs('Get_response_details')?['body/raae9c809b20345b990205d8dbf83ea43']}</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Please enter the pre-header for your e-mail:</strong></b></p><p class=\"editor-paragraph\">@{outputs('Get_response_details')?['body/r1e18d0b3d7954325a595d4f5ec3f7e57']}</p><br><p class=\"editor-paragraph\"><br><b><strong class=\"editor-text-bold\">Additional comments you might have:</strong></b><br>@{outputs('Get_response_details')?['body/r51f0eef65bc04fd79d8f9999a619937d']}</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">[Test E-mail] - Please choose the type of Audience:</strong></b></p><p class=\"editor-paragraph\">@{outputs('Get_response_details')?['body/r12471862341940b8b31f2e449dabd5a2']}</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">[Test E-mail] - Please share the sharePoint location of the media files needed for content Creation:</strong></b></p><br><p class=\"editor-paragraph\">@{outputs('Get_response_details')?['body/r97e811c8613b45aabc4f4ce9f955bf0f']}</p><br>",
                      "emailMessage/From": "@variables('Config')?['bts_digital_sender_email']",
                      "emailMessage/Cc": "bell.jamie@abbvie.com;@{variables('VarApprover')}",
                      "emailMessage/Importance": "Normal"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                      "connectionName": "shared_office365_1",
                      "operationId": "SendEmailV2"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Create_an_approval_Bogdan_Level_Test_E_Mail": {
                  "runAfter": {
                    "Send_e_mail_for_Test_Email": [
                      "Succeeded"
                    ]
                  },
                  "type": "OpenApiConnectionWebhook",
                  "inputs": {
                    "parameters": {
                      "approvalType": "Basic",
                      "WebhookApprovalCreationInput/title": "[SFMC] Content Creation- Action to Perform-  @{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}",
                      "WebhookApprovalCreationInput/assignedTo": "diego.ricoy@abbvie.com;@{variables('VarApprover')};matias.lazo@abbvie.com",
                      "WebhookApprovalCreationInput/details": "Hello ,\n\nA new Test-Email request has been submitted\nPlease see the details below and Hit \"Test sent\" when you are ready.\n\nWhen completed, this will be sent to the stakeHolders for final Approval.\n\nCountry:\n@{outputs('Get_response_details')?['body/rc7a580eb9757486497bcad8a121aac10']}\n\nRequestor: \n@{body('Get_response_details')?['rbefed3e4a42f48fea2c25bed29a1373c']}\n\nBusiness Owner:\n@{outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']}\n\nBTS Partner:\n@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}\n\nProject Name:\n@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}\n\nProject Purpose:\n@{outputs('Get_response_details')?['body/r33281e8ab485443db88bfa7da69e57eb']}\n\nLocal Key Message:\n@{outputs('Get_response_details')?['body/rf8ca235ab6af41babe9b361b44d74848']}\n\nPlease enter the subject of the e-mail:\n@{outputs('Get_response_details')?['body/raae9c809b20345b990205d8dbf83ea43']}\n\nPlease enter the pre-header for your e-mail:\n@{outputs('Get_response_details')?['body/r1e18d0b3d7954325a595d4f5ec3f7e57']}\n\n\nTest- Addresses:\n@{outputs('Get_response_details')?['body/r032e49fd5729431ab3e70d46a8855894']}\n\nAdditional comments you might have:\n@{outputs('Get_response_details')?['body/r51f0eef65bc04fd79d8f9999a619937d']}\n\n[Test E-mail] -  Please choose the type of Audience:\n@{outputs('Get_response_details')?['body/r12471862341940b8b31f2e449dabd5a2']}\n\n[Test E-mail] -  Please share the sharePoint location of the media files needed for content Creation:\n\n@{outputs('Get_response_details')?['body/r97e811c8613b45aabc4f4ce9f955bf0f']}\n",
                      "WebhookApprovalCreationInput/itemLinkDescription": "Please review  this new request \n",
                      "WebhookApprovalCreationInput/enableNotifications": true,
                      "WebhookApprovalCreationInput/enableReassignment": true
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals",
                      "connectionName": "shared_approvals",
                      "operationId": "StartAndWaitForAnApproval"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Apply_to_each_Get_responses": {
                  "foreach": "@outputs('Create_an_approval_Bogdan_Level_Test_E_Mail')?['body/responses']",
                  "actions": {
                    "Create_an_approval_StakeHolders_Level_Test_E_Mail": {
                      "type": "OpenApiConnectionWebhook",
                      "inputs": {
                        "parameters": {
                          "approvalType": "Basic",
                          "WebhookApprovalCreationInput/title": "[SFMC] Test E-mail --> StakeHolders Approval -  @{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}",
                          "WebhookApprovalCreationInput/assignedTo": "@{outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']};@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']};",
                          "WebhookApprovalCreationInput/details": "Hello ,\n\nThe requested test e-mail has been sent.\nPlease see the details below and approve when you are ready.\n\nThe local key message has been applied!\n---------------------------------------------------\nComments from BTS:\n@{items('Apply_to_each_Get_responses')?['comments']} \n@{outputs('Create_an_approval_Bogdan_Level_Test_E_Mail')?['body/outcome']}\n---------------------------------------------------\nBusiness Owner:\n@{outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']}\n\nBTS Partner:\n@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}\n\nProject Name:\n@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}\n\nProject Purpose\n@{outputs('Get_response_details')?['body/r33281e8ab485443db88bfa7da69e57eb']}\n\nLocal Key Message:\n@{outputs('Get_response_details')?['body/rf8ca235ab6af41babe9b361b44d74848']}\n\nE-mail Addresses\n@{outputs('Get_response_details')?['body/r032e49fd5729431ab3e70d46a8855894']}\n\nAdditional comments you might have:\n@{outputs('Get_response_details')?['body/r51f0eef65bc04fd79d8f9999a619937d']}\n\n[Test E-mail] -  Please choose the type of Audience:\n@{outputs('Get_response_details')?['body/r12471862341940b8b31f2e449dabd5a2']}\n\n[Test E-mail] -  Please share the sharePoint location of the media files needed for content Creation:\n\n@{outputs('Get_response_details')?['body/r97e811c8613b45aabc4f4ce9f955bf0f']}\n",
                          "WebhookApprovalCreationInput/itemLinkDescription": "Please review  this new request \n",
                          "WebhookApprovalCreationInput/enableNotifications": true,
                          "WebhookApprovalCreationInput/enableReassignment": true
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals",
                          "connectionName": "shared_approvals",
                          "operationId": "StartAndWaitForAnApproval"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Comments_StakeHolder": {
                      "foreach": "@outputs('Create_an_approval_StakeHolders_Level_Test_E_Mail')?['body/responses']",
                      "actions": {
                        "Set_variable_level2_Comments": {
                          "type": "SetVariable",
                          "inputs": {
                            "name": "Level2Comments",
                            "value": "@items('Comments_StakeHolder')?['comments']"
                          }
                        },
                        "Set_variable_ApprovalStatusLevel2": {
                          "runAfter": {
                            "Set_variable_level2_Comments": [
                              "Succeeded"
                            ]
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "ApprovalStatusLevel2",
                            "value": "@outputs('Create_an_approval_StakeHolders_Level_Test_E_Mail')?['body/outcome']"
                          }
                        }
                      },
                      "runAfter": {
                        "Create_an_approval_StakeHolders_Level_Test_E_Mail": [
                          "Succeeded"
                        ]
                      },
                      "type": "Foreach"
                    },
                    "Update_status_comments_after_Stakeholder_level_approval": {
                      "runAfter": {
                        "Comments_StakeHolder": [
                          "Succeeded"
                        ]
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "@variables('Config')?['sfmc_sharepoint_site_url']",
                          "table": "@variables('Config')?['email_test_list_id']",
                          "id": "@body('Get_item')?['ID']",
                          "item/Status/Value": "@{if(contains(body('Create_an_approval_StakeHolders_Level_Test_E_Mail')?['outcome'],'Appro'),'Test Approved','Test Refused')}",
                          "item/Comments": "@{concat(body('Update_status_comments_after_Bogdan_level_approval')?['Comments'],variables('Level2Comments'))}"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "connectionName": "shared_sharepointonline",
                          "operationId": "PatchItem"
                        },
                        "authentication": "@parameters('$authentication')"
                      },
                      "runtimeConfiguration": {
                        "retryPolicy": {
                          "type": "exponential",
                          "interval": "PT20S",
                          "count": 4,
                          "minimumInterval": "PT5S",
                          "maximumInterval": "PT5M"
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Condition": [
                      "Succeeded"
                    ]
                  },
                  "type": "Foreach"
                },
                "Condition_If_Approved_Test_Email": {
                  "actions": {
                    "Set_variable_If_approved_2": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "ApprovalStatus",
                        "value": "Approved"
                      }
                    }
                  },
                  "runAfter": {
                    "Apply_to_each_Get_responses": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Set_variable_If_refused_2": {
                        "type": "SetVariable",
                        "inputs": {
                          "name": "ApprovalStatus",
                          "value": "Denied"
                        }
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "contains": [
                          "@variables('ApprovalStatusLevel2')",
                          "Appro"
                        ]
                      }
                    ]
                  },
                  "type": "If"
                },
                "Apply_to_each_Send_Email": {
                  "foreach": "@outputs('Create_an_approval_Bogdan_Level_Test_E_Mail')?['body/responses']",
                  "actions": {
                    "Send_e_mail_for_Test_Email_2": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "emailMessage/To": "@{outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']};@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}",
                          "emailMessage/Subject": "[SFMC] - Content Creation - @{variables('ApprovalStatus')} - @{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}",
                          "emailMessage/Body": "<p class=\"editor-paragraph\">@{variables('Embed Image Link')}<br><br>Hello ,<br><br>Please see the details below!<br>The e-mail test has been @{variables('ApprovalStatus')} !<br><br>The local key message has been applied!<br><br>You may want to submit the form again for TargetList Creation or schedule a deployment.<br><br><br>--------------------------------------------------------------------------------------<br><b><strong class=\"editor-text-bold\">BTS Comments:</strong></b><br>@{items('Apply_to_each_Send_Email')?['comments']}<br><br><br><b><strong class=\"editor-text-bold\">StakeHolderApproval Comments:</strong></b><br>@{variables('Level2Comments')}</p><br><p class=\"editor-paragraph\">Country:<br>@{outputs('Get_response_details')?['body/rc7a580eb9757486497bcad8a121aac10']}</p><br><p class=\"editor-paragraph\">Requestor:<br>@{body('Get_response_details')?['rbefed3e4a42f48fea2c25bed29a1373c']}<br><br><b><strong class=\"editor-text-bold\">Business Owner:</strong></b><br>@{outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']}<br><br><b><strong class=\"editor-text-bold\">BTS Partner:</strong></b><br>@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}<br><br><b><strong class=\"editor-text-bold\">Project Name:</strong></b><br>@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}<br><br><b><strong class=\"editor-text-bold\">Project Purpose</strong></b><br>@{outputs('Get_response_details')?['body/r33281e8ab485443db88bfa7da69e57eb']}<br><br><b><strong class=\"editor-text-bold\">Target Audience:</strong></b><br>@{outputs('Get_response_details')?['body/r032e49fd5729431ab3e70d46a8855894']}</p><br><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Please enter the subject of the e-mail:</strong></b><br>@{outputs('Get_response_details')?['body/raae9c809b20345b990205d8dbf83ea43']}<br><br><b><strong class=\"editor-text-bold\">Please enter the pre-header for your e-mail:</strong></b><br>@{outputs('Get_response_details')?['body/r1e18d0b3d7954325a595d4f5ec3f7e57']}</p><br><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Local Key Message:</strong></b><br>@{outputs('Get_response_details')?['body/rf8ca235ab6af41babe9b361b44d74848']}<br><br><b><strong class=\"editor-text-bold\">Additional comments you might have:</strong></b><br>@{outputs('Get_response_details')?['body/r51f0eef65bc04fd79d8f9999a619937d']}</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">[Test E-mail] - Please choose the type of Audience:</strong></b><br>@{outputs('Get_response_details')?['body/r12471862341940b8b31f2e449dabd5a2']}<br><br><b><strong class=\"editor-text-bold\">[Test E-mail] - Please share the sharePoint location of the media files needed for content Creation:</strong></b><br><br>@{outputs('Get_response_details')?['body/r97e811c8613b45aabc4f4ce9f955bf0f']}</p>",
                          "emailMessage/From": "bts.digital@abbviecare.ca;@{variables('VarApprover')}",
                          "emailMessage/Cc": "@variables('Config')?['flow_owner_email']",
                          "emailMessage/Importance": "Normal"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                          "connectionName": "shared_office365_1",
                          "operationId": "SendEmailV2"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "SFMC_Content_Creation_C3i": {
                      "runAfter": {
                        "Send_e_mail_for_Test_Email_2": [
                          "Succeeded"
                        ]
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "emailMessage/To": "@variables('Config')?['sfmc_support_email']",
                          "emailMessage/Subject": "[SMO] - SFMC Content Creation-  - ",
                          "emailMessage/Body": "<p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Hi Team,</strong></b><br><br><b><strong class=\"editor-text-bold\">Can you please process the request listed below:</strong></b><br><a href=\"https://abbvienow.service-now.com/now/nav/ui/classic/params/target/incident.do%3Fsys_id%3D-1%26sysparm_query%3Dactive%3Dtrue%26sysparm_stack%3Dincident_list.do%3Fsysparm_query%3Dactive%3Dtrue%26sysparm_view%3Ddefault%26sysparm_view_forced%3Dtrue\" class=\"editor-link\">Click here for corresponding form to complete &nbsp; </a>&nbsp;</p><br><p class=\"editor-paragraph\">---------------------------------------------- ---------------------------------------<br><b><strong class=\"editor-text-bold\">SFMC– &nbsp;</strong></b></p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Caller:</strong></b>@{outputs('Get_response_details')?['body/rbefed3e4a42f48fea2c25bed29a1373c']}</p><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Affected User: </strong></b>@{outputs('Get_response_details')?['body/rbefed3e4a42f48fea2c25bed29a1373c']}<br><br><b><strong class=\"editor-text-bold\">Watchlist Emails:</strong></b><br>@{outputs('Get_response_details')?['body/r5f32442f76de4ab8b82ec42082141238']}<br>@{outputs('Get_response_details')?['body/rf51522aed7004931bc946262a64ba152']}<br><br><br><b><strong class=\"editor-text-bold\">Location</strong></b><br>CA St Laurent<br><br><b><strong class=\"editor-text-bold\">Service</strong></b><br>Salesforce Platform<br><br><b><strong class=\"editor-text-bold\">Service Offering</strong></b><br>CO-LATAM-Geo-Operations-Contractors<br><br>Contact Name:<br>@{outputs('Get_response_details')?['body/r0daf19a4a65f492f8b24c621b545aaf5']}<br><br>Country &nbsp;<br>@{outputs('Get_response_details')?['body/rd57d5ac6ea734335a4aff68b3bcdf805']}<br><br><br>--------------------------------------------------------------------------------------<br><br><b><strong class=\"editor-text-bold\">Short Description :</strong></b></p><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">{</strong></b>@{triggerOutputs()?['body/resourceData/responseId']}<b><strong class=\"editor-text-bold\">}</strong></b><br>SFMC<br><br><b><strong class=\"editor-text-bold\">Long Description : &nbsp;Enter all below</strong></b><br><br>Country:<br>@{outputs('Get_response_details')?['body/rc7a580eb9757486497bcad8a121aac10']}<br><br><br>Business Owner:<br>@{outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']}<br><br>BTS Partner:<br>@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}<br><br>Project Name:<br>@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}<br><br>Project Purpose<br>@{outputs('Get_response_details')?['body/r33281e8ab485443db88bfa7da69e57eb']}<br><br>Target Audience:<br>@{outputs('Get_response_details')?['body/r032e49fd5729431ab3e70d46a8855894']}<br><br>Local Key Message:<br>@{outputs('Get_response_details')?['body/rf8ca235ab6af41babe9b361b44d74848']}<br><br>Please enter the subject of the e-mail:<br>@{outputs('Get_response_details')?['body/raae9c809b20345b990205d8dbf83ea43']}<br><br>Please enter the pre-header for your e-mail:<br>@{outputs('Get_response_details')?['body/r1e18d0b3d7954325a595d4f5ec3f7e57']}<br><br><br>Additional comments you might have:<br>@{outputs('Get_response_details')?['body/r51f0eef65bc04fd79d8f9999a619937d']}<br><br>[Test E-mail] - Please choose the type of Audience:<br>@{outputs('Get_response_details')?['body/r12471862341940b8b31f2e449dabd5a2']}<br><br>[Test E-mail] - Please share the sharePoint location of the media files needed for content Creation:<br><br>@{outputs('Get_response_details')?['body/r97e811c8613b45aabc4f4ce9f955bf0f']}</p>",
                          "emailMessage/From": "@variables('Config')?['bts_digital_sender_email']",
                          "emailMessage/Cc": "@variables('Config')?['flow_owner_email']",
                          "emailMessage/Attachments": "@variables('varAttachements')",
                          "emailMessage/Importance": "Normal"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                          "connectionName": "shared_office365_1",
                          "operationId": "SendEmailV2"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Condition_If_Approved_Test_Email": [
                      "Succeeded"
                    ]
                  },
                  "type": "Foreach"
                },
                "Create_item_in_email_test_list": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "@variables('Config')?['sfmc_sharepoint_site_url']",
                      "table": "@variables('Config')?['email_test_list_id']",
                      "item/DateRequested": "@{utcNow()}",
                      "item/Status/Value": "Approval Sent - Bogdan Level",
                      "item/BusinessOwner/Claims": "@body('Get_response_details')?['r1449ddf4c0d348e3aad239ad7d1054b6']",
                      "item/BTSPartner/Claims": "@body('Get_response_details')?['rcdd7e978b2634a04839cfbf5ea6f250e']",
                      "item/ProjectName": "@body('Get_response_details')?['ra8c5068a5e644142a9002f0d53fe0c5c']",
                      "item/ProjectPurpose": "@body('Get_response_details')?['r33281e8ab485443db88bfa7da69e57eb']",
                      "item/Product": "@body('Get_response_details')?['rf8ca235ab6af41babe9b361b44d74848']",
                      "item/Specialities": "@body('Get_response_details')?['r032e49fd5729431ab3e70d46a8855894']",
                      "item/Comments": "@body('Get_response_details')?['r51f0eef65bc04fd79d8f9999a619937d']"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "connectionName": "shared_sharepointonline",
                      "operationId": "PostItem"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Get_comments_from_Bogdan": {
                  "foreach": "@outputs('Create_an_approval_Bogdan_Level_Test_E_Mail')?['body']?['responses']",
                  "actions": {
                    "Set_variable_SFMC_Comments_set_Test_email": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "SFMC-Comments",
                        "value": "@items('Get_comments_from_Bogdan')?['comments']"
                      }
                    }
                  },
                  "runAfter": {
                    "Create_an_approval_Bogdan_Level_Test_E_Mail": [
                      "Succeeded"
                    ]
                  },
                  "type": "Foreach"
                },
                "Get_item": {
                  "runAfter": {
                    "Get_comments_from_Bogdan": [
                      "Succeeded"
                    ]
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "@variables('Config')?['sfmc_sharepoint_site_url']",
                      "table": "@variables('Config')?['email_test_list_id']",
                      "id": "@body('Create_item_in_email_test_list')?['ID']"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "connectionName": "shared_sharepointonline",
                      "operationId": "GetItem"
                    },
                    "authentication": "@parameters('$authentication')"
                  },
                  "runtimeConfiguration": {
                    "retryPolicy": {
                      "type": "exponential",
                      "interval": "PT20S",
                      "count": 4,
                      "minimumInterval": "PT5S",
                      "maximumInterval": "PT5M"
                    }
                  }
                },
                "Update_status_comments_after_Bogdan_level_approval": {
                  "runAfter": {
                    "Get_item": [
                      "Succeeded"
                    ]
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "@variables('Config')?['sfmc_sharepoint_site_url']",
                      "table": "@variables('Config')?['email_test_list_id']",
                      "id": "@body('Get_item')?['ID']",
                      "item/Status/Value": "@{if(contains(body('Create_an_approval_Bogdan_Level_Test_E_Mail')?['outcome'],'Appro'),'Approval Sent - Stakeholder Level','Issue - Bogdan Level')}",
                      "item/Comments": "@{concat(body('Get_item')?['Comments'], utcNow(),' - ','bogdan.baloiu@abbvie.com',outputs('Compose_NewLine'),variables('SFMC-Comments'),outputs('Compose_NewLine'))}"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "connectionName": "shared_sharepointonline",
                      "operationId": "PatchItem"
                    },
                    "authentication": "@parameters('$authentication')"
                  },
                  "runtimeConfiguration": {
                    "retryPolicy": {
                      "type": "exponential",
                      "interval": "PT20S",
                      "count": 4,
                      "minimumInterval": "PT5S",
                      "maximumInterval": "PT5M"
                    }
                  }
                },
                "Send_an_email_for_flow_failure": {
                  "runAfter": {
                    "Apply_to_each_Send_Email": [
                      "Failed",
                      "Skipped"
                    ]
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "emailMessage/To": "@variables('Config')?['flow_owner_email']",
                      "emailMessage/Subject": "SFMC Intake Flow Has Failed",
                      "emailMessage/Body": "<p>A recent run of the SFMC Intake flow has failed.</p>",
                      "emailMessage/Importance": "Normal"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                      "connectionName": "shared_office365_1",
                      "operationId": "SendEmailV2"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Condition": {
                  "actions": {
                    "Terminate_1": {
                      "runAfter": {
                        "Bogdan_Level_Send_Email_for_Refusal_Test_Email": [
                          "Succeeded"
                        ]
                      },
                      "type": "Terminate",
                      "inputs": {
                        "runStatus": "Succeeded"
                      }
                    },
                    "Bogdan_Level_Send_Email_for_Refusal_Test_Email": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "emailMessage/To": "@{outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']};@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}",
                          "emailMessage/Subject": "[SFMC] - Test E-mail - Request Denied - @{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}",
                          "emailMessage/Body": "<p>@{variables('Embed Image Link')}</p><p>Hello, please see the details below!</p><p>The e-mail test has been denied!</p><p>Please refer to the comments below and submit a new request.</p><p>-------------------------------------------------------------------------------------- <br><b><strong>BTS Comments:</strong></b></p><p>@{variables('SFMC-Comments')}</p><p>-------------------------------------------------------------------------------------- <br><b><strong>Request Details</strong></b></p><br><p><b><strong>Requester:</strong></b></p><p>@{body('Get_response_details')?['rbefed3e4a42f48fea2c25bed29a1373c']}</p><p><b><strong>Business Owner:</strong></b></p><p>@{outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']}</p><p><b><strong>BTS Partner:</strong></b></p><p>@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}</p><p><b><strong>Project Name:</strong></b></p><p>@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}</p><p><b><strong>Project Purpose:</strong></b></p><p>@{outputs('Get_response_details')?['body/r33281e8ab485443db88bfa7da69e57eb']}</p><p><b><strong>Target Audience:</strong></b></p><p>@{outputs('Get_response_details')?['body/r032e49fd5729431ab3e70d46a8855894']}</p><p><b><strong>Local Key Message:</strong></b></p><p>@{outputs('Get_response_details')?['body/rf8ca235ab6af41babe9b361b44d74848']}</p><p><b><strong>Additional comments you might have:</strong></b></p><p>@{outputs('Get_response_details')?['body/r51f0eef65bc04fd79d8f9999a619937d']}</p><br>",
                          "emailMessage/From": "@variables('Config')?['bts_digital_sender_email']",
                          "emailMessage/Cc": "@variables('Config')?['flow_owner_email']",
                          "emailMessage/Importance": "Normal"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                          "connectionName": "shared_office365_1",
                          "operationId": "SendEmailV2"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Update_status_comments_after_Bogdan_level_approval": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {}
                  },
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "contains": [
                            "@body('Create_an_approval_Bogdan_Level_Test_E_Mail')?['outcome']",
                            "Appro"
                          ]
                        }
                      }
                    ]
                  },
                  "type": "If"
                }
              },
              "else": {
                "actions": {
                  "Condition_Target_List_or_Deploy": {
                    "actions": {
                      "Send_Email_for_Target_List_Creation": {
                        "runAfter": {
                          "Create_item_in_target_list_creation_list": [
                            "Failed",
                            "Skipped",
                            "Succeeded"
                          ]
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "emailMessage/To": "@{body('Get_response_details')?['r1449ddf4c0d348e3aad239ad7d1054b6']};@{body('Get_response_details')?['rcdd7e978b2634a04839cfbf5ea6f250e']}",
                            "emailMessage/Subject": "[SFMC] - TargetList Creation  -@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}",
                            "emailMessage/Body": "<p class=\"editor-paragraph\">@{variables('Embed Image Link')}<br><br><br>Hello ,<br><br>Your request is being processed!<br><br>You will receive an e-mail when your request has been completed. No action from you is required at this stage.<br><br><br>This can take up to 48 hours.<br>Below are the details of your submission.</p><p class=\"editor-paragraph\">--------------------------------------------------------------------------------------</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Country:</strong></b><br>@{outputs('Get_response_details')?['body/rc7a580eb9757486497bcad8a121aac10']}</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Brand:</strong></b></p><p class=\"editor-paragraph\">@{outputs('Get_response_details')?['body/rb277b4f06fa34114b04774864133d510']}</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Indication(s):</strong></b></p><p class=\"editor-paragraph\">@{outputs('Get_response_details')?['body/r086d9930e982435b970c249eadd062d2']}</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">State/Province:</strong></b></p><p class=\"editor-paragraph\">@{outputs('Get_response_details')?['body/re707c531f2b848078ec58e08bd60860d']}</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Language:</strong></b></p><p class=\"editor-paragraph\">@{outputs('Get_response_details')?['body/reae29079a13942d08a24de15f40aba6d']}<br></p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Specialties:</strong></b></p><p class=\"editor-paragraph\">@{outputs('Get_response_details')?['body/r53c3ad49cc7d4444bd48f2d511349387']}<br><br><b><strong class=\"editor-text-bold\">Marketing Consent:</strong></b></p><p class=\"editor-paragraph\">Yes</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Customer Segmentation:</strong></b></p><p class=\"editor-paragraph\">@{outputs('Get_response_details')?['body/rb8cee04de645448eb25f19762a293608']}</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Potential Affinity:</strong></b></p><p class=\"editor-paragraph\">@{outputs('Get_response_details')?['body/rbc39ad7f8c2c4fb7bb3f983df9349083']}</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Adoption Ladder:</strong></b></p><p class=\"editor-paragraph\">@{outputs('Get_response_details')?['body/r35e8fec1ce0747d5a0c7dc98b1e9149d']}</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Journeys:</strong></b></p><p class=\"editor-paragraph\">@{outputs('Get_response_details')?['body/r59f67f8c3cc74d2499b8bc12b9251d62']}<br><br><b><strong class=\"editor-text-bold\">BTS Partner:</strong></b><br>@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}<br></p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">[Additional Information]</strong></b></p><p class=\"editor-paragraph\">@{outputs('Get_response_details')?['body/ra3b23fbabff849cfb40ff4b34f0f623b']}</p><br><p class=\"editor-paragraph\"><br>-BTS Canada<br><br><br><br></p><br>",
                            "emailMessage/From": "bts.digital@abbviecare.ca;@{variables('VarApprover')}",
                            "emailMessage/Cc": "@variables('Config')?['flow_owner_email']",
                            "emailMessage/Importance": "Normal"
                          },
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                            "connectionName": "shared_office365_1",
                            "operationId": "SendEmailV2"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Create_an_approval_Bogdan_Level_TargeList": {
                        "runAfter": {
                          "Send_Email_for_Target_List_Creation": [
                            "Succeeded"
                          ]
                        },
                        "type": "OpenApiConnectionWebhook",
                        "inputs": {
                          "parameters": {
                            "approvalType": "Basic",
                            "WebhookApprovalCreationInput/title": "[SFMC] - TargetList Creation  -@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}",
                            "WebhookApprovalCreationInput/assignedTo": "diego.ricoy@abbvie.com;@{variables('VarApprover')};mariapaula.aguillon@abbvie.com;matias.lazo@abbvie.com",
                            "WebhookApprovalCreationInput/details": "Hello ,\n\nPlease see the details below!\nMake sure to add the URL of your file in the comments!!\n\nUpload file in this location: \n\nhttps://abbvie.sharepoint.com/:f:/t/Ext_AbbvieOperatonsPortal/EqLWJxRtQmVEoEz201I_vdcBrHRM0CC8k_UJZNBHpmEWZQ?e=odFbXS\n\n\nCountry:\n@{outputs('Get_response_details')?['body/rc7a580eb9757486497bcad8a121aac10']}\n\nBrand:\n@{outputs('Get_response_details')?['body/rb277b4f06fa34114b04774864133d510']}\n\nIndication(s):\n@{outputs('Get_response_details')?['body/r086d9930e982435b970c249eadd062d2']}\n\nState/Province:\n@{outputs('Get_response_details')?['body/re707c531f2b848078ec58e08bd60860d']}\n\nLanguage:\n@{outputs('Get_response_details')?['body/reae29079a13942d08a24de15f40aba6d']}\n\n\nSpecialties:\n@{outputs('Get_response_details')?['body/r53c3ad49cc7d4444bd48f2d511349387']}\n\nMarketing Consent:\nyes\n\nCustomer Segmentation:\n@{outputs('Get_response_details')?['body/rb8cee04de645448eb25f19762a293608']}\n\nPotential Affinity:\n@{outputs('Get_response_details')?['body/rbc39ad7f8c2c4fb7bb3f983df9349083']}\n\nAdoption Ladder:\n@{outputs('Get_response_details')?['body/r35e8fec1ce0747d5a0c7dc98b1e9149d']}\n\nJourneys:\n@{outputs('Get_response_details')?['body/r59f67f8c3cc74d2499b8bc12b9251d62']}\n\nBTS Partner:\n@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}\n\nComments:\n@{outputs('Get_response_details')?['body/r0e2a968022b34459b963ad771e06762b']}\n\n[Additional Information] \n@{outputs('Get_response_details')?['body/ra3b23fbabff849cfb40ff4b34f0f623b']}\n\n-BTS Canada\n\n\n\n\n",
                            "WebhookApprovalCreationInput/itemLinkDescription": "Please review  this new request \n",
                            "WebhookApprovalCreationInput/enableNotifications": true,
                            "WebhookApprovalCreationInput/enableReassignment": true
                          },
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals",
                            "connectionName": "shared_approvals",
                            "operationId": "StartAndWaitForAnApproval"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Apply_to_each_Brand_Manager_Flow": {
                        "foreach": "@outputs('Create_an_approval_Bogdan_Level_TargeList')?['body/responses']",
                        "actions": {
                          "Create_an_approval_Brand_Manager_Level_TargeList": {
                            "type": "OpenApiConnectionWebhook",
                            "inputs": {
                              "parameters": {
                                "approvalType": "Basic",
                                "WebhookApprovalCreationInput/title": "[SFMC] - TargetList Creation  -@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}",
                                "WebhookApprovalCreationInput/assignedTo": "@{body('Get_response_details')?['rcdd7e978b2634a04839cfbf5ea6f250e']};@{body('Get_response_details')?['r1449ddf4c0d348e3aad239ad7d1054b6']}",
                                "WebhookApprovalCreationInput/details": "Hello ,\n\nPlease see the details below!\nThe file can be located in the file section.\nPlease note that refusing will stop the process and a new request will have to be submitted with the new information. \n\n------------------------------------\nFile Location and Comments:\n@{items('Apply_to_each_Brand_Manager_Flow')?['comments']}\n------------------------------------\nCountry:\n@{outputs('Get_response_details')?['body/rc7a580eb9757486497bcad8a121aac10']}\n\nBrand:\n@{outputs('Get_response_details')?['body/rb277b4f06fa34114b04774864133d510']}\n\nIndication(s):\n@{outputs('Get_response_details')?['body/r086d9930e982435b970c249eadd062d2']}\n\nState/Province:\n@{outputs('Get_response_details')?['body/re707c531f2b848078ec58e08bd60860d']}\n\nLanguage:\n@{outputs('Get_response_details')?['body/reae29079a13942d08a24de15f40aba6d']}\n\nSpecialties:\n@{outputs('Get_response_details')?['body/r53c3ad49cc7d4444bd48f2d511349387']}\n\n\nMarketing Consent:\n@{outputs('Get_response_details')?['body/r2f50fc58126d420591466912b4fa2f7d']}\n\nCustomer Segmentation:\n@{outputs('Get_response_details')?['body/rb8cee04de645448eb25f19762a293608']}\n\nPotential Affinity:\n@{outputs('Get_response_details')?['body/rbc39ad7f8c2c4fb7bb3f983df9349083']}\n\nAdoption Ladder:\n@{outputs('Get_response_details')?['body/r35e8fec1ce0747d5a0c7dc98b1e9149d']}\n\nJourneys:\n@{outputs('Get_response_details')?['body/r59f67f8c3cc74d2499b8bc12b9251d62']}\n\nBTS Partner:\n@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}\n\n[Additional Information] \n@{outputs('Get_response_details')?['body/ra3b23fbabff849cfb40ff4b34f0f623b']}\n\n-BTS Canada\n\n\n\n\n",
                                "WebhookApprovalCreationInput/itemLinkDescription": "Please review  this new request \n",
                                "WebhookApprovalCreationInput/enableNotifications": true,
                                "WebhookApprovalCreationInput/enableReassignment": true
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals",
                                "connectionName": "shared_approvals",
                                "operationId": "StartAndWaitForAnApproval"
                              },
                              "authentication": "@parameters('$authentication')"
                            }
                          },
                          "Apply_to_each_2": {
                            "foreach": "@outputs('Create_an_approval_Brand_Manager_Level_TargeList')?['body/responses']",
                            "actions": {
                              "Set_variable_Brand_Manager_comments": {
                                "type": "SetVariable",
                                "inputs": {
                                  "name": "BMcomments",
                                  "value": "@items('Apply_to_each_2')?['comments']"
                                }
                              }
                            },
                            "runAfter": {
                              "Create_an_approval_Brand_Manager_Level_TargeList": [
                                "Succeeded"
                              ]
                            },
                            "type": "Foreach"
                          },
                          "Update_status_comments_after_BRM_Level_approval": {
                            "runAfter": {
                              "Apply_to_each_2": [
                                "Succeeded"
                              ]
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "dataset": "@variables('Config')?['sfmc_sharepoint_site_url']",
                                "table": "@variables('Config')?['target_list_creation_list_id']",
                                "id": "@body('Create_item_in_target_list_creation_list')?['ID']",
                                "item/Status/Value": "@{if(contains(body('Create_an_approval_Brand_Manager_Level_TargeList')?['outcome'],'Appro'),'Approval Sent - Kuo Level','Issue - BRM Level')}",
                                "item/Comments": "@{concat(body('Update_Status_Comments_after_Bogdan_Level_Approval_Target_List')?['Comments'],outputs('Compose_NewLine'),utcNow(),' - ',variables('BMcomments'))}"
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                                "connectionName": "shared_sharepointonline",
                                "operationId": "PatchItem"
                              },
                              "authentication": "@parameters('$authentication')"
                            },
                            "runtimeConfiguration": {
                              "retryPolicy": {
                                "type": "exponential",
                                "interval": "PT20S",
                                "count": 4,
                                "minimumInterval": "PT5S",
                                "maximumInterval": "PT5M"
                              }
                            }
                          },
                          "Condition_if_rejected_at_Brand_Manager_Level_List_Creation": {
                            "actions": {
                              "Set_refusal_variable_to_false": {
                                "runAfter": {
                                  "Brand_Manager_Level_Send_Email_for_Refusal_Target_List_Creation": [
                                    "Succeeded"
                                  ]
                                },
                                "type": "SetVariable",
                                "inputs": {
                                  "name": "refusalBool",
                                  "value": false
                                }
                              },
                              "Brand_Manager_Level_Send_Email_for_Refusal_Target_List_Creation": {
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "parameters": {
                                    "emailMessage/To": "@{body('Get_response_details')?['r1449ddf4c0d348e3aad239ad7d1054b6']};@{body('Get_response_details')?['rcdd7e978b2634a04839cfbf5ea6f250e']};@{body('Get_response_details')?['rbefed3e4a42f48fea2c25bed29a1373c']}",
                                    "emailMessage/Subject": "[SFMC] - TargetList Creation - Request Denied - @{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}",
                                    "emailMessage/Body": "<p>@{variables('Embed Image Link')}</p><p>Hello,</p><br><p>Please see the details below!</p><p>The request for target list creation has been denied!</p><p>Please refer to the comments below and submit a new request with the updated information.</p><p>--------------------------------------------------------------------------------------</p><p><b><strong>Brand Manager Comments:</strong></b></p><p>@{variables('BMcomments')}</p><br><p><b><strong>BTS Comments:</strong></b> </p><p>@{variables('SFMC-Comments')}</p><p>--------------------------------------------------------------------------------------</p><p><b><strong>Request Details</strong></b></p><br><p><b><strong>Requester:</strong></b></p><p>@{body('Get_response_details')?['rbefed3e4a42f48fea2c25bed29a1373c']}</p><p><b><strong>Business Owner:</strong></b></p><p>@{outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']}</p><p><b><strong>BTS Partner:</strong></b></p><p>@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}</p><p><b><strong>Due Date for this list:</strong></b></p><p>@{outputs('Get_response_details')?['body/r4b29b32843a345018723d242d2a23598']}</p><p><b><strong>Project Name:</strong></b></p><p>@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}</p><p><b><strong>Project Purpose:</strong></b></p><p>@{outputs('Get_response_details')?['body/r33281e8ab485443db88bfa7da69e57eb']}</p><p><b><strong>Therapeutic area</strong></b></p><p>@{outputs('Get_response_details')?['body/rdbcf85fb520a47f8918039518991812d']}</p><p><b><strong>Products</strong></b></p><p>@{outputs('Get_response_details')?['body/r85262cf03e6147ffade60385cb003a81']}@{outputs('Get_response_details')?['body/rb6796a54f8fc459e8bc0bea14b576f40']}@{outputs('Get_response_details')?['body/rf31aec25453844d0a12c5f94e278d165']}@{outputs('Get_response_details')?['body/r7f3efd9c578d4d29b24d1d45ac511796']}@{outputs('Get_response_details')?['body/rd826b02cd60d4fc6b8d4644932c93029']}@{outputs('Get_response_details')?['body/r501d13baa8014a90ab98328648423f51']}@{outputs('Get_response_details')?['body/r6ecd487e43b842b7aecf9336101b47ef']}@{outputs('Get_response_details')?['body/r41e4e2960ef54fd396446511161a2069']}@{outputs('Get_response_details')?['body/r2b7e06412219483089650f86a1b59e1c']}@{outputs('Get_response_details')?['body/r53d4b376102f4cdcac543bcca50d70f9']}@{outputs('Get_response_details')?['body/r77bc48b870f546aca43cffe1a621c5d2']}@{outputs('Get_response_details')?['body/r70c01f71432343cba530d149cbd9a4b0']}@{outputs('Get_response_details')?['body/r0f29b59db066490a8a2a3548859d5c9c']}@{outputs('Get_response_details')?['body/rcb80e346cc2c47fd839fa9050fc4833e']}@{outputs('Get_response_details')?['body/rf746ac3d9c1b4747b6c749d7986ff4a3']} @{outputs('Get_response_details')?['body/r593d04b111fe48dca560a3f14c5dbd13']} @{outputs('Get_response_details')?['body/ra8949a5082164268970b592716d0763f']}</p><p><b><strong>Customer Segmentation:</strong></b></p><p>@{outputs('Get_response_details')?['body/rbe1f1d622629494e8ec8fcf472e7e896']}@{outputs('Get_response_details')?['body/red9fa52543b941e3a7ec0c01087986f1']}@{outputs('Get_response_details')?['body/r9fcd45d7356847d9871289e1d1b866f1']}@{outputs('Get_response_details')?['body/r0e95f7ad825d424e87d666bea26fd116']}@{outputs('Get_response_details')?['body/rd9c19e90f3664899b6791fbbef6a906d']}@{outputs('Get_response_details')?['body/r46e5cb943c2b4362a02ccaf73955c809']}@{outputs('Get_response_details')?['body/r2f931b9a0c394c228d8ce402fb9670f1']}@{outputs('Get_response_details')?['body/r77d1606e70644980ac98c9dfad9ce5d9']}@{outputs('Get_response_details')?['body/r1b631645fc484b02bd8846d90a91a07d']}@{outputs('Get_response_details')?['body/r01eb5888376147cf9921cd3d148290a7']}@{outputs('Get_response_details')?['body/r2a74152e3e4b4d56a4755afc4df24aa6']}@{outputs('Get_response_details')?['body/re784c01c42c6414896a88fdc66199465']}@{outputs('Get_response_details')?['body/rf5101189fa8a47a0991822a4021f12d1']}@{outputs('Get_response_details')?['body/r81dcbcd6de51464ea3e2e2e929b5c65a']}@{outputs('Get_response_details')?['body/rfe22950f2e0a458f8d79d17f9f8df639']}@{outputs('Get_response_details')?['body/r4bfe9130f7e346968c2a1568e09ea11e']}@{outputs('Get_response_details')?['body/rdba22903966645c0a0a3ccc25af65eac']}</p><p><b><strong>Choose the Specialties you wish to include:</strong></b></p><p>@{outputs('Get_response_details')?['body/r2b193091da0b4ebcaea3747b3fe63d97']} @{outputs('Get_response_details')?['body/r1f926f5d80364f7db79aa20bc1902b42']}</p><p><b><strong>Province if applicable:</strong></b></p><p>@{outputs('Get_response_details')?['body/r145d5ef0c1f2433f8ab7a94cefa91257']}</p><p><b><strong>Veeva Vault ID / PromoMats:</strong></b></p><p>@{outputs('Get_response_details')?['body/r9fc1199a4639475bb1b6421905d892c2']}</p><p><b><strong>Languange</strong></b></p><p>@{outputs('Get_response_details')?['body/r47a0da27a2ea4a1eb51083aad4f50c2d']}</p><p><b><strong>Excluded Individuals:</strong></b></p><p>@{outputs('Get_response_details')?['body/ra7d9f37cf62a4231bd97704f22f84057']}</p><p><b><strong>Adoption ladder:</strong></b></p><p>@{outputs('Get_response_details')?['body/rb2911fbfa5d34f4c8bf486960f0c6ed1']}@{outputs('Get_response_details')?['body/rc73ae3a6b3f84706ae8d13cc3197dc67']}</p><p><b><strong>Potential &amp; Affinity</strong></b></p><p>@{outputs('Get_response_details')?['body/r1944605c75444705b756c1c10fb48290']} @{outputs('Get_response_details')?['body/r1db0f5cb12fd440d95ebe638ea6a22ff']}</p><p><b><strong>Comments</strong></b></p><p>@{outputs('Get_response_details')?['body/r0e2a968022b34459b963ad771e06762b']}</p><br><p>-BTS Canada</p><br><br><br><br><br>",
                                    "emailMessage/From": "@variables('Config')?['bts_digital_sender_email']",
                                    "emailMessage/Cc": "@variables('Config')?['brand_manager_refusal_cc']",
                                    "emailMessage/Importance": "Normal"
                                  },
                                  "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                                    "connectionName": "shared_office365_1",
                                    "operationId": "SendEmailV2"
                                  },
                                  "authentication": "@parameters('$authentication')"
                                }
                              }
                            },
                            "runAfter": {
                              "Update_status_comments_after_BRM_Level_approval": [
                                "Succeeded"
                              ]
                            },
                            "else": {
                              "actions": {}
                            },
                            "expression": {
                              "and": [
                                {
                                  "contains": [
                                    "@outputs('Create_an_approval_Brand_Manager_Level_TargeList')?['body/outcome']",
                                    "Reject "
                                  ]
                                }
                              ]
                            },
                            "type": "If"
                          }
                        },
                        "runAfter": {
                          "Condition_if_rejected_at_Bogdan_Level": [
                            "Succeeded"
                          ]
                        },
                        "type": "Foreach"
                      },
                      "Apply_to_each_KUO_Approval_Flow": {
                        "foreach": "@outputs('Create_an_approval_Bogdan_Level_TargeList')?['body/responses']",
                        "actions": {
                          "Create_an_approval_KUO_level_TargeList": {
                            "type": "OpenApiConnectionWebhook",
                            "inputs": {
                              "parameters": {
                                "approvalType": "CustomResponse",
                                "WebhookApprovalCreationInput/responseOptions": [
                                  "Approve",
                                  "Refuse"
                                ],
                                "WebhookApprovalCreationInput/title": "[SFMC] - TargetList Creation  -@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}",
                                "WebhookApprovalCreationInput/assignedTo": "@variables('Config')?['kuo_approver_email']",
                                "WebhookApprovalCreationInput/details": "Hello ,\n\nPlease see the details below!\n\n--------------------------------------------\nFile location and BTS comments:\n-@{items('Apply_to_each_KUO_Approval_Flow')?['comments']}-\n\nBrand Manager comments:\n-@{variables('BMcomments')}-\n--------------------------------------------\n\nCountry:\n@{outputs('Get_response_details')?['body/rc7a580eb9757486497bcad8a121aac10']}\n\nBusiness Owner:\n@{outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']}\n\nBTS Partner:\n@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}\n\nDue Date for this list:\n@{outputs('Get_response_details')?['body/r4b29b32843a345018723d242d2a23598']}\n\nProject Name:\n@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}\n\nProject Purpose\n@{outputs('Get_response_details')?['body/r33281e8ab485443db88bfa7da69e57eb']}\n\nTherapeutic area\n@{outputs('Get_response_details')?['body/rdbcf85fb520a47f8918039518991812d']}\n\nProducts\n@{outputs('Get_response_details')?['body/r85262cf03e6147ffade60385cb003a81']}@{outputs('Get_response_details')?['body/rb6796a54f8fc459e8bc0bea14b576f40']}@{outputs('Get_response_details')?['body/rf31aec25453844d0a12c5f94e278d165']}@{outputs('Get_response_details')?['body/r7f3efd9c578d4d29b24d1d45ac511796']}@{outputs('Get_response_details')?['body/rd826b02cd60d4fc6b8d4644932c93029']}@{outputs('Get_response_details')?['body/r501d13baa8014a90ab98328648423f51']}@{outputs('Get_response_details')?['body/r6ecd487e43b842b7aecf9336101b47ef']}@{outputs('Get_response_details')?['body/r41e4e2960ef54fd396446511161a2069']}@{outputs('Get_response_details')?['body/r2b7e06412219483089650f86a1b59e1c']}@{outputs('Get_response_details')?['body/r53d4b376102f4cdcac543bcca50d70f9']}@{outputs('Get_response_details')?['body/r77bc48b870f546aca43cffe1a621c5d2']}@{outputs('Get_response_details')?['body/r70c01f71432343cba530d149cbd9a4b0']}@{outputs('Get_response_details')?['body/r0f29b59db066490a8a2a3548859d5c9c']}@{outputs('Get_response_details')?['body/rcb80e346cc2c47fd839fa9050fc4833e']}@{outputs('Get_response_details')?['body/rf746ac3d9c1b4747b6c749d7986ff4a3']}\n@{outputs('Get_response_details')?['body/r593d04b111fe48dca560a3f14c5dbd13']}\n@{outputs('Get_response_details')?['body/ra8949a5082164268970b592716d0763f']}\n\n\nCustomer Segementation:\n@{outputs('Get_response_details')?['body/rbe1f1d622629494e8ec8fcf472e7e896']}@{outputs('Get_response_details')?['body/red9fa52543b941e3a7ec0c01087986f1']}@{outputs('Get_response_details')?['body/r9fcd45d7356847d9871289e1d1b866f1']}@{outputs('Get_response_details')?['body/r0e95f7ad825d424e87d666bea26fd116']}@{outputs('Get_response_details')?['body/rd9c19e90f3664899b6791fbbef6a906d']}@{outputs('Get_response_details')?['body/r46e5cb943c2b4362a02ccaf73955c809']}@{outputs('Get_response_details')?['body/r2f931b9a0c394c228d8ce402fb9670f1']}@{outputs('Get_response_details')?['body/r77d1606e70644980ac98c9dfad9ce5d9']}@{outputs('Get_response_details')?['body/r1b631645fc484b02bd8846d90a91a07d']}@{outputs('Get_response_details')?['body/r01eb5888376147cf9921cd3d148290a7']}@{outputs('Get_response_details')?['body/r2a74152e3e4b4d56a4755afc4df24aa6']}@{outputs('Get_response_details')?['body/re784c01c42c6414896a88fdc66199465']}@{outputs('Get_response_details')?['body/rf5101189fa8a47a0991822a4021f12d1']}@{outputs('Get_response_details')?['body/r81dcbcd6de51464ea3e2e2e929b5c65a']}@{outputs('Get_response_details')?['body/rfe22950f2e0a458f8d79d17f9f8df639']}@{outputs('Get_response_details')?['body/r4bfe9130f7e346968c2a1568e09ea11e']}@{outputs('Get_response_details')?['body/rdba22903966645c0a0a3ccc25af65eac']}\n\nChoose the Specialties you wish to include:\n\n@{outputs('Get_response_details')?['body/r2b193091da0b4ebcaea3747b3fe63d97']}\n@{outputs('Get_response_details')?['body/r1f926f5d80364f7db79aa20bc1902b42']}\n\nProvince if applicable:\n@{outputs('Get_response_details')?['body/r145d5ef0c1f2433f8ab7a94cefa91257']}\n\nVeeva Vault ID / PromoMats:\n@{outputs('Get_response_details')?['body/r9fc1199a4639475bb1b6421905d892c2']}\n\nLanguange :\n@{outputs('Get_response_details')?['body/r47a0da27a2ea4a1eb51083aad4f50c2d']}\n\nExcluded Individuals:\n@{outputs('Get_response_details')?['body/ra7d9f37cf62a4231bd97704f22f84057']}\n\nAdoption ladder:\n@{outputs('Get_response_details')?['body/rb2911fbfa5d34f4c8bf486960f0c6ed1']}@{outputs('Get_response_details')?['body/rc73ae3a6b3f84706ae8d13cc3197dc67']}\n\nPotential & Affinity\n@{outputs('Get_response_details')?['body/r1944605c75444705b756c1c10fb48290']}\n@{outputs('Get_response_details')?['body/r1db0f5cb12fd440d95ebe638ea6a22ff']}\n\nComments:\n@{outputs('Get_response_details')?['body/r0e2a968022b34459b963ad771e06762b']}\n\n-BTS Canada\n\n\n",
                                "WebhookApprovalCreationInput/itemLinkDescription": "Please review  this new request \n",
                                "WebhookApprovalCreationInput/enableNotifications": true,
                                "WebhookApprovalCreationInput/enableReassignment": true
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals",
                                "connectionName": "shared_approvals",
                                "operationId": "StartAndWaitForAnApproval"
                              },
                              "authentication": "@parameters('$authentication')"
                            }
                          },
                          "Set_variable_ApprovalStatuslevel3": {
                            "runAfter": {
                              "Create_an_approval_KUO_level_TargeList": [
                                "Succeeded"
                              ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "ApprovalStatusLevel3",
                              "value": "@outputs('Create_an_approval_KUO_level_TargeList')?['body/outcome']"
                            }
                          },
                          "Compose_2": {
                            "runAfter": {
                              "Set_variable_ApprovalStatuslevel3": [
                                "Succeeded"
                              ]
                            },
                            "type": "Compose",
                            "inputs": "yes = @{variables('ApprovalStatusLevel3')}"
                          },
                          "Apply_to_each_flow_for_KUO_comments": {
                            "foreach": "@outputs('Create_an_approval_KUO_level_TargeList')?['body/responses']",
                            "actions": {
                              "Set_variable": {
                                "type": "SetVariable",
                                "inputs": {
                                  "name": "DataStewardComments",
                                  "value": "@items('Apply_to_each_flow_for_KUO_comments')?['comments']"
                                }
                              }
                            },
                            "runAfter": {
                              "Compose_2": [
                                "Succeeded"
                              ]
                            },
                            "type": "Foreach"
                          },
                          "Update_status_comments_after_Kuo_Level_approval": {
                            "runAfter": {
                              "Get_item_2": [
                                "Succeeded"
                              ]
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "dataset": "@variables('Config')?['sfmc_sharepoint_site_url']",
                                "table": "@variables('Config')?['target_list_creation_list_id']",
                                "id": "@body('Create_item_in_target_list_creation_list')?['ID']",
                                "item/Status/Value": "@{if(contains(body('Create_an_approval_KUO_level_TargeList')?['outcome'],'Appro'),'Target List Approved','Target List Refused')}",
                                "item/Comments": "@{concat(body('Get_item_2')?['Comments'],outputs('Compose_NewLine'),utcNow(),' - ',variables('DataStewardComments'))}"
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                                "connectionName": "shared_sharepointonline",
                                "operationId": "PatchItem"
                              },
                              "authentication": "@parameters('$authentication')"
                            },
                            "runtimeConfiguration": {
                              "retryPolicy": {
                                "type": "exponential",
                                "interval": "PT20S",
                                "count": 4,
                                "minimumInterval": "PT5S",
                                "maximumInterval": "PT5M"
                              }
                            }
                          },
                          "Get_item_2": {
                            "runAfter": {
                              "Apply_to_each_flow_for_KUO_comments": [
                                "Succeeded"
                              ]
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "dataset": "@variables('Config')?['sfmc_sharepoint_site_url']",
                                "table": "@variables('Config')?['target_list_creation_list_id']",
                                "id": "@body('Create_item_in_target_list_creation_list')?['ID']"
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                                "connectionName": "shared_sharepointonline",
                                "operationId": "GetItem"
                              },
                              "authentication": "@parameters('$authentication')"
                            },
                            "runtimeConfiguration": {
                              "retryPolicy": {
                                "type": "exponential",
                                "interval": "PT20S",
                                "count": 4,
                                "minimumInterval": "PT5S",
                                "maximumInterval": "PT5M"
                              }
                            }
                          },
                          "Condition_If_Approved_all_the_way_down": {
                            "actions": {
                              "Set_variable_If_approved_3": {
                                "type": "SetVariable",
                                "inputs": {
                                  "name": "ApprovalStatus",
                                  "value": "Approved"
                                }
                              }
                            },
                            "runAfter": {
                              "Update_status_comments_after_Kuo_Level_approval": [
                                "Succeeded"
                              ]
                            },
                            "else": {
                              "actions": {
                                "Set_variable_If_refused_3": {
                                  "type": "SetVariable",
                                  "inputs": {
                                    "name": "ApprovalStatus",
                                    "value": "Denied"
                                  }
                                }
                              }
                            },
                            "expression": {
                              "and": [
                                {
                                  "contains": [
                                    "@body('Create_an_approval_KUO_level_TargeList')?['outcome']",
                                    "Appro"
                                  ]
                                }
                              ]
                            },
                            "type": "If"
                          },
                          "Send_an_email_to_Brand_Managers": {
                            "runAfter": {
                              "Condition_If_Approved_all_the_way_down": [
                                "Succeeded"
                              ]
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "emailMessage/To": "@body('Get_response_details')?['r1449ddf4c0d348e3aad239ad7d1054b6']",
                                "emailMessage/Subject": "[SFMC] - TargetList Creation  -@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']} - @{variables('ApprovalStatus')}",
                                "emailMessage/Body": "<p class=\"editor-paragraph\">@{variables('Embed Image Link')}<br><br><br>Hello ,<br><br>Your request has been @{variables('ApprovalStatus')}<br>See the details &nbsp;below.<br><br>----------------------------------------<br>Brand manger comments:<br>-@{variables('BMcomments')}-<br><br>Data Steward comments:<br>-@{variables('DataStewardComments')}-<br><br>SFMC Dev comments:<br>-@{variables('SFMC-Comments')}<br>-----------------------------------</p><br><p class=\"editor-paragraph\"><br><b><strong class=\"editor-text-bold\">Country:</strong></b><br>@{outputs('Get_response_details')?['body/rc7a580eb9757486497bcad8a121aac10']}<br><br><b><strong class=\"editor-text-bold\">Brand:</strong></b><br>@{outputs('Get_response_details')?['body/rb277b4f06fa34114b04774864133d510']}<br><br>Indication(s):<br>@{outputs('Get_response_details')?['body/r086d9930e982435b970c249eadd062d2']}<br><br><b><strong class=\"editor-text-bold\">State/Province:</strong></b><br>@{outputs('Get_response_details')?['body/re707c531f2b848078ec58e08bd60860d']}<br><br><b><strong class=\"editor-text-bold\">Language:</strong></b><br>@{outputs('Get_response_details')?['body/reae29079a13942d08a24de15f40aba6d']}<br><br><br><br><b><strong class=\"editor-text-bold\">Specialties:</strong></b><br>@{outputs('Get_response_details')?['body/r53c3ad49cc7d4444bd48f2d511349387']}<br><br><br><b><strong class=\"editor-text-bold\">Marketing Consent:</strong></b><br>@{outputs('Get_response_details')?['body/r2f50fc58126d420591466912b4fa2f7d']}<br><br><b><strong class=\"editor-text-bold\">Customer Segmentation:</strong></b><br>@{outputs('Get_response_details')?['body/rb8cee04de645448eb25f19762a293608']}<br><br><b><strong class=\"editor-text-bold\">Potential Affinity:</strong></b><br>@{outputs('Get_response_details')?['body/rbc39ad7f8c2c4fb7bb3f983df9349083']}<br><br><b><strong class=\"editor-text-bold\">Adoption Ladder:</strong></b><br>@{outputs('Get_response_details')?['body/r35e8fec1ce0747d5a0c7dc98b1e9149d']}<br><br><b><strong class=\"editor-text-bold\">Journeys:</strong></b><br>@{outputs('Get_response_details')?['body/r59f67f8c3cc74d2499b8bc12b9251d62']}<br><br><b><strong class=\"editor-text-bold\">BTS Partner:</strong></b><br>@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}<br><br><br><br>-BTS Canada<br><br><br><br></p><br>",
                                "emailMessage/Cc": "@{body('Get_response_details')?['rcdd7e978b2634a04839cfbf5ea6f250e']};matias.lazo@abbvie.com",
                                "emailMessage/Bcc": "@variables('Config')?['flow_owner_email']",
                                "emailMessage/Importance": "Normal"
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                                "connectionName": "shared_office365_1",
                                "operationId": "SendEmailV2"
                              },
                              "authentication": "@parameters('$authentication')"
                            }
                          },
                          "Send_an_email_for_flow_failure_2": {
                            "runAfter": {
                              "Send_an_email_to_Brand_Managers": [
                                "Skipped",
                                "Failed"
                              ]
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "emailMessage/To": "@variables('Config')?['flow_owner_email']",
                                "emailMessage/Subject": "SFMC Intake Flow Has Failed",
                                "emailMessage/Body": "<p>A recent run of the SFMC Intake flow has failed.</p>",
                                "emailMessage/Importance": "Normal"
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                                "connectionName": "shared_office365_1",
                                "operationId": "SendEmailV2"
                              },
                              "authentication": "@parameters('$authentication')"
                            }
                          }
                        },
                        "runAfter": {
                          "Condition_country": [
                            "Succeeded"
                          ]
                        },
                        "type": "Foreach"
                      },
                      "Apply_to_each_Get_comments_from_Bogdan": {
                        "foreach": "@outputs('Create_an_approval_Bogdan_Level_TargeList')?['body/responses']",
                        "actions": {
                          "Set_variable_SFMC_Comments_set": {
                            "type": "SetVariable",
                            "inputs": {
                              "name": "SFMC-Comments",
                              "value": "@items('Apply_to_each_Get_comments_from_Bogdan')?['comments']"
                            }
                          }
                        },
                        "runAfter": {
                          "Create_an_approval_Bogdan_Level_TargeList": [
                            "Succeeded"
                          ]
                        },
                        "type": "Foreach"
                      },
                      "Create_item_in_target_list_creation_list": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "dataset": "@variables('Config')?['sfmc_sharepoint_site_url']",
                            "table": "@variables('Config')?['target_list_creation_list_id']",
                            "item/DateRequested": "@{utcNow()}",
                            "item/Status/Value": "Approval Sent - Bogdan Level",
                            "item/BusinessOwner/Claims": "@body('Get_response_details')?['r1449ddf4c0d348e3aad239ad7d1054b6']",
                            "item/BTSPartner/Claims": "@body('Get_response_details')?['rcdd7e978b2634a04839cfbf5ea6f250e']",
                            "item/ProjectName": "@body('Get_response_details')?['ra8c5068a5e644142a9002f0d53fe0c5c']",
                            "item/ProjectPurpose": "@body('Get_response_details')?['r33281e8ab485443db88bfa7da69e57eb']",
                            "item/Product": "@outputs('Get_response_details')?['body/rb277b4f06fa34114b04774864133d510']",
                            "item/CustomerSegmentation": "@outputs('Get_response_details')?['body/rb8cee04de645448eb25f19762a293608']",
                            "item/TherapeuticArea": "@outputs('Get_response_details')?['body/r086d9930e982435b970c249eadd062d2']",
                            "item/Specialities": "@outputs('Get_response_details')?['body/r53c3ad49cc7d4444bd48f2d511349387']",
                            "item/AdoptionLadder": "@outputs('Get_response_details')?['body/r35e8fec1ce0747d5a0c7dc98b1e9149d']",
                            "item/country": "@outputs('Get_response_details')?['body/rf25fdbb25c974f3298f73e2b24c75021']"
                          },
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                            "connectionName": "shared_sharepointonline",
                            "operationId": "PostItem"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Update_Status_Comments_after_Bogdan_Level_Approval_Target_List": {
                        "runAfter": {
                          "Get_item_1": [
                            "Succeeded"
                          ]
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "dataset": "@variables('Config')?['sfmc_sharepoint_site_url']",
                            "table": "@variables('Config')?['target_list_creation_list_id']",
                            "id": "@body('Get_item_1')?['ID']",
                            "item/Status/Value": "@{if(contains(body('Create_an_approval_Bogdan_Level_TargeList')?['outcome'],'Appro'),'Approval Sent - BRM Level','Issue - Bogdan Level')}",
                            "item/Comments": "@{concat(body('Get_item_1')?['Comments'],outputs('Compose_NewLine'),utcNow(),' - ',variables('SFMC-Comments'))}"
                          },
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                            "connectionName": "shared_sharepointonline",
                            "operationId": "PatchItem"
                          },
                          "authentication": "@parameters('$authentication')"
                        },
                        "runtimeConfiguration": {
                          "retryPolicy": {
                            "type": "exponential",
                            "interval": "PT20S",
                            "count": 4,
                            "minimumInterval": "PT5S",
                            "maximumInterval": "PT5M"
                          }
                        }
                      },
                      "Get_item_1": {
                        "runAfter": {
                          "Apply_to_each_Get_comments_from_Bogdan": [
                            "Succeeded"
                          ]
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "dataset": "@variables('Config')?['sfmc_sharepoint_site_url']",
                            "table": "@variables('Config')?['target_list_creation_list_id']",
                            "id": "@body('Create_item_in_target_list_creation_list')?['ID']"
                          },
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                            "connectionName": "shared_sharepointonline",
                            "operationId": "GetItem"
                          },
                          "authentication": "@parameters('$authentication')"
                        },
                        "runtimeConfiguration": {
                          "retryPolicy": {
                            "type": "exponential",
                            "interval": "PT20S",
                            "count": 4,
                            "minimumInterval": "PT5S",
                            "maximumInterval": "PT5M"
                          }
                        }
                      },
                      "Terminate": {
                        "runAfter": {
                          "SFMC_Target_List_1": [
                            "Succeeded"
                          ]
                        },
                        "type": "Terminate",
                        "inputs": {
                          "runStatus": "Succeeded"
                        }
                      },
                      "Condition_if_rejected_at_Bogdan_Level": {
                        "actions": {
                          "Terminate_2": {
                            "runAfter": {
                              "BTS_Level_Send_Email_for_Refusal_Target_List_Creation": [
                                "Succeeded"
                              ]
                            },
                            "type": "Terminate",
                            "inputs": {
                              "runStatus": "Succeeded"
                            }
                          },
                          "BTS_Level_Send_Email_for_Refusal_Target_List_Creation": {
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "emailMessage/To": "@{body('Get_response_details')?['r1449ddf4c0d348e3aad239ad7d1054b6']};@{body('Get_response_details')?['rcdd7e978b2634a04839cfbf5ea6f250e']};@{body('Get_response_details')?['rbefed3e4a42f48fea2c25bed29a1373c']}",
                                "emailMessage/Subject": "[SFMC] - TargetList Creation - Request Denied - @{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}",
                                "emailMessage/Body": "<p>@{variables('Embed Image Link')} </p><p>Hello, </p><br><p>Please see the details below! </p><p>The request for target list creation has been denied! </p><p>Please refer to the comments below and submit a new request with the updated information.</p><p>--------------------------------------------------------------------------------------<br><b><strong>BTS Comments:</strong></b><br>@{variables('SFMC-Comments')}</p><p>--------------------------------------------------------------------------------------</p><p><b><strong>Request Details</strong></b></p><br><p><b><strong>Requester:</strong></b></p><p>@{body('Get_response_details')?['rbefed3e4a42f48fea2c25bed29a1373c']}</p><p><b><strong>Business Owner:</strong></b> </p><p>@{outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']} </p><p><b><strong>BTS Partner:</strong></b> </p><p>@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']} </p><p><b><strong>Due Date for this list:</strong></b> </p><p>@{outputs('Get_response_details')?['body/r4b29b32843a345018723d242d2a23598']}</p><p><b><strong>Project Name:</strong></b></p><p>@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']} </p><p><b><strong>Project Purpose:</strong></b> </p><p>@{outputs('Get_response_details')?['body/r33281e8ab485443db88bfa7da69e57eb']} </p><p><b><strong>Therapeutic area</strong></b> </p><p>@{outputs('Get_response_details')?['body/rdbcf85fb520a47f8918039518991812d']} </p><p><b><strong>Products</strong></b> </p><p>@{outputs('Get_response_details')?['body/r85262cf03e6147ffade60385cb003a81']}@{outputs('Get_response_details')?['body/rb6796a54f8fc459e8bc0bea14b576f40']}@{outputs('Get_response_details')?['body/rf31aec25453844d0a12c5f94e278d165']}@{outputs('Get_response_details')?['body/r7f3efd9c578d4d29b24d1d45ac511796']}@{outputs('Get_response_details')?['body/rd826b02cd60d4fc6b8d4644932c93029']}@{outputs('Get_response_details')?['body/r501d13baa8014a90ab98328648423f51']}@{outputs('Get_response_details')?['body/r6ecd487e43b842b7aecf9336101b47ef']}@{outputs('Get_response_details')?['body/r41e4e2960ef54fd396446511161a2069']}@{outputs('Get_response_details')?['body/r2b7e06412219483089650f86a1b59e1c']}@{outputs('Get_response_details')?['body/r53d4b376102f4cdcac543bcca50d70f9']}@{outputs('Get_response_details')?['body/r77bc48b870f546aca43cffe1a621c5d2']}@{outputs('Get_response_details')?['body/r70c01f71432343cba530d149cbd9a4b0']}@{outputs('Get_response_details')?['body/r0f29b59db066490a8a2a3548859d5c9c']}@{outputs('Get_response_details')?['body/rcb80e346cc2c47fd839fa9050fc4833e']}@{outputs('Get_response_details')?['body/rf746ac3d9c1b4747b6c749d7986ff4a3']} @{outputs('Get_response_details')?['body/r593d04b111fe48dca560a3f14c5dbd13']} @{outputs('Get_response_details')?['body/ra8949a5082164268970b592716d0763f']} </p><p><b><strong>Customer Segmentation:</strong></b> </p><p>@{outputs('Get_response_details')?['body/rbe1f1d622629494e8ec8fcf472e7e896']}@{outputs('Get_response_details')?['body/red9fa52543b941e3a7ec0c01087986f1']}@{outputs('Get_response_details')?['body/r9fcd45d7356847d9871289e1d1b866f1']}@{outputs('Get_response_details')?['body/r0e95f7ad825d424e87d666bea26fd116']}@{outputs('Get_response_details')?['body/rd9c19e90f3664899b6791fbbef6a906d']}@{outputs('Get_response_details')?['body/r46e5cb943c2b4362a02ccaf73955c809']}@{outputs('Get_response_details')?['body/r2f931b9a0c394c228d8ce402fb9670f1']}@{outputs('Get_response_details')?['body/r77d1606e70644980ac98c9dfad9ce5d9']}@{outputs('Get_response_details')?['body/r1b631645fc484b02bd8846d90a91a07d']}@{outputs('Get_response_details')?['body/r01eb5888376147cf9921cd3d148290a7']}@{outputs('Get_response_details')?['body/r2a74152e3e4b4d56a4755afc4df24aa6']}@{outputs('Get_response_details')?['body/re784c01c42c6414896a88fdc66199465']}@{outputs('Get_response_details')?['body/rf5101189fa8a47a0991822a4021f12d1']}@{outputs('Get_response_details')?['body/r81dcbcd6de51464ea3e2e2e929b5c65a']}@{outputs('Get_response_details')?['body/rfe22950f2e0a458f8d79d17f9f8df639']}@{outputs('Get_response_details')?['body/r4bfe9130f7e346968c2a1568e09ea11e']}@{outputs('Get_response_details')?['body/rdba22903966645c0a0a3ccc25af65eac']}</p><p><b><strong>Choose the Specialties you wish to include:</strong></b> </p><p>@{outputs('Get_response_details')?['body/r2b193091da0b4ebcaea3747b3fe63d97']} @{outputs('Get_response_details')?['body/r1f926f5d80364f7db79aa20bc1902b42']} </p><p><b><strong>Province if applicable:</strong></b> </p><p>@{outputs('Get_response_details')?['body/r145d5ef0c1f2433f8ab7a94cefa91257']} </p><p><b><strong>Veeva Vault ID / PromoMats:</strong></b> </p><p>@{outputs('Get_response_details')?['body/r9fc1199a4639475bb1b6421905d892c2']} </p><p><b><strong>Languange</strong></b></p><p>@{outputs('Get_response_details')?['body/r47a0da27a2ea4a1eb51083aad4f50c2d']} </p><p><b><strong>Excluded Individuals:</strong></b></p><p>@{outputs('Get_response_details')?['body/ra7d9f37cf62a4231bd97704f22f84057']}</p><p><b><strong>Adoption ladder:</strong></b></p><p>@{outputs('Get_response_details')?['body/rb2911fbfa5d34f4c8bf486960f0c6ed1']}@{outputs('Get_response_details')?['body/rc73ae3a6b3f84706ae8d13cc3197dc67']} </p><p><b><strong>Potential &amp; Affinity</strong></b> </p><p>@{outputs('Get_response_details')?['body/r1944605c75444705b756c1c10fb48290']} @{outputs('Get_response_details')?['body/r1db0f5cb12fd440d95ebe638ea6a22ff']} </p><p><b><strong>Comments</strong></b></p><p>@{outputs('Get_response_details')?['body/r0e2a968022b34459b963ad771e06762b']} </p><br><p>-BTS Canada</p><br><br><br><br><br>",
                                "emailMessage/From": "@variables('Config')?['bts_digital_sender_email']",
                                "emailMessage/Cc": "@variables('Config')?['flow_owner_email']",
                                "emailMessage/Importance": "Normal"
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                                "connectionName": "shared_office365_1",
                                "operationId": "SendEmailV2"
                              },
                              "authentication": "@parameters('$authentication')"
                            }
                          }
                        },
                        "runAfter": {
                          "Update_Status_Comments_after_Bogdan_Level_Approval_Target_List": [
                            "Succeeded",
                            "Failed",
                            "Skipped"
                          ]
                        },
                        "else": {
                          "actions": {}
                        },
                        "expression": {
                          "and": [
                            {
                              "not": {
                                "contains": [
                                  "@body('Create_an_approval_Bogdan_Level_TargeList')?['outcome']",
                                  "Appro"
                                ]
                              }
                            }
                          ]
                        },
                        "type": "If"
                      },
                      "Condition_if_refusal_var_is_queal_to_false_request_denied": {
                        "actions": {
                          "Terminate_3": {
                            "type": "Terminate",
                            "inputs": {
                              "runStatus": "Succeeded"
                            }
                          }
                        },
                        "runAfter": {
                          "Apply_to_each_Brand_Manager_Flow": [
                            "Succeeded",
                            "Failed",
                            "Skipped"
                          ]
                        },
                        "else": {
                          "actions": {}
                        },
                        "expression": {
                          "and": [
                            {
                              "equals": [
                                "@variables('refusalBool')",
                                false
                              ]
                            }
                          ]
                        },
                        "type": "If"
                      },
                      "Condition_country": {
                        "actions": {},
                        "runAfter": {
                          "Terminate_flow": [
                            "Succeeded"
                          ]
                        },
                        "else": {
                          "actions": {
                            "Send_an_email_to_Brand_Managers_2": {
                              "type": "OpenApiConnection",
                              "inputs": {
                                "parameters": {
                                  "emailMessage/To": "@body('Get_response_details')?['r1449ddf4c0d348e3aad239ad7d1054b6']",
                                  "emailMessage/Subject": "[SFMC] - TargetList Creation  -@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']} - @{outputs('Create_an_approval_Bogdan_Level_TargeList')?['body/outcome']}",
                                  "emailMessage/Body": "<p class=\"editor-paragraph\">@{variables('Embed Image Link')}<br><br><br>Hello ,<br><br>Your request has been @{outputs('Create_an_approval_Bogdan_Level_TargeList')?['body/outcome']}<br>See the details &nbsp;below.<br><br>----------------------------------------<br>Brand manger comments:<br>-@{variables('BMcomments')}-<br><br>SFMC Dev comments:<br>-@{variables('SFMC-Comments')}<br><br>---------------------------------------------<br><br>Country:<br>@{outputs('Get_response_details')?['body/rc7a580eb9757486497bcad8a121aac10']}<br><br>Brand:<br>@{outputs('Get_response_details')?['body/rb277b4f06fa34114b04774864133d510']}<br><br>Indication(s):<br>@{outputs('Get_response_details')?['body/r086d9930e982435b970c249eadd062d2']}<br><br>State/Province:<br>@{outputs('Get_response_details')?['body/re707c531f2b848078ec58e08bd60860d']}<br><br>Language:<br>@{outputs('Get_response_details')?['body/reae29079a13942d08a24de15f40aba6d']}<br><br>Customer Type:<br>@{outputs('Get_response_details')?['body/r935411b1149944ac986ef09109d80264']}<br><br>Specialties:<br>@{outputs('Get_response_details')?['body/r53c3ad49cc7d4444bd48f2d511349387']}<br><br>Cycle Plan:<br>@{outputs('Get_response_details')?['body/rafb33fdf25304cba80083def300893a4']}<br><br>Marketing Consent:<br>@{outputs('Get_response_details')?['body/r2f50fc58126d420591466912b4fa2f7d']}<br><br>Customer Segmentation:<br>@{outputs('Get_response_details')?['body/rb8cee04de645448eb25f19762a293608']}<br><br>Potential Affinity:<br>@{outputs('Get_response_details')?['body/rbc39ad7f8c2c4fb7bb3f983df9349083']}<br><br>Adoption Ladder:<br>@{outputs('Get_response_details')?['body/r35e8fec1ce0747d5a0c7dc98b1e9149d']}<br><br>Journeys:<br>@{outputs('Get_response_details')?['body/r59f67f8c3cc74d2499b8bc12b9251d62']}<br><br>BTS Partner:<br>@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}</p><br><p class=\"editor-paragraph\">[Additional Information] <br>@{outputs('Get_response_details')?['body/ra3b23fbabff849cfb40ff4b34f0f623b']}<br></p><br><p class=\"editor-paragraph\"><br>-BTS Canada<br><br><br><br></p><br>",
                                  "emailMessage/Cc": "@body('Get_response_details')?['rcdd7e978b2634a04839cfbf5ea6f250e']",
                                  "emailMessage/Bcc": "@variables('Config')?['flow_owner_email']",
                                  "emailMessage/Importance": "Normal"
                                },
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                                  "connectionName": "shared_office365_1",
                                  "operationId": "SendEmailV2"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            },
                            "Terminate_5": {
                              "runAfter": {
                                "SFMC_Target_List_1_1": [
                                  "Succeeded"
                                ]
                              },
                              "type": "Terminate",
                              "inputs": {
                                "runStatus": "Succeeded"
                              }
                            },
                            "SFMC_Target_List_1_1": {
                              "runAfter": {
                                "Send_an_email_to_Brand_Managers_2": [
                                  "Succeeded"
                                ]
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "parameters": {
                                  "emailMessage/To": "@variables('Config')?['sfmc_support_email']",
                                  "emailMessage/Subject": "[SMO] - SFMC Target List-  - ",
                                  "emailMessage/Body": "<p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Hi Team,</strong></b><br><br><b><strong class=\"editor-text-bold\">Can you please process the request listed below:</strong></b><br><a href=\"https://abbvienow.service-now.com/now/nav/ui/classic/params/target/incident.do%3Fsys_id%3D-1%26sysparm_query%3Dactive%3Dtrue%26sysparm_stack%3Dincident_list.do%3Fsysparm_query%3Dactive%3Dtrue%26sysparm_view%3Ddefault%26sysparm_view_forced%3Dtrue\" class=\"editor-link\">Click here for corresponding form to complete &nbsp; </a>&nbsp;</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">and close call immediately please </strong></b><br>---------------------------------------------- ---------------------------------------<br><b><strong class=\"editor-text-bold\">SFMC– &nbsp;</strong></b><br><br><b><strong class=\"editor-text-bold\">Watchlist Emails:</strong></b><br>@{outputs('Get_response_details')?['body/r5f32442f76de4ab8b82ec42082141238']}<br>@{outputs('Get_response_details')?['body/rf51522aed7004931bc946262a64ba152']}<br><br><br><b><strong class=\"editor-text-bold\">Location</strong></b><br>CA St Laurent<br><br><b><strong class=\"editor-text-bold\">Service</strong></b><br>Salesforce Platform<br><br><b><strong class=\"editor-text-bold\">Service Offering</strong></b><br>CO-LATAM-Geo-Operations-Contractors<br><br>Contact Name:<br>@{outputs('Get_response_details')?['body/r0daf19a4a65f492f8b24c621b545aaf5']}<br><br>Country &nbsp;<br>@{outputs('Get_response_details')?['body/rd57d5ac6ea734335a4aff68b3bcdf805']}<br><br><br>--------------------------------------------------------------------------------------<br><br><b><strong class=\"editor-text-bold\">Short Description :</strong></b><br>SFMC<br><br><b><strong class=\"editor-text-bold\">Long Description : &nbsp;Enter all below</strong></b><br><br><br>Brand:<br>@{outputs('Get_response_details')?['body/rb277b4f06fa34114b04774864133d510']}<br><br>Indication(s):<br>@{outputs('Get_response_details')?['body/r086d9930e982435b970c249eadd062d2']}<br><br>State/Province:<br>@{outputs('Get_response_details')?['body/re707c531f2b848078ec58e08bd60860d']}<br><br>Language:<br>@{outputs('Get_response_details')?['body/reae29079a13942d08a24de15f40aba6d']}<br><br><br>Specialties:<br>@{outputs('Get_response_details')?['body/r53c3ad49cc7d4444bd48f2d511349387']}<br><br>Marketing Consent:<br>@{outputs('Get_response_details')?['body/r2f50fc58126d420591466912b4fa2f7d']}<br><br>Customer Segmentation:<br>@{outputs('Get_response_details')?['body/rb8cee04de645448eb25f19762a293608']}<br><br>Potential Affinity:<br>@{outputs('Get_response_details')?['body/rbc39ad7f8c2c4fb7bb3f983df9349083']}<br><br>Adoption Ladder:<br>@{outputs('Get_response_details')?['body/r35e8fec1ce0747d5a0c7dc98b1e9149d']}<br><br>Journeys:<br>@{outputs('Get_response_details')?['body/r59f67f8c3cc74d2499b8bc12b9251d62']}<br><br>BTS Partner:<br>@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}<br><br><br>[Additional Information]<br>@{outputs('Get_response_details')?['body/ra3b23fbabff849cfb40ff4b34f0f623b']}<br></p><br>",
                                  "emailMessage/From": "@variables('Config')?['bts_digital_sender_email']",
                                  "emailMessage/Cc": "@variables('Config')?['flow_owner_email']",
                                  "emailMessage/Attachments": "@variables('varAttachements')",
                                  "emailMessage/Importance": "Normal"
                                },
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                                  "connectionName": "shared_office365_1",
                                  "operationId": "SendEmailV2"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            }
                          }
                        },
                        "expression": {
                          "equals": [
                            "@outputs('Get_response_details')?['body/rc7a580eb9757486497bcad8a121aac10']",
                            "Canada"
                          ]
                        },
                        "type": "If"
                      },
                      "SFMC_Target_List_1": {
                        "runAfter": {
                          "Apply_to_each_KUO_Approval_Flow": [
                            "Succeeded"
                          ]
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "emailMessage/To": "@variables('Config')?['sfmc_support_email']",
                            "emailMessage/Subject": "[SMO] - SFMC Target List-  - ",
                            "emailMessage/Body": "<p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Hi Team,</strong></b><br><br><b><strong class=\"editor-text-bold\">Can you please process the request listed below:</strong></b><br><a href=\"https://abbvienow.service-now.com/now/nav/ui/classic/params/target/incident.do%3Fsys_id%3D-1%26sysparm_query%3Dactive%3Dtrue%26sysparm_stack%3Dincident_list.do%3Fsysparm_query%3Dactive%3Dtrue%26sysparm_view%3Ddefault%26sysparm_view_forced%3Dtrue\" class=\"editor-link\">Click here for corresponding form to complete &nbsp; </a>&nbsp;</p><br><p class=\"editor-paragraph\"><br>---------------------------------------------- ---------------------------------------<br><b><strong class=\"editor-text-bold\">SFMC– &nbsp;</strong></b><br><br><b><strong class=\"editor-text-bold\">Watchlist Emails:</strong></b><br>@{outputs('Get_response_details')?['body/r5f32442f76de4ab8b82ec42082141238']}<br>@{outputs('Get_response_details')?['body/rf51522aed7004931bc946262a64ba152']}<br><br><br><b><strong class=\"editor-text-bold\">Location</strong></b><br>CA St Laurent<br><br><b><strong class=\"editor-text-bold\">Service</strong></b><br>Salesforce Platform<br><br><b><strong class=\"editor-text-bold\">Service Offering</strong></b><br>CO-LATAM-Geo-Operations-Contractors<br><br>Contact Name:<br>@{outputs('Get_response_details')?['body/r0daf19a4a65f492f8b24c621b545aaf5']}<br><br>Country &nbsp;<br>@{outputs('Get_response_details')?['body/rd57d5ac6ea734335a4aff68b3bcdf805']}<br><br><br>--------------------------------------------------------------------------------------<br><br><b><strong class=\"editor-text-bold\">Short Description :</strong></b><br>SFMC<br><br><b><strong class=\"editor-text-bold\">Long Description : &nbsp;Enter all below</strong></b><br><br><br>Brand:<br>@{outputs('Get_response_details')?['body/rb277b4f06fa34114b04774864133d510']}<br><br>Indication(s):<br>@{outputs('Get_response_details')?['body/r086d9930e982435b970c249eadd062d2']}<br><br>State/Province:<br>@{outputs('Get_response_details')?['body/re707c531f2b848078ec58e08bd60860d']}<br><br>Language:<br>@{outputs('Get_response_details')?['body/reae29079a13942d08a24de15f40aba6d']}<br><br><br>Specialties:<br>@{outputs('Get_response_details')?['body/r53c3ad49cc7d4444bd48f2d511349387']}<br><br>Marketing Consent:<br>@{outputs('Get_response_details')?['body/r2f50fc58126d420591466912b4fa2f7d']}<br><br>Customer Segmentation:<br>@{outputs('Get_response_details')?['body/rb8cee04de645448eb25f19762a293608']}<br><br>Potential Affinity:<br>@{outputs('Get_response_details')?['body/rbc39ad7f8c2c4fb7bb3f983df9349083']}<br><br>Adoption Ladder:<br>@{outputs('Get_response_details')?['body/r35e8fec1ce0747d5a0c7dc98b1e9149d']}<br><br>Journeys:<br>@{outputs('Get_response_details')?['body/r59f67f8c3cc74d2499b8bc12b9251d62']}<br><br>BTS Partner:<br>@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}<br><br><br>[Additional Information]<br>@{outputs('Get_response_details')?['body/ra3b23fbabff849cfb40ff4b34f0f623b']}<br></p><br>",
                            "emailMessage/From": "@variables('Config')?['bts_digital_sender_email']",
                            "emailMessage/Cc": "@variables('Config')?['flow_owner_email']",
                            "emailMessage/Attachments": "@variables('varAttachements')",
                            "emailMessage/Importance": "Normal"
                          },
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                            "connectionName": "shared_office365_1",
                            "operationId": "SendEmailV2"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Send_an_email_to_Brand_Managers_final": {
                        "runAfter": {
                          "Condition_if_refusal_var_is_queal_to_false_request_denied": [
                            "Succeeded"
                          ]
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "emailMessage/To": "@body('Get_response_details')?['r1449ddf4c0d348e3aad239ad7d1054b6']",
                            "emailMessage/Subject": "[SFMC] - TargetList Creation  -@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']} - @{outputs('Create_an_approval_Bogdan_Level_TargeList')?['body/outcome']}",
                            "emailMessage/Body": "<p class=\"editor-paragraph\">@{variables('Embed Image Link')}<br><br><br>Hello ,<br><br>Your request has been @{outputs('Create_an_approval_Bogdan_Level_TargeList')?['body/outcome']}<br>See the details &nbsp;below.<br><br>----------------------------------------<br>Brand manger comments:<br>-@{variables('BMcomments')}-<br><br>SFMC Dev comments:<br>-@{variables('SFMC-Comments')}<br><br>---------------------------------------------<br><br>Country:<br>@{outputs('Get_response_details')?['body/rc7a580eb9757486497bcad8a121aac10']}<br><br>Brand:<br>@{outputs('Get_response_details')?['body/rb277b4f06fa34114b04774864133d510']}<br><br>Indication(s):<br>@{outputs('Get_response_details')?['body/r086d9930e982435b970c249eadd062d2']}<br><br>State/Province:<br>@{outputs('Get_response_details')?['body/re707c531f2b848078ec58e08bd60860d']}<br><br>Language:<br>@{outputs('Get_response_details')?['body/reae29079a13942d08a24de15f40aba6d']}<br><br>Customer Type:<br>@{outputs('Get_response_details')?['body/r935411b1149944ac986ef09109d80264']}<br><br>Specialties:<br>@{outputs('Get_response_details')?['body/r53c3ad49cc7d4444bd48f2d511349387']}<br><br>Cycle Plan:<br>@{outputs('Get_response_details')?['body/rafb33fdf25304cba80083def300893a4']}<br><br>Marketing Consent:<br>yes<br><br>Customer Segmentation:<br>@{outputs('Get_response_details')?['body/rb8cee04de645448eb25f19762a293608']}<br><br>Potential Affinity:<br>@{outputs('Get_response_details')?['body/rbc39ad7f8c2c4fb7bb3f983df9349083']}<br><br>Adoption Ladder:<br>@{outputs('Get_response_details')?['body/r35e8fec1ce0747d5a0c7dc98b1e9149d']}<br><br>Journeys:<br>@{outputs('Get_response_details')?['body/r59f67f8c3cc74d2499b8bc12b9251d62']}<br><br>BTS Partner:<br>@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}</p><br><p class=\"editor-paragraph\">[Additional Information]<br>@{outputs('Get_response_details')?['body/ra3b23fbabff849cfb40ff4b34f0f623b']}<br></p><br><p class=\"editor-paragraph\"><br>-BTS Canada<br><br><br><br></p><br>",
                            "emailMessage/Cc": "@{body('Get_response_details')?['rcdd7e978b2634a04839cfbf5ea6f250e']};@{variables('VarApprover')}",
                            "emailMessage/Bcc": "@variables('Config')?['flow_owner_email']",
                            "emailMessage/Importance": "Normal"
                          },
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                            "connectionName": "shared_office365_1",
                            "operationId": "SendEmailV2"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "SFMC_Target_List_to_c3i": {
                        "runAfter": {
                          "Send_an_email_to_Brand_Managers_final": [
                            "Succeeded"
                          ]
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "emailMessage/To": "@variables('Config')?['sfmc_support_email']",
                            "emailMessage/Subject": "[SMO] - SFMC Target List-  - ",
                            "emailMessage/Body": "<p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Hi Team,</strong></b><br><br><b><strong class=\"editor-text-bold\">Can you please process the request listed below:</strong></b><br><a href=\"https://abbvienow.service-now.com/now/nav/ui/classic/params/target/incident.do%3Fsys_id%3D-1%26sysparm_query%3Dactive%3Dtrue%26sysparm_stack%3Dincident_list.do%3Fsysparm_query%3Dactive%3Dtrue%26sysparm_view%3Ddefault%26sysparm_view_forced%3Dtrue\" class=\"editor-link\">Click here for corresponding form to complete &nbsp; </a>&nbsp;</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">and close call immediately please</strong></b><br>---------------------------------------------- ---------------------------------------<br><b><strong class=\"editor-text-bold\">SFMC– &nbsp;</strong></b><br></p><br><p class=\"editor-paragraph\"><br>Caller:@{outputs('Get_response_details')?['body/rbefed3e4a42f48fea2c25bed29a1373c']}<br>Affected User: @{outputs('Get_response_details')?['body/rbefed3e4a42f48fea2c25bed29a1373c']}</p><p class=\"editor-paragraph\"><br><b><strong class=\"editor-text-bold\">Watchlist Emails:</strong></b><br>@{outputs('Get_response_details')?['body/r5f32442f76de4ab8b82ec42082141238']}<br>@{outputs('Get_response_details')?['body/rf51522aed7004931bc946262a64ba152']}<br></p><br><p class=\"editor-paragraph\"><br><b><strong class=\"editor-text-bold\">Location</strong></b><br>CA St Laurent<br><br><b><strong class=\"editor-text-bold\">Service</strong></b><br>Salesforce Platform<br><br><b><strong class=\"editor-text-bold\">Service Offering</strong></b><br>CO-LATAM-Geo-Operations-Contractors<br><br>Contact Name:<br>@{outputs('Get_response_details')?['body/r0daf19a4a65f492f8b24c621b545aaf5']}<br><br>Country &nbsp;<br>@{outputs('Get_response_details')?['body/rd57d5ac6ea734335a4aff68b3bcdf805']}<br><br><br>--------------------------------------------------------------------------------------<br><br><b><strong class=\"editor-text-bold\">Short Description :</strong></b></p><p class=\"editor-paragraph\">{@{triggerOutputs()?['body/resourceData/responseId']}}<b><strong class=\"editor-text-bold\"> - </strong></b><br>SFMC<br><br><b><strong class=\"editor-text-bold\">Long Description : &nbsp;Enter all below</strong></b><br><br><br>Brand:<br>@{outputs('Get_response_details')?['body/rb277b4f06fa34114b04774864133d510']}<br><br>Indication(s):<br>@{outputs('Get_response_details')?['body/r086d9930e982435b970c249eadd062d2']}<br><br>State/Province:<br>@{outputs('Get_response_details')?['body/re707c531f2b848078ec58e08bd60860d']}<br><br>Language:<br>@{outputs('Get_response_details')?['body/reae29079a13942d08a24de15f40aba6d']}<br><br><br>Specialties:<br>@{outputs('Get_response_details')?['body/r53c3ad49cc7d4444bd48f2d511349387']}<br><br>Marketing Consent:<br>@{outputs('Get_response_details')?['body/r2f50fc58126d420591466912b4fa2f7d']}<br><br>Customer Segmentation:<br>@{outputs('Get_response_details')?['body/rb8cee04de645448eb25f19762a293608']}<br><br>Potential Affinity:<br>@{outputs('Get_response_details')?['body/rbc39ad7f8c2c4fb7bb3f983df9349083']}<br><br>Adoption Ladder:<br>@{outputs('Get_response_details')?['body/r35e8fec1ce0747d5a0c7dc98b1e9149d']}<br><br>Journeys:<br>@{outputs('Get_response_details')?['body/r59f67f8c3cc74d2499b8bc12b9251d62']}<br><br>BTS Partner:<br>@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}<br><br><br>[Additional Information]<br>@{outputs('Get_response_details')?['body/ra3b23fbabff849cfb40ff4b34f0f623b']}<br></p><br>",
                            "emailMessage/From": "@variables('Config')?['bts_digital_sender_email']",
                            "emailMessage/Cc": "@variables('Config')?['flow_owner_email']",
                            "emailMessage/Attachments": "@variables('varAttachements')",
                            "emailMessage/Importance": "Normal"
                          },
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                            "connectionName": "shared_office365_1",
                            "operationId": "SendEmailV2"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Terminate_flow": {
                        "runAfter": {
                          "SFMC_Target_List_to_c3i": [
                            "Succeeded"
                          ]
                        },
                        "type": "Terminate",
                        "inputs": {
                          "runStatus": "Succeeded"
                        }
                      }
                    },
                    "else": {
                      "actions": {
                        "Create_an_approval_Bogdan_Level_Email_Deployment": {
                          "runAfter": {
                            "Send_Email_for_email_deployment": [
                              "Succeeded"
                            ]
                          },
                          "type": "OpenApiConnectionWebhook",
                          "inputs": {
                            "parameters": {
                              "approvalType": "Basic",
                              "WebhookApprovalCreationInput/title": "[SFMC] Email Deployment--> Action to Peform-  @{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}",
                              "WebhookApprovalCreationInput/assignedTo": "diego.ricoy@abbvie.com;@{variables('VarApprover')};mariapaula.aguillon@abbvie.com;matias.lazo@abbvie.com",
                              "WebhookApprovalCreationInput/details": "Hello ,\n\nAn e-mail has been scheduled for deployment.\nPlease see the details below and approve when you are ready.\n\n\nCountry:\n@{outputs('Get_response_details')?['body/rc7a580eb9757486497bcad8a121aac10']}\n\nRequestor:\n@{body('Get_response_details')?['rbefed3e4a42f48fea2c25bed29a1373c']}\n\nBusiness Owner:\n@{outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']}\n\nBTS Partner:\n@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}\n\nProject Name:\n@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}\n\nProject Purpose\n@{outputs('Get_response_details')?['body/r33281e8ab485443db88bfa7da69e57eb']}\n\nList Name:\n@{body('Get_response_details')?['r3be75bb10b1b4210a2be1cbe231ce75e']}\n\n[Schedule Deployment]\n@{outputs('Get_response_details')?['body/ra6233ba0a9cd45f6b544467742791b51']}\n@{outputs('Get_response_details')?['body/r87e1eb3ec3c44db2b920dd33e060cc44']}\n\nAdditional comments :\n@{outputs('Get_response_details')?['body/r1b1e67c81ac34091bafa26c423a8777b']}\n",
                              "WebhookApprovalCreationInput/itemLinkDescription": "Please review  this new request \n",
                              "WebhookApprovalCreationInput/enableNotifications": true,
                              "WebhookApprovalCreationInput/enableReassignment": true
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals",
                              "connectionName": "shared_approvals",
                              "operationId": "StartAndWaitForAnApproval"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Condition_If_Approved": {
                          "actions": {
                            "Set_variable_If_approved": {
                              "type": "SetVariable",
                              "inputs": {
                                "name": "ApprovalStatus",
                                "value": "Approved"
                              }
                            }
                          },
                          "runAfter": {
                            "Update_status_comments_for_schedule_deployment": [
                              "Succeeded"
                            ]
                          },
                          "else": {
                            "actions": {
                              "Set_variable_If_refused": {
                                "type": "SetVariable",
                                "inputs": {
                                  "name": "ApprovalStatus",
                                  "value": "Denied"
                                }
                              }
                            }
                          },
                          "expression": {
                            "contains": [
                              "@outputs('Create_an_approval_Bogdan_Level_Email_Deployment')?['body/outcome']",
                              "Appro"
                            ]
                          },
                          "type": "If"
                        },
                        "Apply_to_each": {
                          "foreach": "@outputs('Create_an_approval_Bogdan_Level_Email_Deployment')?['body/responses']",
                          "actions": {
                            "Send_Email_for_Schedule_Deployment": {
                              "type": "OpenApiConnection",
                              "inputs": {
                                "parameters": {
                                  "emailMessage/To": "@{outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']};@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}",
                                  "emailMessage/Subject": "[SFMC] - Schedule Deployment - @{variables('ApprovalStatus')} -  @{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']} - @{outputs('Get_response_details')?['body/ra6233ba0a9cd45f6b544467742791b51']} - @{outputs('Get_response_details')?['body/r87e1eb3ec3c44db2b920dd33e060cc44']}",
                                  "emailMessage/Body": "<p class=\"editor-paragraph\">@{variables('Embed Image Link')}<br><br><br>Hello ,<br><br>Please see the details below!<br>Your request has been @{variables('ApprovalStatus')} !<br><br><b><strong class=\"editor-text-bold\">Comments from BTS:</strong></b><br><br>@{items('Apply_to_each')?['comments']}</p><br><p class=\"editor-paragraph\">Country:<br>@{outputs('Get_response_details')?['body/rc7a580eb9757486497bcad8a121aac10']}</p><br><p class=\"editor-paragraph\">Requestor:<br>@{body('Get_response_details')?['rbefed3e4a42f48fea2c25bed29a1373c']}</p><p class=\"editor-paragraph\"><br><b><strong class=\"editor-text-bold\">Business Owner:</strong></b><br>@{outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']}<br><br><b><strong class=\"editor-text-bold\">BTS Partner:</strong></b><br>@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}<br><br><b><strong class=\"editor-text-bold\">Project Name:</strong></b><br>@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}<br><br><b><strong class=\"editor-text-bold\">Project Purpose:</strong></b><br>@{outputs('Get_response_details')?['body/r33281e8ab485443db88bfa7da69e57eb']}<br><br><b><strong class=\"editor-text-bold\">Date of &nbsp;Deployment:</strong></b><br>@{outputs('Get_response_details')?['body/ra6233ba0a9cd45f6b544467742791b51']}@{outputs('Get_response_details')?['body/r87e1eb3ec3c44db2b920dd33e060cc44']}<br><br><b><strong class=\"editor-text-bold\">Additonal Comments:</strong></b><br>@{outputs('Get_response_details')?['body/r1b1e67c81ac34091bafa26c423a8777b']}<br></p><br>",
                                  "emailMessage/From": "@variables('Config')?['bts_digital_sender_email']",
                                  "emailMessage/Cc": "bell.jamie@abbvie.com;@{variables('VarApprover')}",
                                  "emailMessage/Importance": "Normal"
                                },
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                                  "connectionName": "shared_office365_1",
                                  "operationId": "SendEmailV2"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            }
                          },
                          "runAfter": {
                            "Condition_If_Approved": [
                              "Succeeded"
                            ]
                          },
                          "type": "Foreach"
                        },
                        "Create_item_in_schedule_deployment_list": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "dataset": "@variables('Config')?['sfmc_sharepoint_site_url']",
                              "table": "@variables('Config')?['schedule_deployment_list_id']",
                              "item/DateRequested": "@{utcNow()}",
                              "item/Status/Value": "Approval Sent",
                              "item/BusinessOwner/Claims": "@body('Get_response_details')?['r1449ddf4c0d348e3aad239ad7d1054b6']",
                              "item/BTSPartner/Claims": "@body('Get_response_details')?['rcdd7e978b2634a04839cfbf5ea6f250e']",
                              "item/ProjectName": "@body('Get_response_details')?['ra8c5068a5e644142a9002f0d53fe0c5c']",
                              "item/ProjectPurpose": "@body('Get_response_details')?['r33281e8ab485443db88bfa7da69e57eb']",
                              "item/DateScheduled": "@body('Get_response_details')?['ra6233ba0a9cd45f6b544467742791b51']",
                              "item/TimeScheduled": "@body('Get_response_details')?['r87e1eb3ec3c44db2b920dd33e060cc44']",
                              "item/DEName": "@body('Get_response_details')?['r3be75bb10b1b4210a2be1cbe231ce75e']",
                              "item/Comments": "@body('Get_response_details')?['r1b1e67c81ac34091bafa26c423a8777b']"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                              "connectionName": "shared_sharepointonline",
                              "operationId": "PostItem"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Send_Email_for_email_deployment": {
                          "runAfter": {
                            "Create_item_in_schedule_deployment_list": [
                              "Failed",
                              "Skipped",
                              "Succeeded"
                            ]
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "emailMessage/To": "@{body('Get_response_details')?['r1449ddf4c0d348e3aad239ad7d1054b6']};@{body('Get_response_details')?['rcdd7e978b2634a04839cfbf5ea6f250e']}",
                              "emailMessage/Subject": "[SFMC] - Schedule Deployment - @{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}",
                              "emailMessage/Body": "<p class=\"editor-paragraph\">@{variables('Embed Image Link')}<br></p><br><p class=\"editor-paragraph\">Hello ,<br><br>Your request is being processed!<br><br>You will receive an e-mail when your request has been completed. No action from you is required at this stage.<br></p><br><p class=\"editor-paragraph\">This can take up to 48 hours.<br>Below are the details of your submission.</p><p class=\"editor-paragraph\"><br>--------------------------------------------------------------------------------------</p><br><br><p class=\"editor-paragraph\">Country:<br>@{outputs('Get_response_details')?['body/rc7a580eb9757486497bcad8a121aac10']}</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Requestor:</strong></b><br>@{body('Get_response_details')?['rbefed3e4a42f48fea2c25bed29a1373c']}<br><br>Business Owner:<br>@{outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']}<br><br>BTS Partner:<br>@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}<br><br>Project Name:<br>@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}<br><br>Project Purpose:<br>@{outputs('Get_response_details')?['body/r33281e8ab485443db88bfa7da69e57eb']}<br><br>Date of &nbsp;Deployment:<br>@{outputs('Get_response_details')?['body/ra6233ba0a9cd45f6b544467742791b51']}@{outputs('Get_response_details')?['body/r87e1eb3ec3c44db2b920dd33e060cc44']}<br><br>Additonal Comments:<br>@{outputs('Get_response_details')?['body/r1b1e67c81ac34091bafa26c423a8777b']}<br>-BTS Canada<br><br><br><br></p><br>",
                              "emailMessage/From": "@variables('Config')?['bts_digital_sender_email']",
                              "emailMessage/Cc": "bell.jamie@abbvie.com;@{variables('VarApprover')}",
                              "emailMessage/Importance": "Normal"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                              "connectionName": "shared_office365_1",
                              "operationId": "SendEmailV2"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "For_each": {
                          "foreach": "@outputs('Create_an_approval_Bogdan_Level_Email_Deployment')?['body']?['responses']",
                          "actions": {
                            "Set_variable_SFMC_Comments_set_schedule_deployment": {
                              "type": "SetVariable",
                              "inputs": {
                                "name": "SFMC-Comments",
                                "value": "@items('For_each')?['comments']"
                              }
                            }
                          },
                          "runAfter": {
                            "Create_an_approval_Bogdan_Level_Email_Deployment": [
                              "Succeeded"
                            ]
                          },
                          "type": "Foreach"
                        },
                        "Update_status_comments_for_schedule_deployment": {
                          "runAfter": {
                            "Get_item_3": [
                              "Succeeded"
                            ]
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "dataset": "@variables('Config')?['sfmc_sharepoint_site_url']",
                              "table": "@variables('Config')?['schedule_deployment_list_id']",
                              "id": "@body('Create_item_in_schedule_deployment_list')?['ID']",
                              "item/Status/Value": "@{if(contains(body('Create_an_approval_Bogdan_Level_Email_Deployment')?['outcome'],'Appro'),'Email Scheduled','Issue')}",
                              "item/Comments": "@{concat(body('Get_item_3')?['Comments'],outputs('Compose_NewLine'),variables('SFMC-Comments'))}"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                              "connectionName": "shared_sharepointonline",
                              "operationId": "PatchItem"
                            },
                            "authentication": "@parameters('$authentication')"
                          },
                          "runtimeConfiguration": {
                            "retryPolicy": {
                              "type": "exponential",
                              "interval": "PT20S",
                              "count": 4,
                              "minimumInterval": "PT5S",
                              "maximumInterval": "PT5M"
                            }
                          }
                        },
                        "Get_item_3": {
                          "runAfter": {
                            "For_each": [
                              "Succeeded"
                            ]
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "dataset": "@variables('Config')?['sfmc_sharepoint_site_url']",
                              "table": "@variables('Config')?['schedule_deployment_list_id']",
                              "id": "@body('Create_item_in_schedule_deployment_list')?['ID']"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                              "connectionName": "shared_sharepointonline",
                              "operationId": "GetItem"
                            },
                            "authentication": "@parameters('$authentication')"
                          },
                          "runtimeConfiguration": {
                            "retryPolicy": {
                              "type": "exponential",
                              "interval": "PT20S",
                              "count": 4,
                              "minimumInterval": "PT5S",
                              "maximumInterval": "PT5M"
                            }
                          }
                        },
                        "Send_an_email_for_flow_failure_3": {
                          "runAfter": {
                            "SFMC_Send_Report": [
                              "Succeeded"
                            ]
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "emailMessage/To": "@variables('Config')?['flow_owner_email']",
                              "emailMessage/Subject": "SFMC Intake Flow Has Failed",
                              "emailMessage/Body": "<p>A recent run of the SFMC Intake flow has failed.</p>",
                              "emailMessage/Importance": "Normal"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                              "connectionName": "shared_office365_1",
                              "operationId": "SendEmailV2"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Delay_one_week": {
                          "runAfter": {
                            "SFMC_Send_Email_to_c3i": [
                              "Succeeded"
                            ]
                          },
                          "type": "Wait",
                          "inputs": {
                            "interval": {
                              "count": 1,
                              "unit": "Week"
                            }
                          }
                        },
                        "Start_and_wait_for_an_approval": {
                          "runAfter": {
                            "Delay_one_week": [
                              "Succeeded"
                            ]
                          },
                          "type": "OpenApiConnectionWebhook",
                          "inputs": {
                            "parameters": {
                              "approvalType": "Basic",
                              "WebhookApprovalCreationInput/title": "[SFMC] Email Deployment--> Report to send-  @{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}",
                              "WebhookApprovalCreationInput/assignedTo": "@variables('VarApprover')",
                              "WebhookApprovalCreationInput/details": "Hello,\n\nPlease enter the URL of the  SFMC report in the comments below.\nAn e-mail will be sent out with this link to the business owner.\n\nMake sure link is accessible to all.\n\n-------------------------------------------------------------------------------------\nCountry:\n@{outputs('Get_response_details')?['body/rc7a580eb9757486497bcad8a121aac10']}\n\nRequestor:\n@{body('Get_response_details')?['rbefed3e4a42f48fea2c25bed29a1373c']}\n\nBusiness Owner:\n@{outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']}\n\nBTS Partner:\n@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}\n\nProject Name:\n@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}\n\nProject Purpose\n@{outputs('Get_response_details')?['body/r33281e8ab485443db88bfa7da69e57eb']}\n\nList Name:\n@{body('Get_response_details')?['r3be75bb10b1b4210a2be1cbe231ce75e']}\n\n[Schedule Deployment]\n@{outputs('Get_response_details')?['body/ra6233ba0a9cd45f6b544467742791b51']}\n@{outputs('Get_response_details')?['body/r87e1eb3ec3c44db2b920dd33e060cc44']}\n\nAdditional comments :\n@{outputs('Get_response_details')?['body/r1b1e67c81ac34091bafa26c423a8777b']}\n",
                              "WebhookApprovalCreationInput/enableNotifications": true,
                              "WebhookApprovalCreationInput/enableReassignment": true
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals",
                              "connectionName": "shared_approvals",
                              "operationId": "StartAndWaitForAnApproval"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "For_each_1": {
                          "foreach": "@outputs('Start_and_wait_for_an_approval')?['body/responses']",
                          "actions": {
                            "Send_Email_for_sfmc_reports": {
                              "type": "OpenApiConnection",
                              "inputs": {
                                "parameters": {
                                  "emailMessage/To": "@{body('Get_response_details')?['r1449ddf4c0d348e3aad239ad7d1054b6']};@{body('Get_response_details')?['rcdd7e978b2634a04839cfbf5ea6f250e']}",
                                  "emailMessage/Subject": "[SFMC] - Reports from Deployment - @{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}",
                                  "emailMessage/Body": "<p class=\"editor-paragraph\">@{variables('Embed Image Link')}<br></p><br><p class=\"editor-paragraph\">Hello ,<br><br>The report from your send can be found here:</p><br><p class=\"editor-paragraph\">@{items('For_each_1')?['comments']}<br></p><br><p class=\"editor-paragraph\"><br>--------------------------------------------------------------------------------------<br></p><br><p class=\"editor-paragraph\">Country:<br>@{outputs('Get_response_details')?['body/rc7a580eb9757486497bcad8a121aac10']}</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Requestor:</strong></b><br>@{body('Get_response_details')?['rbefed3e4a42f48fea2c25bed29a1373c']}<br><br>Business Owner:<br>@{outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']}<br><br>BTS Partner:<br>@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}<br><br>Project Name:<br>@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}<br><br>Project Purpose:<br>@{outputs('Get_response_details')?['body/r33281e8ab485443db88bfa7da69e57eb']}<br><br>Date of &nbsp;Deployment:<br>@{outputs('Get_response_details')?['body/ra6233ba0a9cd45f6b544467742791b51']}@{outputs('Get_response_details')?['body/r87e1eb3ec3c44db2b920dd33e060cc44']}<br><br>Additonal Comments:<br>@{outputs('Get_response_details')?['body/r1b1e67c81ac34091bafa26c423a8777b']}<br>-BTS Canada<br><br><br><br></p><br>",
                                  "emailMessage/From": "@variables('Config')?['bts_digital_sender_email']",
                                  "emailMessage/Cc": "bell.jamie@abbvie.com;@{variables('VarApprover')}",
                                  "emailMessage/Importance": "Normal"
                                },
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                                  "connectionName": "shared_office365_1",
                                  "operationId": "SendEmailV2"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            }
                          },
                          "runAfter": {
                            "Start_and_wait_for_an_approval": [
                              "Succeeded"
                            ]
                          },
                          "type": "Foreach"
                        },
                        "SFMC_Send_Email_to_c3i": {
                          "runAfter": {
                            "Apply_to_each": [
                              "Succeeded"
                            ]
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "emailMessage/To": "@variables('Config')?['sfmc_support_email']",
                              "emailMessage/Subject": "[SMO] - SFMC Send E-mail- ",
                              "emailMessage/Body": "<p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Hi Team,</strong></b><br><br><b><strong class=\"editor-text-bold\">Can you please process the request listed below:</strong></b><br><a href=\"https://abbvienow.service-now.com/now/nav/ui/classic/params/target/incident.do%3Fsys_id%3D-1%26sysparm_query%3Dactive%3Dtrue%26sysparm_stack%3Dincident_list.do%3Fsysparm_query%3Dactive%3Dtrue%26sysparm_view%3Ddefault%26sysparm_view_forced%3Dtrue\" class=\"editor-link\">Click here for corresponding form to complete &nbsp; </a>&nbsp;</p><br><p class=\"editor-paragraph\">---------------------------------------------- ---------------------------------------<br><b><strong class=\"editor-text-bold\">SFMC– &nbsp;</strong></b><br><br></p><br><p class=\"editor-paragraph\"><br>Caller:@{outputs('Get_response_details')?['body/rbefed3e4a42f48fea2c25bed29a1373c']}<br>Affected User: @{outputs('Get_response_details')?['body/rbefed3e4a42f48fea2c25bed29a1373c']}</p><p class=\"editor-paragraph\"><br><b><strong class=\"editor-text-bold\">Watchlist Emails:</strong></b><br>@{outputs('Get_response_details')?['body/r5f32442f76de4ab8b82ec42082141238']}<br>@{outputs('Get_response_details')?['body/rf51522aed7004931bc946262a64ba152']}<br><br><br><b><strong class=\"editor-text-bold\">Location</strong></b><br>CA St Laurent<br><br><b><strong class=\"editor-text-bold\">Service</strong></b><br>Salesforce Platform<br><br><b><strong class=\"editor-text-bold\">Service Offering</strong></b><br>CO-LATAM-Geo-Operations-Contractors<br><br>Contact Name:<br>@{outputs('Get_response_details')?['body/r0daf19a4a65f492f8b24c621b545aaf5']}<br><br>Country &nbsp;<br>@{outputs('Get_response_details')?['body/rd57d5ac6ea734335a4aff68b3bcdf805']}<br><br><br>--------------------------------------------------------------------------------------<br><br><b><strong class=\"editor-text-bold\">Short Description : </strong></b></p><p class=\"editor-paragraph\">{@{triggerOutputs()?['body/resourceData/responseId']}} - <br>SFMC<br><br><b><strong class=\"editor-text-bold\">Long Description : &nbsp;Enter all below</strong></b><br><br>Country:<br>@{outputs('Get_response_details')?['body/rc7a580eb9757486497bcad8a121aac10']}<br><br><br>Business Owner:<br>@{outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']}<br><br>BTS Partner:<br>@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}<br><br>Project Name:<br>@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}<br><br>Project Purpose:<br>@{outputs('Get_response_details')?['body/r33281e8ab485443db88bfa7da69e57eb']}<br><br>Date of &nbsp;Deployment:<br>@{outputs('Get_response_details')?['body/ra6233ba0a9cd45f6b544467742791b51']}@{outputs('Get_response_details')?['body/r87e1eb3ec3c44db2b920dd33e060cc44']}<br><br>Additonal Comments:<br>@{outputs('Get_response_details')?['body/r1b1e67c81ac34091bafa26c423a8777b']}<br>-BTS Canada</p><br>",
                              "emailMessage/From": "@variables('Config')?['bts_digital_sender_email']",
                              "emailMessage/Cc": "@variables('Config')?['flow_owner_email']",
                              "emailMessage/Attachments": "@variables('varAttachements')",
                              "emailMessage/Importance": "Normal"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                              "connectionName": "shared_office365_1",
                              "operationId": "SendEmailV2"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "SFMC_Send_Report": {
                          "runAfter": {
                            "For_each_1": [
                              "Skipped",
                              "Failed"
                            ]
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "emailMessage/To": "@variables('Config')?['sfmc_support_email']",
                              "emailMessage/Subject": "[SMO] - SFMC Send Report",
                              "emailMessage/Body": "<p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Hi Team,</strong></b><br><br><b><strong class=\"editor-text-bold\">Can you please process the request listed below:</strong></b><br><a href=\"https://abbvienow.service-now.com/now/nav/ui/classic/params/target/incident.do%3Fsys_id%3D-1%26sysparm_query%3Dactive%3Dtrue%26sysparm_stack%3Dincident_list.do%3Fsysparm_query%3Dactive%3Dtrue%26sysparm_view%3Ddefault%26sysparm_view_forced%3Dtrue\" class=\"editor-link\">Click here for corresponding form to complete &nbsp; </a>&nbsp;</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">and close call immediately please</strong></b><br>---------------------------------------------- ---------------------------------------<br><b><strong class=\"editor-text-bold\">SFMC– &nbsp;</strong></b><br></p><br><p class=\"editor-paragraph\"><br>Caller:@{outputs('Get_response_details')?['body/rbefed3e4a42f48fea2c25bed29a1373c']}<br>Affected User: @{outputs('Get_response_details')?['body/rbefed3e4a42f48fea2c25bed29a1373c']}</p><p class=\"editor-paragraph\"><br><b><strong class=\"editor-text-bold\">Watchlist Emails:</strong></b><br>@{outputs('Get_response_details')?['body/r5f32442f76de4ab8b82ec42082141238']}<br>@{outputs('Get_response_details')?['body/rf51522aed7004931bc946262a64ba152']}<br><br><br><b><strong class=\"editor-text-bold\">Location</strong></b><br>CA St Laurent<br><br><b><strong class=\"editor-text-bold\">Service</strong></b><br>Salesforce Platform<br><br><b><strong class=\"editor-text-bold\">Service Offering</strong></b><br>CO-LATAM-Geo-Operations-Contractors<br><br>Contact Name:<br>@{outputs('Get_response_details')?['body/r0daf19a4a65f492f8b24c621b545aaf5']}<br><br>Country &nbsp;<br>@{outputs('Get_response_details')?['body/rd57d5ac6ea734335a4aff68b3bcdf805']}<br><br><br>--------------------------------------------------------------------------------------<br><br><b><strong class=\"editor-text-bold\">Short Description :</strong></b></p><p class=\"editor-paragraph\">{@{triggerOutputs()?['body/resourceData/responseId']}} - <br>SFMC<br><br><b><strong class=\"editor-text-bold\">Long Description : &nbsp;Enter all below</strong></b><br><br>Country:<br>@{outputs('Get_response_details')?['body/rc7a580eb9757486497bcad8a121aac10']}<br><br><br>Business Owner:<br>@{outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']}<br><br>BTS Partner:<br>@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}<br><br>Project Name:<br>@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}<br><br>Project Purpose:<br>@{outputs('Get_response_details')?['body/r33281e8ab485443db88bfa7da69e57eb']}<br><br>Date of &nbsp;Deployment:<br>@{outputs('Get_response_details')?['body/ra6233ba0a9cd45f6b544467742791b51']}@{outputs('Get_response_details')?['body/r87e1eb3ec3c44db2b920dd33e060cc44']}<br><br>Additonal Comments:<br>@{outputs('Get_response_details')?['body/r1b1e67c81ac34091bafa26c423a8777b']}<br>-BTS Canada</p><br>",
                              "emailMessage/From": "@variables('Config')?['bts_digital_sender_email']",
                              "emailMessage/Cc": "@variables('Config')?['flow_owner_email']",
                              "emailMessage/Attachments": "@variables('varAttachements')",
                              "emailMessage/Importance": "Normal"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                              "connectionName": "shared_office365_1",
                              "operationId": "SendEmailV2"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        }
                      }
                    },
                    "expression": {
                      "equals": [
                        "@outputs('Get_response_details')?['body/r973550b781954e00baed15fa0060aae6']",
                        "Target List Creation"
                      ]
                    },
                    "type": "If"
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "contains": [
                      "@outputs('Get_response_details')?['body/r973550b781954e00baed15fa0060aae6']",
                      "Test E-mail and Content Creation"
                    ]
                  }
                ]
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Compose_NewLine": [
              "Succeeded"
            ]
          },
          "type": "Scope"
        },
        "Initialize_Variable_for_Approval_Status": {
          "runAfter": {
            "Get_Logo_File_Content_By_Path": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ApprovalStatus",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_Variable_for_Level_1_status": {
          "runAfter": {
            "Initialize_variable_for_Reminder_Complete": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ApprovalStatusLevel1",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_Variable_for_Level_2_Comments": {
          "runAfter": {
            "Initialize_Variable_for_Level_3_status": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Level2Comments",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_Variable_for_Level_2_status": {
          "runAfter": {
            "Condition_Country_Approver": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ApprovalStatusLevel2",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_Variable_for_BM_Comments": {
          "runAfter": {
            "Initialize_Variable_for_DataStewardComments": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "BMcomments",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_Variable_for_Level_3_status": {
          "runAfter": {
            "Initialize_Variable_for_Level_2_status": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ApprovalStatusLevel3",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_Variable_for_DataStewardComments": {
          "runAfter": {
            "Initialize_Variable_for_Level_2_Comments": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "DataStewardComments",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_Variable_for_SFMC_Comments": {
          "runAfter": {
            "Initialize_Variable_for_Level_1_status": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SFMC-Comments",
                "type": "string"
              }
            ]
          }
        },
        "Compose_NewLine": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "inputs": "\"\n\""
        },
        "Initialize_variable": {
          "runAfter": {
            "Initialize_variable_varAttachments": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "refusalBool",
                "type": "boolean"
              }
            ]
          }
        },
        "Send_Final_Confirmation_Email": {
          "runAfter": {
            "Set_variable_2_End_of_flow_complete": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "emailMessage/To": "@outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']",
              "emailMessage/Subject": "[SFMC] -  @{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}",
              "emailMessage/Body": "Thank-you for using our new SFMC process.\nHave a great day.\n\n-BTS Canada\n\n",
              "emailMessage/From": "@variables('Config')?['bts_digital_sender_email']",
              "emailMessage/Cc": "@variables('Config')?['flow_owner_email']",
              "emailMessage/Importance": "Normal"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
              "connectionName": "shared_office365_1",
              "operationId": "SendEmailV2"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Catch_Final_Confirmation_Email": {
          "type": "Scope",
          "actions": {
            "Send_Final_Confirmation_Error_Email": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "emailMessage/To": "@variables('Config')?['flow_owner_email']",
                  "emailMessage/Subject": "[SFMC Failed] Final confirmation email failed - @{outputs('Compose_Run_Context')?['runName']}",
                  "emailMessage/Body": "<p>Hello,<br><br>The SFMC intake flow completed its main path, but the final requester confirmation email failed.</p><p><strong>Workflow:</strong> @{outputs('Compose_Run_Context')?['workflowName']}<br><strong>Run:</strong> @{outputs('Compose_Run_Context')?['runName']}<br><strong>Forms response:</strong> @{outputs('Compose_Run_Context')?['responseId']}</p><p><strong>Email action error:</strong></p><pre>@{string(actions('Send_Final_Confirmation_Email')?['error'])}</pre>",
                  "emailMessage/Importance": "High"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                  "connectionName": "shared_office365_1",
                  "operationId": "SendEmailV2"
                },
                "authentication": "@parameters('$authentication')"
              },
              "runAfter": {}
            },
            "Terminate_Final_Confirmation_Email_Failed": {
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed",
                "runError": {
                  "code": "FinalConfirmationEmailFailed",
                  "message": "@{concat('SFMC final confirmation email failed. Run: ', outputs('Compose_Run_Context')?['runName'])}"
                }
              },
              "runAfter": {
                "Send_Final_Confirmation_Error_Email": [
                  "Succeeded",
                  "Failed",
                  "TimedOut"
                ]
              }
            }
          },
          "runAfter": {
            "Send_Final_Confirmation_Email": [
              "Failed",
              "TimedOut"
            ]
          }
        },
        "Catch_Decision_Tree_Error": {
          "actions": {
            "Compose_Decision_Tree_Error_Diagnostics": {
              "type": "Compose",
              "inputs": {
                "runContext": "@outputs('Compose_Run_Context')",
                "failedScopeResult": "@result('Try_Decision_Tree')"
              },
              "runAfter": {}
            },
            "Send_Decision_Tree_Error_Email": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "emailMessage/To": "@variables('Config')?['flow_owner_email']",
                  "emailMessage/Subject": "[SFMC Failed] Decision tree failed - @{outputs('Compose_Run_Context')?['runName']}",
                  "emailMessage/Body": "<p>Hello,<br><br>The SFMC intake flow failed inside <strong>Try_Decision_Tree</strong>.</p><p><strong>Workflow:</strong> @{outputs('Compose_Run_Context')?['workflowName']}<br><strong>Run:</strong> @{outputs('Compose_Run_Context')?['runName']}<br><strong>Forms response:</strong> @{outputs('Compose_Run_Context')?['responseId']}</p><p><strong>Failed scope result:</strong></p><pre>@{string(result('Try_Decision_Tree'))}</pre>",
                  "emailMessage/Importance": "Normal"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                  "connectionName": "shared_office365_1",
                  "operationId": "SendEmailV2"
                },
                "authentication": "@parameters('$authentication')"
              },
              "runAfter": {
                "Compose_Decision_Tree_Error_Diagnostics": [
                  "Succeeded"
                ]
              }
            },
            "Terminate_Decision_Tree_Failed": {
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed",
                "runError": {
                  "code": "DecisionTreeFailed",
                  "message": "@{concat('SFMC decision tree failed. Run: ', outputs('Compose_Run_Context')?['runName'])}"
                }
              },
              "runAfter": {
                "Send_Decision_Tree_Error_Email": [
                  "Succeeded",
                  "Failed",
                  "TimedOut"
                ]
              }
            }
          },
          "runAfter": {
            "Try_Decision_Tree": [
              "Failed",
              "TimedOut"
            ]
          },
          "type": "Scope"
        },
        "Initialize_variable_For_Logo_Reminder": {
          "runAfter": {
            "Get_Reminder_Logo_From_OneDrive": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varReminderLogo",
                "type": "string"
              }
            ]
          }
        },
        "Get_Reminder_Logo_From_OneDrive": {
          "runAfter": {
            "Initialize_Variable_for_Approval_Status": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "path": "/reminder-Email.JPG",
              "inferContentType": true
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness",
              "connectionName": "shared_onedriveforbusiness",
              "operationId": "GetFileContentByPath"
            },
            "authentication": "@parameters('$authentication')"
          },
          "runtimeConfiguration": {
            "retryPolicy": {
              "type": "exponential",
              "interval": "PT20S",
              "count": 4,
              "minimumInterval": "PT5S",
              "maximumInterval": "PT5M"
            }
          }
        },
        "Initialize_variable_for_Reminder_Complete": {
          "runAfter": {
            "Initialize_variable_For_Logo_Reminder": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varApprovalComplete",
                "type": "boolean"
              }
            ]
          }
        },
        "Until_Reminder_Loop": {
          "actions": {
            "Delay": {
              "type": "Wait",
              "inputs": {
                "interval": {
                  "count": 4,
                  "unit": "Day"
                }
              }
            },
            "Condition_Checking_if_request_has_been_approved_Denied": {
              "actions": {
                "Test_or_send": {
                  "actions": {
                    "Email_to_sfmc_dev": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "emailMessage/To": "@variables('VarApprover')",
                          "emailMessage/Subject": "[Reminder E-mail] SFMC Flow -  @{outputs('Get_response_details')?['body/r973550b781954e00baed15fa0060aae6']}",
                          "emailMessage/Body": "<p>@{variables('varReminderLogo')}<br>\n<br>\nHello,<br>\n<br>\nA request has been pending over 4 days<br>\nPlease re-assign if needed.<br>\n<br>\n<strong>Summary of request:<br>\n<br>\nProject name:<br>\n</strong><strong>@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}</strong><strong><br>\nBusiness owner E-mail:<br>\n<br>\n</strong><strong>@{outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']}</strong><strong><br>\n</strong></p>",
                          "emailMessage/Cc": "@variables('Config')?['flow_owner_email']",
                          "emailMessage/Importance": "Normal"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                          "connectionName": "shared_office365_1",
                          "operationId": "SendEmailV2"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "else": {
                    "actions": {
                      "Email_to_sfmc_dev_2": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "emailMessage/To": "@variables('VarApprover')",
                            "emailMessage/Subject": "[Reminder E-mail] SFMC Flow -  @{outputs('Get_response_details')?['body/r973550b781954e00baed15fa0060aae6']}",
                            "emailMessage/Body": "<p>@{variables('varReminderLogo')}<br>\n<br>\nHello,<br>\n<br>\nA request has been pending over 4 days<br>\nPlease re-assign if needed.<br>\n<br>\n<strong>Summary of request:<br>\n<br>\nProject name:<br>\n</strong><strong>@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}</strong><strong><br>\n<br>\nBusiness owner E-mail:<br>\n<br>\n</strong><strong>@{outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']}</strong><strong><br>\n</strong></p>",
                            "emailMessage/Cc": "@variables('Config')?['flow_owner_email']",
                            "emailMessage/Importance": "Normal"
                          },
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                            "connectionName": "shared_office365_1",
                            "operationId": "SendEmailV2"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    }
                  },
                  "expression": {
                    "or": [
                      {
                        "contains": [
                          "@outputs('Get_response_details')?['body/r973550b781954e00baed15fa0060aae6']",
                          "Test E-mail"
                        ]
                      },
                      {
                        "contains": [
                          "@outputs('Get_response_details')?['body/r973550b781954e00baed15fa0060aae6']",
                          "Schedule Deployment"
                        ]
                      }
                    ]
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Delay": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {}
              },
              "expression": {
                "equals": [
                  "@variables('varApprovalComplete')",
                  false
                ]
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Compose_NewLine": [
              "Succeeded"
            ]
          },
          "expression": "@equals(variables('varApprovalComplete'), false)",
          "limit": {
            "count": 5000
          },
          "type": "Until"
        },
        "Set_variable_2_End_of_flow_complete": {
          "runAfter": {
            "Try_Decision_Tree": [
              "Succeeded"
            ]
          },
          "type": "SetVariable",
          "inputs": {
            "name": "varApprovalComplete",
            "value": true
          }
        },
        "Terminate_Main_Path_Succeeded": {
          "runAfter": {
            "Send_Final_Confirmation_Email": [
              "Succeeded"
            ]
          },
          "type": "Terminate",
          "inputs": {
            "runStatus": "Succeeded"
          }
        },
        "Initialize_VarApprover": {
          "runAfter": {
            "Initialize_Variable_for_SFMC_Comments": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "VarApprover",
                "type": "string"
              }
            ]
          }
        },
        "Condition_Country_Approver": {
          "actions": {
            "varApprover_Maria": {
              "type": "SetVariable",
              "inputs": {
                "name": "VarApprover",
                "value": "@variables('Config')?['country_approver_maria_email']"
              }
            }
          },
          "runAfter": {
            "Compose_Country_Choice": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "VarApprover_Matias": {
                "type": "SetVariable",
                "inputs": {
                  "name": "VarApprover",
                  "value": "@variables('Config')?['country_approver_matias_email']"
                }
              }
            }
          },
          "expression": {
            "and": [
              {
                "equals": [
                  "@outputs('Compose_Country_Choice')",
                  "Colombia"
                ]
              }
            ]
          },
          "type": "If"
        },
        "Compose_Country_Choice": {
          "runAfter": {
            "Initialize_VarApprover": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "inputs": "@trim(outputs('Get_response_details')?['body/rc7a580eb9757486497bcad8a121aac10'])"
        }
      }
    },
    "connectionReferences": {
      "shared_microsoftforms_1": {
        "connectionName": "shared-microsoftform-5de1dfb6-9ddd-4e77-9fc7-fa8b03ee5de2",
        "source": "Embedded",
        "id": "/providers/Microsoft.PowerApps/apis/shared_microsoftforms",
        "tier": "NotSpecified",
        "apiName": "microsoftforms",
        "isProcessSimpleApiReferenceConversionAlreadyDone": false
      },
      "shared_onedriveforbusiness": {
        "connectionName": "shared-onedriveforbu-e9eba80e-e805-47f7-a8bf-1108b79e93f9",
        "source": "Embedded",
        "id": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness",
        "tier": "NotSpecified",
        "apiName": "onedriveforbusiness",
        "isProcessSimpleApiReferenceConversionAlreadyDone": false
      },
      "shared_office365_1": {
        "connectionName": "shared-office365-74a10376-1f7e-472b-bf79-b49640d9bfd4",
        "source": "Embedded",
        "id": "/providers/Microsoft.PowerApps/apis/shared_office365",
        "tier": "NotSpecified",
        "apiName": "office365",
        "isProcessSimpleApiReferenceConversionAlreadyDone": false
      },
      "shared_approvals": {
        "connectionName": "shared-approvals-68a051d8-46e0-4fce-82e0-fdb8b462ab35",
        "source": "Embedded",
        "id": "/providers/Microsoft.PowerApps/apis/shared_approvals",
        "tier": "NotSpecified",
        "apiName": "approvals",
        "isProcessSimpleApiReferenceConversionAlreadyDone": false
      },
      "shared_sharepointonline": {
        "connectionName": "shared-sharepointonl-2d1c8428-4138-40b7-a96b-85eb6b4ae0e7",
        "source": "Embedded",
        "id": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
        "tier": "NotSpecified",
        "apiName": "sharepointonline",
        "isProcessSimpleApiReferenceConversionAlreadyDone": false
      }
    },
    "flowFailureAlertSubscribed": false,
    "isManaged": false
  }
}
