examples/example2/Microsoft.Flow/flows/385bc524-448e-4368-a6d0-c6fc9d20e374/definition.json
{"name":"cf6e5724-5fe0-42fa-bd78-60a8665324fd","id":"/providers/Microsoft.Flow/flows/cf6e5724-5fe0-42fa-bd78-60a8665324fd","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Live - [SFMC] - Mass e-mail BTS Intake ","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"6a172fee-b9f6-4e48-bd88-f1b3609f233e","type":"User","tenantId":"6f4d03de-9551-4ba1-a25b-dce6f5ab7ace"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2026-04-23T17:11:21.1149623Z","connectionKeySavedTimeKey":"2026-04-23T17:11:21.1149623Z","creationSource":null,"modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"When_a_new_response_is_submitted":{"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"3b15a9f0-2725-46c7-9ac2-4a85066a4dee"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"form_id":"3gNNb1GVoUuiW9zm9at6zifJWu686mpAhE7M2hwle6NURDVVODFJRkhWRVNZNVBNWjM4TldKMTE4UyQlQCN0PWcu"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms_1","operationId":"CreateFormWebhook"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_response_details":{"runAfter":{},"metadata":{"operationMetadataId":"80baf5b9-8e66-4c33-9acd-00d6a34c5ed3"},"type":"OpenApiConnection","inputs":{"parameters":{"form_id":"3gNNb1GVoUuiW9zm9at6zifJWu686mpAhE7M2hwle6NURDVVODFJRkhWRVNZNVBNWjM4TldKMTE4UyQlQCN0PWcu","response_id":"@triggerOutputs()?['body/resourceData/responseId']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms_1","operationId":"GetFormResponseById"},"authentication":"@parameters('$authentication')"}},"Get_file_content_using_path":{"runAfter":{"Get_response_details":["Succeeded"]},"metadata":{"operationMetadataId":"2c8fa7a3-a7c3-4db1-94b8-85bf96b1bd99"},"type":"OpenApiConnection","inputs":{"parameters":{"path":"/SFMC.JPG","inferContentType":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"GetFileContentByPath"},"authentication":"@parameters('$authentication')"}},"Initialize_variable_-_Picture":{"runAfter":{"Intialize_Variable_for_BM_Comments_":["Succeeded"]},"metadata":{"operationMetadataId":"33abb813-b4c3-4e9f-ba00-24220007ed2a"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Embed Image Link","type":"string","value":"<img src=\"data:image/jpeg;base64,@{outputs('Get_file_content_using_path')?['body'].$content}\" alt=\"My Image\" />"}]}},"Initialize_variable_-_varAttachements":{"runAfter":{"Initialize_variable_-_Picture":["Succeeded"]},"metadata":{"operationMetadataId":"d03b8172-1b58-4dda-8042-400c36a43616"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varAttachements","type":"array"}]}},"Scope_-_For_decision_Tree":{"actions":{"Condition_for_3_branches":{"actions":{"Send_e-mail_for_Test_E-mail_":{"runAfter":{"Create_item_in_email_test_list":["Skipped","Failed","Succeeded"]},"metadata":{"operationMetadataId":"960f021a-21bf-4eda-84a8-76236f0683dd"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@{outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']};@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}","emailMessage/Subject":"[SFMC] - Content Creation - @{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}","emailMessage/Body":"<p class=\"editor-paragraph\">@{variables('Embed Image Link')}<br><br>Hello ,<br><br>Your request is being processed!<br><br>You will receive an e-mail when your request has been completed.<b><strong class=\"editor-text-bold\"> No action from you is required at this stage.</strong></b><br></p><br><p class=\"editor-paragraph\">This can take up to 48 hours.<br>Below are the details of your submission.<br>--------------------------------------------------------------------------------------<br><b><strong class=\"editor-text-bold\">Country:</strong></b></p><p class=\"editor-paragraph\">@{outputs('Get_response_details')?['body/rc7a580eb9757486497bcad8a121aac10']}</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Requestor:</strong></b></p><p class=\"editor-paragraph\">@{body('Get_response_details')?['rbefed3e4a42f48fea2c25bed29a1373c']}</p><p class=\"editor-paragraph\"><br><b><strong class=\"editor-text-bold\">Business Owner:</strong></b><br>@{outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']}<br><br><b><strong class=\"editor-text-bold\">BTS Partner:</strong></b><br>@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}<br><br><b><strong class=\"editor-text-bold\">Project Name:</strong></b><br>@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}<br><br><b><strong class=\"editor-text-bold\">Project Purpose</strong></b><br>@{outputs('Get_response_details')?['body/r33281e8ab485443db88bfa7da69e57eb']}<br><br><b><strong class=\"editor-text-bold\">Target Audience:</strong></b><br>@{outputs('Get_response_details')?['body/r032e49fd5729431ab3e70d46a8855894']}</p><p class=\"editor-paragraph\"><br><b><strong class=\"editor-text-bold\">Local Key Message:</strong></b><br>@{outputs('Get_response_details')?['body/rf8ca235ab6af41babe9b361b44d74848']}</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Please enter the subject of the e-mail:</strong></b></p><p class=\"editor-paragraph\">@{outputs('Get_response_details')?['body/raae9c809b20345b990205d8dbf83ea43']}</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Please enter the pre-header for your e-mail:</strong></b></p><p class=\"editor-paragraph\">@{outputs('Get_response_details')?['body/r1e18d0b3d7954325a595d4f5ec3f7e57']}</p><br><p class=\"editor-paragraph\"><br><b><strong class=\"editor-text-bold\">Additional comments you might have:</strong></b><br>@{outputs('Get_response_details')?['body/r51f0eef65bc04fd79d8f9999a619937d']}</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">[Test E-mail] - Please choose the type of Audience:</strong></b></p><p class=\"editor-paragraph\">@{outputs('Get_response_details')?['body/r12471862341940b8b31f2e449dabd5a2']}</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">[Test E-mail] - Please share the sharePoint location of the media files needed for content Creation:</strong></b></p><br><p class=\"editor-paragraph\">@{outputs('Get_response_details')?['body/r97e811c8613b45aabc4f4ce9f955bf0f']}</p><br>","emailMessage/From":"bts.digital@abbviecare.ca","emailMessage/Cc":"bell.jamie@abbvie.com;@{variables('VarApprover')}","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"Create_an_approval_-_Bogdan_Level_-_Test_E-_Mail":{"runAfter":{"Send_e-mail_for_Test_E-mail_":["Succeeded"]},"metadata":{"operationMetadataId":"3e91d35b-f5bb-45bd-a9aa-225a0fd9099e"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"[SFMC] Content Creation- Action to Perform-  @{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}","WebhookApprovalCreationInput/assignedTo":"diego.ricoy@abbvie.com;@{variables('VarApprover')};matias.lazo@abbvie.com","WebhookApprovalCreationInput/details":"Hello ,\n\nA new Test-Email request has been submitted\nPlease see the details below and Hit \"Test sent\" when you are ready.\n\nWhen completed, this will be sent to the stakeHolders for final Approval.\n\nCountry:\n@{outputs('Get_response_details')?['body/rc7a580eb9757486497bcad8a121aac10']}\n\nRequestor: \n@{body('Get_response_details')?['rbefed3e4a42f48fea2c25bed29a1373c']}\n\nBusiness Owner:\n@{outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']}\n\nBTS Partner:\n@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}\n\nProject Name:\n@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}\n\nProject Purpose:\n@{outputs('Get_response_details')?['body/r33281e8ab485443db88bfa7da69e57eb']}\n\nLocal Key Message:\n@{outputs('Get_response_details')?['body/rf8ca235ab6af41babe9b361b44d74848']}\n\nPlease enter the subject of the e-mail:\n@{outputs('Get_response_details')?['body/raae9c809b20345b990205d8dbf83ea43']}\n\nPlease enter the pre-header for your e-mail:\n@{outputs('Get_response_details')?['body/r1e18d0b3d7954325a595d4f5ec3f7e57']}\n\n\nTest- Addresses:\n@{outputs('Get_response_details')?['body/r032e49fd5729431ab3e70d46a8855894']}\n\nAdditional comments you might have:\n@{outputs('Get_response_details')?['body/r51f0eef65bc04fd79d8f9999a619937d']}\n\n[Test E-mail] -  Please choose the type of Audience:\n@{outputs('Get_response_details')?['body/r12471862341940b8b31f2e449dabd5a2']}\n\n[Test E-mail] -  Please share the sharePoint location of the media files needed for content Creation:\n\n@{outputs('Get_response_details')?['body/r97e811c8613b45aabc4f4ce9f955bf0f']}\n","WebhookApprovalCreationInput/itemLinkDescription":"Please review  this new request \n","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_-_Get_responses":{"foreach":"@outputs('Create_an_approval_-_Bogdan_Level_-_Test_E-_Mail')?['body/responses']","actions":{"Create_an_approval_-_StakeHolders_Level_-_Test_E-_Mail_":{"metadata":{"operationMetadataId":"3e91d35b-f5bb-45bd-a9aa-225a0fd9099e"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"[SFMC] Test E-mail --> StakeHolders Approval -  @{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}","WebhookApprovalCreationInput/assignedTo":"@{outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']};@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']};","WebhookApprovalCreationInput/details":"Hello ,\n\nThe requested test e-mail has been sent.\nPlease see the details below and approve when you are ready.\n\nThe local key message has been applied!\n---------------------------------------------------\nComments from BTS:\n@{items('Apply_to_each_-_Get_responses')?['comments']} \n@{outputs('Create_an_approval_-_Bogdan_Level_-_Test_E-_Mail')?['body/outcome']}\n---------------------------------------------------\nBusiness Owner:\n@{outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']}\n\nBTS Partner:\n@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}\n\nProject Name:\n@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}\n\nProject Purpose\n@{outputs('Get_response_details')?['body/r33281e8ab485443db88bfa7da69e57eb']}\n\nLocal Key Message:\n@{outputs('Get_response_details')?['body/rf8ca235ab6af41babe9b361b44d74848']}\n\nE-mail Addresses\n@{outputs('Get_response_details')?['body/r032e49fd5729431ab3e70d46a8855894']}\n\nAdditional comments you might have:\n@{outputs('Get_response_details')?['body/r51f0eef65bc04fd79d8f9999a619937d']}\n\n[Test E-mail] -  Please choose the type of Audience:\n@{outputs('Get_response_details')?['body/r12471862341940b8b31f2e449dabd5a2']}\n\n[Test E-mail] -  Please share the sharePoint location of the media files needed for content Creation:\n\n@{outputs('Get_response_details')?['body/r97e811c8613b45aabc4f4ce9f955bf0f']}\n","WebhookApprovalCreationInput/itemLinkDescription":"Please review  this new request \n","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"authentication":"@parameters('$authentication')"}},"Comments_StakeHolder":{"foreach":"@outputs('Create_an_approval_-_StakeHolders_Level_-_Test_E-_Mail_')?['body/responses']","actions":{"Set_variable_-_level2_Comments":{"metadata":{"operationMetadataId":"19388f6a-d594-43f1-898c-3e64c3b5aeb6"},"type":"SetVariable","inputs":{"name":"Level2Comments","value":"@items('Comments_StakeHolder')?['comments']"}},"Set_variable_-_ApprovalStatusLevel2":{"runAfter":{"Set_variable_-_level2_Comments":["Succeeded"]},"metadata":{"operationMetadataId":"33480059-c1a3-475b-973b-6595debfc89b"},"type":"SetVariable","inputs":{"name":"ApprovalStatusLevel2","value":"@outputs('Create_an_approval_-_StakeHolders_Level_-_Test_E-_Mail_')?['body/outcome']"}}},"runAfter":{"Create_an_approval_-_StakeHolders_Level_-_Test_E-_Mail_":["Succeeded"]},"metadata":{"operationMetadataId":"0a5da4bc-0672-43f7-9fbf-92ba15822ac3"},"type":"Foreach"},"Update_status_+_comments_after_Stakeholder_level_approval":{"runAfter":{"Comments_StakeHolder":["Succeeded"]},"metadata":{"operationMetadataId":"5fbfb42a-26a7-4a98-878a-56bc0168fe5c"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://abbvie.sharepoint.com/sites/msteams_c38c47","table":"8de67489-8d52-4a8d-ac28-c1d7ef26f1a1","id":"@body('Get_item')?['ID']","item/Status/Value":"@{if(contains(body('Create_an_approval_-_StakeHolders_Level_-_Test_E-_Mail_')?['outcome'],'Appro'),'Test Approved','Test Refused')}","item/Comments":"@{concat(body('Update_status_+_comments_after_Bogdan_level_approval')?['Comments'],variables('Level2Comments'))}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Condition":["Succeeded"]},"metadata":{"operationMetadataId":"1d0c5108-104b-425f-a17b-bde93d2d9948"},"type":"Foreach"},"Condition_If_Approved_[Test_-Email]":{"actions":{"Set_variable_-_If_approved_2":{"metadata":{"operationMetadataId":"e1cfb25c-0486-4be2-9371-070cca571b6a"},"type":"SetVariable","inputs":{"name":"ApprovalStatus","value":"Approved"}}},"runAfter":{"Apply_to_each_-_Get_responses":["Succeeded"]},"else":{"actions":{"Set_variable_-_If_refused_2":{"metadata":{"operationMetadataId":"e1cfb25c-0486-4be2-9371-070cca571b6a"},"type":"SetVariable","inputs":{"name":"ApprovalStatus","value":"Denied"}}}},"expression":{"and":[{"contains":["@variables('ApprovalStatusLevel2')","Appro"]}]},"metadata":{"operationMetadataId":"728fded2-b9b0-4da4-ac73-54d7059ede5c"},"type":"If"},"Apply_to_each_-_Send_E-mail":{"foreach":"@outputs('Create_an_approval_-_Bogdan_Level_-_Test_E-_Mail')?['body/responses']","actions":{"Send_e-mail_for_Test_E-mail__2":{"metadata":{"operationMetadataId":"960f021a-21bf-4eda-84a8-76236f0683dd"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@{outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']};@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}","emailMessage/Subject":"[SFMC] - Content Creation - @{variables('ApprovalStatus')} - @{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}","emailMessage/Body":"<p class=\"editor-paragraph\">@{variables('Embed Image Link')}<br><br>Hello ,<br><br>Please see the details below!<br>The e-mail test has been @{variables('ApprovalStatus')} !<br><br>The local key message has been applied!<br><br>You may want to submit the form again for TargetList Creation or schedule a deployment.<br><br><br>--------------------------------------------------------------------------------------<br><b><strong class=\"editor-text-bold\">BTS Comments:</strong></b><br>@{items('Apply_to_each_-_Send_E-mail')?['comments']}<br><br><br><b><strong class=\"editor-text-bold\">StakeHolderApproval Comments:</strong></b><br>@{variables('Level2Comments')}</p><br><p class=\"editor-paragraph\">Country:<br>@{outputs('Get_response_details')?['body/rc7a580eb9757486497bcad8a121aac10']}</p><br><p class=\"editor-paragraph\">Requestor:<br>@{body('Get_response_details')?['rbefed3e4a42f48fea2c25bed29a1373c']}<br><br><b><strong class=\"editor-text-bold\">Business Owner:</strong></b><br>@{outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']}<br><br><b><strong class=\"editor-text-bold\">BTS Partner:</strong></b><br>@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}<br><br><b><strong class=\"editor-text-bold\">Project Name:</strong></b><br>@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}<br><br><b><strong class=\"editor-text-bold\">Project Purpose</strong></b><br>@{outputs('Get_response_details')?['body/r33281e8ab485443db88bfa7da69e57eb']}<br><br><b><strong class=\"editor-text-bold\">Target Audience:</strong></b><br>@{outputs('Get_response_details')?['body/r032e49fd5729431ab3e70d46a8855894']}</p><br><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Please enter the subject of the e-mail:</strong></b><br>@{outputs('Get_response_details')?['body/raae9c809b20345b990205d8dbf83ea43']}<br><br><b><strong class=\"editor-text-bold\">Please enter the pre-header for your e-mail:</strong></b><br>@{outputs('Get_response_details')?['body/r1e18d0b3d7954325a595d4f5ec3f7e57']}</p><br><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Local Key Message:</strong></b><br>@{outputs('Get_response_details')?['body/rf8ca235ab6af41babe9b361b44d74848']}<br><br><b><strong class=\"editor-text-bold\">Additional comments you might have:</strong></b><br>@{outputs('Get_response_details')?['body/r51f0eef65bc04fd79d8f9999a619937d']}</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">[Test E-mail] - Please choose the type of Audience:</strong></b><br>@{outputs('Get_response_details')?['body/r12471862341940b8b31f2e449dabd5a2']}<br><br><b><strong class=\"editor-text-bold\">[Test E-mail] - Please share the sharePoint location of the media files needed for content Creation:</strong></b><br><br>@{outputs('Get_response_details')?['body/r97e811c8613b45aabc4f4ce9f955bf0f']}</p>","emailMessage/From":"bts.digital@abbviecare.ca;@{variables('VarApprover')}","emailMessage/Cc":"bell.jamie@abbvie.com","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"_SFMC_Content_Creation-_C3i":{"runAfter":{"Send_e-mail_for_Test_E-mail__2":["Succeeded"]},"metadata":{"operationMetadataId":"a40f6e21-5954-4cf6-b0fa-91ffc614c681"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"abbviecaresupport@abbvie.com","emailMessage/Subject":"[SMO] - SFMC Content Creation-  - ","emailMessage/Body":"<p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Hi Team,</strong></b><br><br><b><strong class=\"editor-text-bold\">Can you please process the request listed below:</strong></b><br><a href=\"https://abbvienow.service-now.com/now/nav/ui/classic/params/target/incident.do%3Fsys_id%3D-1%26sysparm_query%3Dactive%3Dtrue%26sysparm_stack%3Dincident_list.do%3Fsysparm_query%3Dactive%3Dtrue%26sysparm_view%3Ddefault%26sysparm_view_forced%3Dtrue\" class=\"editor-link\">Click here for corresponding form to complete &nbsp; </a>&nbsp;</p><br><p class=\"editor-paragraph\">---------------------------------------------- ---------------------------------------<br><b><strong class=\"editor-text-bold\">SFMC– &nbsp;</strong></b></p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Caller:</strong></b>@{outputs('Get_response_details')?['body/rbefed3e4a42f48fea2c25bed29a1373c']}</p><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Affected User: </strong></b>@{outputs('Get_response_details')?['body/rbefed3e4a42f48fea2c25bed29a1373c']}<br><br><b><strong class=\"editor-text-bold\">Watchlist Emails:</strong></b><br>@{outputs('Get_response_details')?['body/r5f32442f76de4ab8b82ec42082141238']}<br>@{outputs('Get_response_details')?['body/rf51522aed7004931bc946262a64ba152']}<br><br><br><b><strong class=\"editor-text-bold\">Location</strong></b><br>CA St Laurent<br><br><b><strong class=\"editor-text-bold\">Service</strong></b><br>Salesforce Platform<br><br><b><strong class=\"editor-text-bold\">Service Offering</strong></b><br>CO-LATAM-Geo-Operations-Contractors<br><br>Contact Name:<br>@{outputs('Get_response_details')?['body/r0daf19a4a65f492f8b24c621b545aaf5']}<br><br>Country &nbsp;<br>@{outputs('Get_response_details')?['body/rd57d5ac6ea734335a4aff68b3bcdf805']}<br><br><br>--------------------------------------------------------------------------------------<br><br><b><strong class=\"editor-text-bold\">Short Description :</strong></b></p><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">{</strong></b>@{triggerOutputs()?['body/resourceData/responseId']}<b><strong class=\"editor-text-bold\">}</strong></b><br>SFMC<br><br><b><strong class=\"editor-text-bold\">Long Description : &nbsp;Enter all below</strong></b><br><br>Country:<br>@{outputs('Get_response_details')?['body/rc7a580eb9757486497bcad8a121aac10']}<br><br><br>Business Owner:<br>@{outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']}<br><br>BTS Partner:<br>@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}<br><br>Project Name:<br>@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}<br><br>Project Purpose<br>@{outputs('Get_response_details')?['body/r33281e8ab485443db88bfa7da69e57eb']}<br><br>Target Audience:<br>@{outputs('Get_response_details')?['body/r032e49fd5729431ab3e70d46a8855894']}<br><br>Local Key Message:<br>@{outputs('Get_response_details')?['body/rf8ca235ab6af41babe9b361b44d74848']}<br><br>Please enter the subject of the e-mail:<br>@{outputs('Get_response_details')?['body/raae9c809b20345b990205d8dbf83ea43']}<br><br>Please enter the pre-header for your e-mail:<br>@{outputs('Get_response_details')?['body/r1e18d0b3d7954325a595d4f5ec3f7e57']}<br><br><br>Additional comments you might have:<br>@{outputs('Get_response_details')?['body/r51f0eef65bc04fd79d8f9999a619937d']}<br><br>[Test E-mail] - Please choose the type of Audience:<br>@{outputs('Get_response_details')?['body/r12471862341940b8b31f2e449dabd5a2']}<br><br>[Test E-mail] - Please share the sharePoint location of the media files needed for content Creation:<br><br>@{outputs('Get_response_details')?['body/r97e811c8613b45aabc4f4ce9f955bf0f']}</p>","emailMessage/From":"bts.digital@abbviecare.ca","emailMessage/Cc":"bell.jamie@abbvie.com","emailMessage/Attachments":"@variables('varAttachements')","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Condition_If_Approved_[Test_-Email]":["Succeeded"]},"metadata":{"operationMetadataId":"2c880961-0bde-45a5-bed8-f4addfbe1a3c"},"type":"Foreach"},"Create_item_in_email_test_list":{"metadata":{"operationMetadataId":"1fe141ee-c64a-4c0f-853e-d2a545758a10"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://abbvie.sharepoint.com/sites/msteams_c38c47","table":"8de67489-8d52-4a8d-ac28-c1d7ef26f1a1","item/DateRequested":"@{utcNow()}","item/Status/Value":"Approval Sent - Bogdan Level","item/BusinessOwner/Claims":"@body('Get_response_details')?['r1449ddf4c0d348e3aad239ad7d1054b6']","item/BTSPartner/Claims":"@body('Get_response_details')?['rcdd7e978b2634a04839cfbf5ea6f250e']","item/ProjectName":"@body('Get_response_details')?['ra8c5068a5e644142a9002f0d53fe0c5c']","item/ProjectPurpose":"@body('Get_response_details')?['r33281e8ab485443db88bfa7da69e57eb']","item/Product":"@body('Get_response_details')?['rf8ca235ab6af41babe9b361b44d74848']","item/Specialities":"@body('Get_response_details')?['r032e49fd5729431ab3e70d46a8855894']","item/Comments":"@body('Get_response_details')?['r51f0eef65bc04fd79d8f9999a619937d']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"authentication":"@parameters('$authentication')"}},"Get_comments_from_Bogdan":{"foreach":"@outputs('Create_an_approval_-_Bogdan_Level_-_Test_E-_Mail')?['body']?['responses']","actions":{"Set_variable_-_SFMC-Comments_set_-_Test_email":{"metadata":{"operationMetadataId":"645cc3e4-8eed-4a0c-addb-c02ac3521e8d"},"type":"SetVariable","inputs":{"name":"SFMC-Comments","value":"@items('Get_comments_from_Bogdan')?['comments']"}}},"runAfter":{"Create_an_approval_-_Bogdan_Level_-_Test_E-_Mail":["Succeeded"]},"metadata":{"operationMetadataId":"e6af87d1-5313-447d-834a-2e6787818b67"},"type":"Foreach"},"Get_item":{"runAfter":{"Get_comments_from_Bogdan":["Succeeded"]},"metadata":{"operationMetadataId":"edef9d3c-3e70-43f1-bd45-b40bdabcbff5"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://abbvie.sharepoint.com/sites/msteams_c38c47","table":"8de67489-8d52-4a8d-ac28-c1d7ef26f1a1","id":"@body('Create_item_in_email_test_list')?['ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"Update_status_+_comments_after_Bogdan_level_approval":{"runAfter":{"Get_item":["Succeeded"]},"metadata":{"operationMetadataId":"4a9a2c95-0a81-4e72-8232-432ed9b9ae16"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://abbvie.sharepoint.com/sites/msteams_c38c47","table":"8de67489-8d52-4a8d-ac28-c1d7ef26f1a1","id":"@body('Get_item')?['ID']","item/Status/Value":"@{if(contains(body('Create_an_approval_-_Bogdan_Level_-_Test_E-_Mail')?['outcome'],'Appro'),'Approval Sent - Stakeholder Level','Issue - Bogdan Level')}","item/Comments":"@{concat(body('Get_item')?['Comments'], utcNow(),' - ','bogdan.baloiu@abbvie.com',outputs('newLine'),variables('SFMC-Comments'),outputs('newLine'))}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"Send_an_email_for_flow_failure":{"runAfter":{"Apply_to_each_-_Send_E-mail":["Failed","Skipped"]},"metadata":{"operationMetadataId":"b8c25c31-986a-431d-92e2-f476dea2ad47"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"bell.jamie@abbvie.com","emailMessage/Subject":"SFMC Intake Flow Has Failed","emailMessage/Body":"<p>A recent run of the SFMC Intake flow has failed.</p>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Terminate_1":{"runAfter":{"Bogdan_Level_-_Send_Email_for_Refusal_-_Test_Email":["Succeeded"]},"metadata":{"operationMetadataId":"1b36fc37-79fc-4a1a-af23-39ee69a93c03"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}},"Bogdan_Level_-_Send_Email_for_Refusal_-_Test_Email":{"metadata":{"operationMetadataId":"960f021a-21bf-4eda-84a8-76236f0683dd"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@{outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']};@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}","emailMessage/Subject":"[SFMC] - Test E-mail - Request Denied - @{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}","emailMessage/Body":"<p>@{variables('Embed Image Link')}</p><p>Hello, please see the details below!</p><p>The e-mail test has been denied!</p><p>Please refer to the comments below and submit a new request.</p><p>-------------------------------------------------------------------------------------- <br><b><strong>BTS Comments:</strong></b></p><p>@{variables('SFMC-Comments')}</p><p>-------------------------------------------------------------------------------------- <br><b><strong>Request Details</strong></b></p><br><p><b><strong>Requester:</strong></b></p><p>@{body('Get_response_details')?['rbefed3e4a42f48fea2c25bed29a1373c']}</p><p><b><strong>Business Owner:</strong></b></p><p>@{outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']}</p><p><b><strong>BTS Partner:</strong></b></p><p>@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}</p><p><b><strong>Project Name:</strong></b></p><p>@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}</p><p><b><strong>Project Purpose:</strong></b></p><p>@{outputs('Get_response_details')?['body/r33281e8ab485443db88bfa7da69e57eb']}</p><p><b><strong>Target Audience:</strong></b></p><p>@{outputs('Get_response_details')?['body/r032e49fd5729431ab3e70d46a8855894']}</p><p><b><strong>Local Key Message:</strong></b></p><p>@{outputs('Get_response_details')?['body/rf8ca235ab6af41babe9b361b44d74848']}</p><p><b><strong>Additional comments you might have:</strong></b></p><p>@{outputs('Get_response_details')?['body/r51f0eef65bc04fd79d8f9999a619937d']}</p><br>","emailMessage/From":"bts.digital@abbviecare.ca","emailMessage/Cc":"bell.jamie@abbvie.com","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Update_status_+_comments_after_Bogdan_level_approval":["Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"not":{"contains":["@body('Create_an_approval_-_Bogdan_Level_-_Test_E-_Mail')?['outcome']","Appro"]}}]},"metadata":{"operationMetadataId":"8e9feef3-6c1b-4a20-ae5d-0ca8964132d9"},"type":"If"}},"else":{"actions":{"Condition_-_Target_List_or_Deploy":{"actions":{"Send_E-mail_for_Target_List_Creation":{"runAfter":{"Create_item_in_target_list_creation_list":["Failed","Skipped","Succeeded"]},"metadata":{"operationMetadataId":"fce4e6a8-31e1-4e70-94d2-b7e03a75f9af"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@{body('Get_response_details')?['r1449ddf4c0d348e3aad239ad7d1054b6']};@{body('Get_response_details')?['rcdd7e978b2634a04839cfbf5ea6f250e']}","emailMessage/Subject":"[SFMC] - TargetList Creation  -@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}","emailMessage/Body":"<p class=\"editor-paragraph\">@{variables('Embed Image Link')}<br><br><br>Hello ,<br><br>Your request is being processed!<br><br>You will receive an e-mail when your request has been completed. No action from you is required at this stage.<br><br><br>This can take up to 48 hours.<br>Below are the details of your submission.</p><p class=\"editor-paragraph\">--------------------------------------------------------------------------------------</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Country:</strong></b><br>@{outputs('Get_response_details')?['body/rc7a580eb9757486497bcad8a121aac10']}</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Brand:</strong></b></p><p class=\"editor-paragraph\">@{outputs('Get_response_details')?['body/rb277b4f06fa34114b04774864133d510']}</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Indication(s):</strong></b></p><p class=\"editor-paragraph\">@{outputs('Get_response_details')?['body/r086d9930e982435b970c249eadd062d2']}</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">State/Province:</strong></b></p><p class=\"editor-paragraph\">@{outputs('Get_response_details')?['body/re707c531f2b848078ec58e08bd60860d']}</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Language:</strong></b></p><p class=\"editor-paragraph\">@{outputs('Get_response_details')?['body/reae29079a13942d08a24de15f40aba6d']}<br></p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Specialties:</strong></b></p><p class=\"editor-paragraph\">@{outputs('Get_response_details')?['body/r53c3ad49cc7d4444bd48f2d511349387']}<br><br><b><strong class=\"editor-text-bold\">Marketing Consent:</strong></b></p><p class=\"editor-paragraph\">Yes</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Customer Segmentation:</strong></b></p><p class=\"editor-paragraph\">@{outputs('Get_response_details')?['body/rb8cee04de645448eb25f19762a293608']}</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Potential Affinity:</strong></b></p><p class=\"editor-paragraph\">@{outputs('Get_response_details')?['body/rbc39ad7f8c2c4fb7bb3f983df9349083']}</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Adoption Ladder:</strong></b></p><p class=\"editor-paragraph\">@{outputs('Get_response_details')?['body/r35e8fec1ce0747d5a0c7dc98b1e9149d']}</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Journeys:</strong></b></p><p class=\"editor-paragraph\">@{outputs('Get_response_details')?['body/r59f67f8c3cc74d2499b8bc12b9251d62']}<br><br><b><strong class=\"editor-text-bold\">BTS Partner:</strong></b><br>@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}<br></p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">[Additional Information]</strong></b></p><p class=\"editor-paragraph\">@{outputs('Get_response_details')?['body/ra3b23fbabff849cfb40ff4b34f0f623b']}</p><br><p class=\"editor-paragraph\"><br>-BTS Canada<br><br><br><br></p><br>","emailMessage/From":"bts.digital@abbviecare.ca;@{variables('VarApprover')}","emailMessage/Cc":"bell.jamie@abbvie.com","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"Create_an_approval_-_Bogdan_Level_-_TargeList":{"runAfter":{"Send_E-mail_for_Target_List_Creation":["Succeeded"]},"metadata":{"operationMetadataId":"3e91d35b-f5bb-45bd-a9aa-225a0fd9099e"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"[SFMC] - TargetList Creation  -@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}","WebhookApprovalCreationInput/assignedTo":"diego.ricoy@abbvie.com;@{variables('VarApprover')};mariapaula.aguillon@abbvie.com;matias.lazo@abbvie.com","WebhookApprovalCreationInput/details":"Hello ,\n\nPlease see the details below!\nMake sure to add the URL of your file in the comments!!\n\nUpload file in this location: \n\nhttps://abbvie.sharepoint.com/:f:/t/Ext_AbbvieOperatonsPortal/EqLWJxRtQmVEoEz201I_vdcBrHRM0CC8k_UJZNBHpmEWZQ?e=odFbXS\n\n\nCountry:\n@{outputs('Get_response_details')?['body/rc7a580eb9757486497bcad8a121aac10']}\n\nBrand:\n@{outputs('Get_response_details')?['body/rb277b4f06fa34114b04774864133d510']}\n\nIndication(s):\n@{outputs('Get_response_details')?['body/r086d9930e982435b970c249eadd062d2']}\n\nState/Province:\n@{outputs('Get_response_details')?['body/re707c531f2b848078ec58e08bd60860d']}\n\nLanguage:\n@{outputs('Get_response_details')?['body/reae29079a13942d08a24de15f40aba6d']}\n\n\nSpecialties:\n@{outputs('Get_response_details')?['body/r53c3ad49cc7d4444bd48f2d511349387']}\n\nMarketing Consent:\nyes\n\nCustomer Segmentation:\n@{outputs('Get_response_details')?['body/rb8cee04de645448eb25f19762a293608']}\n\nPotential Affinity:\n@{outputs('Get_response_details')?['body/rbc39ad7f8c2c4fb7bb3f983df9349083']}\n\nAdoption Ladder:\n@{outputs('Get_response_details')?['body/r35e8fec1ce0747d5a0c7dc98b1e9149d']}\n\nJourneys:\n@{outputs('Get_response_details')?['body/r59f67f8c3cc74d2499b8bc12b9251d62']}\n\nBTS Partner:\n@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}\n\nComments:\n@{outputs('Get_response_details')?['body/r0e2a968022b34459b963ad771e06762b']}\n\n[Additional Information] \n@{outputs('Get_response_details')?['body/ra3b23fbabff849cfb40ff4b34f0f623b']}\n\n-BTS Canada\n\n\n\n\n","WebhookApprovalCreationInput/itemLinkDescription":"Please review  this new request \n","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_-_Brand_Manager_Flow":{"foreach":"@outputs('Create_an_approval_-_Bogdan_Level_-_TargeList')?['body/responses']","actions":{"Create_an_approval_-_Brand_Manager_Level_-_TargeList_":{"metadata":{"operationMetadataId":"3e91d35b-f5bb-45bd-a9aa-225a0fd9099e"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"[SFMC] - TargetList Creation  -@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}","WebhookApprovalCreationInput/assignedTo":"@{body('Get_response_details')?['rcdd7e978b2634a04839cfbf5ea6f250e']};@{body('Get_response_details')?['r1449ddf4c0d348e3aad239ad7d1054b6']}","WebhookApprovalCreationInput/details":"Hello ,\n\nPlease see the details below!\nThe file can be located in the file section.\nPlease note that refusing will stop the process and a new request will have to be submitted with the new information. \n\n------------------------------------\nFile Location and Comments:\n@{items('Apply_to_each_-_Brand_Manager_Flow')?['comments']}\n------------------------------------\nCountry:\n@{outputs('Get_response_details')?['body/rc7a580eb9757486497bcad8a121aac10']}\n\nBrand:\n@{outputs('Get_response_details')?['body/rb277b4f06fa34114b04774864133d510']}\n\nIndication(s):\n@{outputs('Get_response_details')?['body/r086d9930e982435b970c249eadd062d2']}\n\nState/Province:\n@{outputs('Get_response_details')?['body/re707c531f2b848078ec58e08bd60860d']}\n\nLanguage:\n@{outputs('Get_response_details')?['body/reae29079a13942d08a24de15f40aba6d']}\n\nSpecialties:\n@{outputs('Get_response_details')?['body/r53c3ad49cc7d4444bd48f2d511349387']}\n\n\nMarketing Consent:\n@{outputs('Get_response_details')?['body/r2f50fc58126d420591466912b4fa2f7d']}\n\nCustomer Segmentation:\n@{outputs('Get_response_details')?['body/rb8cee04de645448eb25f19762a293608']}\n\nPotential Affinity:\n@{outputs('Get_response_details')?['body/rbc39ad7f8c2c4fb7bb3f983df9349083']}\n\nAdoption Ladder:\n@{outputs('Get_response_details')?['body/r35e8fec1ce0747d5a0c7dc98b1e9149d']}\n\nJourneys:\n@{outputs('Get_response_details')?['body/r59f67f8c3cc74d2499b8bc12b9251d62']}\n\nBTS Partner:\n@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}\n\n[Additional Information] \n@{outputs('Get_response_details')?['body/ra3b23fbabff849cfb40ff4b34f0f623b']}\n\n-BTS Canada\n\n\n\n\n","WebhookApprovalCreationInput/itemLinkDescription":"Please review  this new request \n","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_2":{"foreach":"@outputs('Create_an_approval_-_Brand_Manager_Level_-_TargeList_')?['body/responses']","actions":{"Set_variable_-_Brand_Manager_comments":{"metadata":{"operationMetadataId":"9d31c185-4eaa-4498-aa51-dea1029cb929"},"type":"SetVariable","inputs":{"name":"BMcomments","value":"@items('Apply_to_each_2')?['comments']"}}},"runAfter":{"Create_an_approval_-_Brand_Manager_Level_-_TargeList_":["Succeeded"]},"metadata":{"operationMetadataId":"6f05de9b-9409-4f20-b35e-feb40fff284f"},"type":"Foreach"},"Update_status_+_comments_after_BRM_Level_approval":{"runAfter":{"Apply_to_each_2":["Succeeded"]},"metadata":{"operationMetadataId":"75aa2b9c-1fe9-4d72-93f6-958d78b0415b"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://abbvie.sharepoint.com/sites/msteams_c38c47","table":"8139e5bc-e87b-4029-bdd6-cef739baa00d","id":"@body('Create_item_in_target_list_creation_list')?['ID']","item/Status/Value":"@{if(contains(body('Create_an_approval_-_Brand_Manager_Level_-_TargeList_')?['outcome'],'Appro'),'Approval Sent - Kuo Level','Issue - BRM Level')}","item/Comments":"@{concat(body('Update_Status+Comments_after_Bogdan_Level_Approval')?['Comments'],outputs('newLine'),utcNow(),' - ',variables('BMcomments'))}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"Condition_if_rejected_at_Brand_Manager_Level_-_List_Creation":{"actions":{"Set_refusal_variable_to_false":{"runAfter":{"Brand_Manager_Level_-_Send_Email_for_Refusal_-_Target_List_Creation":["Succeeded"]},"metadata":{"operationMetadataId":"3f28a65c-9905-4ffd-bcc2-6cf4e8102540"},"type":"SetVariable","inputs":{"name":"refusalBool","value":false}},"Brand_Manager_Level_-_Send_Email_for_Refusal_-_Target_List_Creation":{"metadata":{"operationMetadataId":"fce4e6a8-31e1-4e70-94d2-b7e03a75f9af"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@{body('Get_response_details')?['r1449ddf4c0d348e3aad239ad7d1054b6']};@{body('Get_response_details')?['rcdd7e978b2634a04839cfbf5ea6f250e']};@{body('Get_response_details')?['rbefed3e4a42f48fea2c25bed29a1373c']}","emailMessage/Subject":"[SFMC] - TargetList Creation - Request Denied - @{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}","emailMessage/Body":"<p>@{variables('Embed Image Link')}</p><p>Hello,</p><br><p>Please see the details below!</p><p>The request for target list creation has been denied!</p><p>Please refer to the comments below and submit a new request with the updated information.</p><p>--------------------------------------------------------------------------------------</p><p><b><strong>Brand Manager Comments:</strong></b></p><p>@{variables('BMcomments')}</p><br><p><b><strong>BTS Comments:</strong></b> </p><p>@{variables('SFMC-Comments')}</p><p>--------------------------------------------------------------------------------------</p><p><b><strong>Request Details</strong></b></p><br><p><b><strong>Requester:</strong></b></p><p>@{body('Get_response_details')?['rbefed3e4a42f48fea2c25bed29a1373c']}</p><p><b><strong>Business Owner:</strong></b></p><p>@{outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']}</p><p><b><strong>BTS Partner:</strong></b></p><p>@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}</p><p><b><strong>Due Date for this list:</strong></b></p><p>@{outputs('Get_response_details')?['body/r4b29b32843a345018723d242d2a23598']}</p><p><b><strong>Project Name:</strong></b></p><p>@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}</p><p><b><strong>Project Purpose:</strong></b></p><p>@{outputs('Get_response_details')?['body/r33281e8ab485443db88bfa7da69e57eb']}</p><p><b><strong>Therapeutic area</strong></b></p><p>@{outputs('Get_response_details')?['body/rdbcf85fb520a47f8918039518991812d']}</p><p><b><strong>Products</strong></b></p><p>@{outputs('Get_response_details')?['body/r85262cf03e6147ffade60385cb003a81']}@{outputs('Get_response_details')?['body/rb6796a54f8fc459e8bc0bea14b576f40']}@{outputs('Get_response_details')?['body/rf31aec25453844d0a12c5f94e278d165']}@{outputs('Get_response_details')?['body/r7f3efd9c578d4d29b24d1d45ac511796']}@{outputs('Get_response_details')?['body/rd826b02cd60d4fc6b8d4644932c93029']}@{outputs('Get_response_details')?['body/r501d13baa8014a90ab98328648423f51']}@{outputs('Get_response_details')?['body/r6ecd487e43b842b7aecf9336101b47ef']}@{outputs('Get_response_details')?['body/r41e4e2960ef54fd396446511161a2069']}@{outputs('Get_response_details')?['body/r2b7e06412219483089650f86a1b59e1c']}@{outputs('Get_response_details')?['body/r53d4b376102f4cdcac543bcca50d70f9']}@{outputs('Get_response_details')?['body/r77bc48b870f546aca43cffe1a621c5d2']}@{outputs('Get_response_details')?['body/r70c01f71432343cba530d149cbd9a4b0']}@{outputs('Get_response_details')?['body/r0f29b59db066490a8a2a3548859d5c9c']}@{outputs('Get_response_details')?['body/rcb80e346cc2c47fd839fa9050fc4833e']}@{outputs('Get_response_details')?['body/rf746ac3d9c1b4747b6c749d7986ff4a3']} @{outputs('Get_response_details')?['body/r593d04b111fe48dca560a3f14c5dbd13']} @{outputs('Get_response_details')?['body/ra8949a5082164268970b592716d0763f']}</p><p><b><strong>Customer Segmentation:</strong></b></p><p>@{outputs('Get_response_details')?['body/rbe1f1d622629494e8ec8fcf472e7e896']}@{outputs('Get_response_details')?['body/red9fa52543b941e3a7ec0c01087986f1']}@{outputs('Get_response_details')?['body/r9fcd45d7356847d9871289e1d1b866f1']}@{outputs('Get_response_details')?['body/r0e95f7ad825d424e87d666bea26fd116']}@{outputs('Get_response_details')?['body/rd9c19e90f3664899b6791fbbef6a906d']}@{outputs('Get_response_details')?['body/r46e5cb943c2b4362a02ccaf73955c809']}@{outputs('Get_response_details')?['body/r2f931b9a0c394c228d8ce402fb9670f1']}@{outputs('Get_response_details')?['body/r77d1606e70644980ac98c9dfad9ce5d9']}@{outputs('Get_response_details')?['body/r1b631645fc484b02bd8846d90a91a07d']}@{outputs('Get_response_details')?['body/r01eb5888376147cf9921cd3d148290a7']}@{outputs('Get_response_details')?['body/r2a74152e3e4b4d56a4755afc4df24aa6']}@{outputs('Get_response_details')?['body/re784c01c42c6414896a88fdc66199465']}@{outputs('Get_response_details')?['body/rf5101189fa8a47a0991822a4021f12d1']}@{outputs('Get_response_details')?['body/r81dcbcd6de51464ea3e2e2e929b5c65a']}@{outputs('Get_response_details')?['body/rfe22950f2e0a458f8d79d17f9f8df639']}@{outputs('Get_response_details')?['body/r4bfe9130f7e346968c2a1568e09ea11e']}@{outputs('Get_response_details')?['body/rdba22903966645c0a0a3ccc25af65eac']}</p><p><b><strong>Choose the Specialties you wish to include:</strong></b></p><p>@{outputs('Get_response_details')?['body/r2b193091da0b4ebcaea3747b3fe63d97']} @{outputs('Get_response_details')?['body/r1f926f5d80364f7db79aa20bc1902b42']}</p><p><b><strong>Province if applicable:</strong></b></p><p>@{outputs('Get_response_details')?['body/r145d5ef0c1f2433f8ab7a94cefa91257']}</p><p><b><strong>Veeva Vault ID / PromoMats:</strong></b></p><p>@{outputs('Get_response_details')?['body/r9fc1199a4639475bb1b6421905d892c2']}</p><p><b><strong>Languange</strong></b></p><p>@{outputs('Get_response_details')?['body/r47a0da27a2ea4a1eb51083aad4f50c2d']}</p><p><b><strong>Excluded Individuals:</strong></b></p><p>@{outputs('Get_response_details')?['body/ra7d9f37cf62a4231bd97704f22f84057']}</p><p><b><strong>Adoption ladder:</strong></b></p><p>@{outputs('Get_response_details')?['body/rb2911fbfa5d34f4c8bf486960f0c6ed1']}@{outputs('Get_response_details')?['body/rc73ae3a6b3f84706ae8d13cc3197dc67']}</p><p><b><strong>Potential &amp; Affinity</strong></b></p><p>@{outputs('Get_response_details')?['body/r1944605c75444705b756c1c10fb48290']} @{outputs('Get_response_details')?['body/r1db0f5cb12fd440d95ebe638ea6a22ff']}</p><p><b><strong>Comments</strong></b></p><p>@{outputs('Get_response_details')?['body/r0e2a968022b34459b963ad771e06762b']}</p><br><p>-BTS Canada</p><br><br><br><br><br>","emailMessage/From":"bts.digital@abbviecare.ca","emailMessage/Cc":"bogdan.baloiu@abbvie.com;diego.ricoy@abbvie.com;bell.jamie@abbvie.com","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Update_status_+_comments_after_BRM_Level_approval":["Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"contains":["@outputs('Create_an_approval_-_Brand_Manager_Level_-_TargeList_')?['body/outcome']","Reject "]}]},"metadata":{"operationMetadataId":"23156183-24fc-4f63-b77a-a3f9c4e865fd"},"type":"If"}},"runAfter":{"Condition_if_rejected_at_Bogdan_Level":["Succeeded"]},"metadata":{"operationMetadataId":"da1815c2-7a95-4976-ad4f-b5fc64317094"},"type":"Foreach"},"Apply_to_each_-_KUO_Approval_Flow":{"foreach":"@outputs('Create_an_approval_-_Bogdan_Level_-_TargeList')?['body/responses']","actions":{"Create_an_approval_-_KUO_level_-_TargeList_":{"metadata":{"operationMetadataId":"3e91d35b-f5bb-45bd-a9aa-225a0fd9099e"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"approvalType":"CustomResponse","WebhookApprovalCreationInput/responseOptions":["Approve","Refuse"],"WebhookApprovalCreationInput/title":"[SFMC] - TargetList Creation  -@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}","WebhookApprovalCreationInput/assignedTo":"kuo.liao@abbvie.com;","WebhookApprovalCreationInput/details":"Hello ,\n\nPlease see the details below!\n\n--------------------------------------------\nFile location and BTS comments:\n-@{items('Apply_to_each_-_KUO_Approval_Flow')?['comments']}-\n\nBrand Manager comments:\n-@{variables('BMcomments')}-\n--------------------------------------------\n\nCountry:\n@{outputs('Get_response_details')?['body/rc7a580eb9757486497bcad8a121aac10']}\n\nBusiness Owner:\n@{outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']}\n\nBTS Partner:\n@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}\n\nDue Date for this list:\n@{outputs('Get_response_details')?['body/r4b29b32843a345018723d242d2a23598']}\n\nProject Name:\n@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}\n\nProject Purpose\n@{outputs('Get_response_details')?['body/r33281e8ab485443db88bfa7da69e57eb']}\n\nTherapeutic area\n@{outputs('Get_response_details')?['body/rdbcf85fb520a47f8918039518991812d']}\n\nProducts\n@{outputs('Get_response_details')?['body/r85262cf03e6147ffade60385cb003a81']}@{outputs('Get_response_details')?['body/rb6796a54f8fc459e8bc0bea14b576f40']}@{outputs('Get_response_details')?['body/rf31aec25453844d0a12c5f94e278d165']}@{outputs('Get_response_details')?['body/r7f3efd9c578d4d29b24d1d45ac511796']}@{outputs('Get_response_details')?['body/rd826b02cd60d4fc6b8d4644932c93029']}@{outputs('Get_response_details')?['body/r501d13baa8014a90ab98328648423f51']}@{outputs('Get_response_details')?['body/r6ecd487e43b842b7aecf9336101b47ef']}@{outputs('Get_response_details')?['body/r41e4e2960ef54fd396446511161a2069']}@{outputs('Get_response_details')?['body/r2b7e06412219483089650f86a1b59e1c']}@{outputs('Get_response_details')?['body/r53d4b376102f4cdcac543bcca50d70f9']}@{outputs('Get_response_details')?['body/r77bc48b870f546aca43cffe1a621c5d2']}@{outputs('Get_response_details')?['body/r70c01f71432343cba530d149cbd9a4b0']}@{outputs('Get_response_details')?['body/r0f29b59db066490a8a2a3548859d5c9c']}@{outputs('Get_response_details')?['body/rcb80e346cc2c47fd839fa9050fc4833e']}@{outputs('Get_response_details')?['body/rf746ac3d9c1b4747b6c749d7986ff4a3']}\n@{outputs('Get_response_details')?['body/r593d04b111fe48dca560a3f14c5dbd13']}\n@{outputs('Get_response_details')?['body/ra8949a5082164268970b592716d0763f']}\n\n\nCustomer Segementation:\n@{outputs('Get_response_details')?['body/rbe1f1d622629494e8ec8fcf472e7e896']}@{outputs('Get_response_details')?['body/red9fa52543b941e3a7ec0c01087986f1']}@{outputs('Get_response_details')?['body/r9fcd45d7356847d9871289e1d1b866f1']}@{outputs('Get_response_details')?['body/r0e95f7ad825d424e87d666bea26fd116']}@{outputs('Get_response_details')?['body/rd9c19e90f3664899b6791fbbef6a906d']}@{outputs('Get_response_details')?['body/r46e5cb943c2b4362a02ccaf73955c809']}@{outputs('Get_response_details')?['body/r2f931b9a0c394c228d8ce402fb9670f1']}@{outputs('Get_response_details')?['body/r77d1606e70644980ac98c9dfad9ce5d9']}@{outputs('Get_response_details')?['body/r1b631645fc484b02bd8846d90a91a07d']}@{outputs('Get_response_details')?['body/r01eb5888376147cf9921cd3d148290a7']}@{outputs('Get_response_details')?['body/r2a74152e3e4b4d56a4755afc4df24aa6']}@{outputs('Get_response_details')?['body/re784c01c42c6414896a88fdc66199465']}@{outputs('Get_response_details')?['body/rf5101189fa8a47a0991822a4021f12d1']}@{outputs('Get_response_details')?['body/r81dcbcd6de51464ea3e2e2e929b5c65a']}@{outputs('Get_response_details')?['body/rfe22950f2e0a458f8d79d17f9f8df639']}@{outputs('Get_response_details')?['body/r4bfe9130f7e346968c2a1568e09ea11e']}@{outputs('Get_response_details')?['body/rdba22903966645c0a0a3ccc25af65eac']}\n\nChoose the Specialties you wish to include:\n\n@{outputs('Get_response_details')?['body/r2b193091da0b4ebcaea3747b3fe63d97']}\n@{outputs('Get_response_details')?['body/r1f926f5d80364f7db79aa20bc1902b42']}\n\nProvince if applicable:\n@{outputs('Get_response_details')?['body/r145d5ef0c1f2433f8ab7a94cefa91257']}\n\nVeeva Vault ID / PromoMats:\n@{outputs('Get_response_details')?['body/r9fc1199a4639475bb1b6421905d892c2']}\n\nLanguange :\n@{outputs('Get_response_details')?['body/r47a0da27a2ea4a1eb51083aad4f50c2d']}\n\nExcluded Individuals:\n@{outputs('Get_response_details')?['body/ra7d9f37cf62a4231bd97704f22f84057']}\n\nAdoption ladder:\n@{outputs('Get_response_details')?['body/rb2911fbfa5d34f4c8bf486960f0c6ed1']}@{outputs('Get_response_details')?['body/rc73ae3a6b3f84706ae8d13cc3197dc67']}\n\nPotential & Affinity\n@{outputs('Get_response_details')?['body/r1944605c75444705b756c1c10fb48290']}\n@{outputs('Get_response_details')?['body/r1db0f5cb12fd440d95ebe638ea6a22ff']}\n\nComments:\n@{outputs('Get_response_details')?['body/r0e2a968022b34459b963ad771e06762b']}\n\n-BTS Canada\n\n\n","WebhookApprovalCreationInput/itemLinkDescription":"Please review  this new request \n","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"authentication":"@parameters('$authentication')"}},"Set_variable_-_ApprovalStatuslevel3":{"runAfter":{"Create_an_approval_-_KUO_level_-_TargeList_":["Succeeded"]},"metadata":{"operationMetadataId":"32c9312f-d1b4-4148-b30a-225114f202a4"},"type":"SetVariable","inputs":{"name":"ApprovalStatusLevel3","value":"@outputs('Create_an_approval_-_KUO_level_-_TargeList_')?['body/outcome']"}},"Compose_2":{"runAfter":{"Set_variable_-_ApprovalStatuslevel3":["Succeeded"]},"metadata":{"operationMetadataId":"76f04848-42cc-4caa-98d9-6b7003532c32"},"type":"Compose","inputs":"yes = @{variables('ApprovalStatusLevel3')}"},"Apply_to_each_-_flow_for_KUO_comments":{"foreach":"@outputs('Create_an_approval_-_KUO_level_-_TargeList_')?['body/responses']","actions":{"Set_variable":{"metadata":{"operationMetadataId":"49b26bde-6f98-4cb8-ad77-aa2a8c11604a"},"type":"SetVariable","inputs":{"name":"DataStewardComments","value":"@items('Apply_to_each_-_flow_for_KUO_comments')?['comments']"}}},"runAfter":{"Compose_2":["Succeeded"]},"metadata":{"operationMetadataId":"ec24a8fb-fd14-47cf-9d2e-3c575a70b1fc"},"type":"Foreach"},"Update_status_+_comments_after_Kuo_Level_approval":{"runAfter":{"Get_item_2":["Succeeded"]},"metadata":{"operationMetadataId":"886dc617-7e6c-4c1d-a6db-ba61eaf39fe2"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://abbvie.sharepoint.com/sites/msteams_c38c47","table":"8139e5bc-e87b-4029-bdd6-cef739baa00d","id":"@body('Create_item_in_target_list_creation_list')?['ID']","item/Status/Value":"@{if(contains(body('Create_an_approval_-_KUO_level_-_TargeList_')?['outcome'],'Appro'),'Target List Approved','Target List Refused')}","item/Comments":"@{concat(body('Get_item_2')?['Comments'],outputs('newLine'),utcNow(),' - ',variables('DataStewardComments'))}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"Get_item_2":{"runAfter":{"Apply_to_each_-_flow_for_KUO_comments":["Succeeded"]},"metadata":{"operationMetadataId":"c4f68ae2-4aea-465b-83a6-fc947f142659"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://abbvie.sharepoint.com/sites/msteams_c38c47","table":"8139e5bc-e87b-4029-bdd6-cef739baa00d","id":"@body('Create_item_in_target_list_creation_list')?['ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"Condition_If_Approved_all_the_way_down":{"actions":{"Set_variable_-_If_approved_3":{"metadata":{"operationMetadataId":"e1cfb25c-0486-4be2-9371-070cca571b6a"},"type":"SetVariable","inputs":{"name":"ApprovalStatus","value":"Approved"}}},"runAfter":{"Update_status_+_comments_after_Kuo_Level_approval":["Succeeded"]},"else":{"actions":{"Set_variable_-_If_refused_3":{"metadata":{"operationMetadataId":"e1cfb25c-0486-4be2-9371-070cca571b6a"},"type":"SetVariable","inputs":{"name":"ApprovalStatus","value":"Denied"}}}},"expression":{"and":[{"contains":["@body('Create_an_approval_-_KUO_level_-_TargeList_')?['outcome']","Appro"]}]},"metadata":{"operationMetadataId":"728fded2-b9b0-4da4-ac73-54d7059ede5c"},"type":"If"},"Send_an_email_to_Brand_Managers":{"runAfter":{"Condition_If_Approved_all_the_way_down":["Succeeded"]},"metadata":{"operationMetadataId":"7bd4acae-ffa7-4fac-a3c3-b2b51a013055"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@body('Get_response_details')?['r1449ddf4c0d348e3aad239ad7d1054b6']","emailMessage/Subject":"[SFMC] - TargetList Creation  -@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']} - @{variables('ApprovalStatus')}","emailMessage/Body":"<p class=\"editor-paragraph\">@{variables('Embed Image Link')}<br><br><br>Hello ,<br><br>Your request has been @{variables('ApprovalStatus')}<br>See the details &nbsp;below.<br><br>----------------------------------------<br>Brand manger comments:<br>-@{variables('BMcomments')}-<br><br>Data Steward comments:<br>-@{variables('DataStewardComments')}-<br><br>SFMC Dev comments:<br>-@{variables('SFMC-Comments')}<br>-----------------------------------</p><br><p class=\"editor-paragraph\"><br><b><strong class=\"editor-text-bold\">Country:</strong></b><br>@{outputs('Get_response_details')?['body/rc7a580eb9757486497bcad8a121aac10']}<br><br><b><strong class=\"editor-text-bold\">Brand:</strong></b><br>@{outputs('Get_response_details')?['body/rb277b4f06fa34114b04774864133d510']}<br><br>Indication(s):<br>@{outputs('Get_response_details')?['body/r086d9930e982435b970c249eadd062d2']}<br><br><b><strong class=\"editor-text-bold\">State/Province:</strong></b><br>@{outputs('Get_response_details')?['body/re707c531f2b848078ec58e08bd60860d']}<br><br><b><strong class=\"editor-text-bold\">Language:</strong></b><br>@{outputs('Get_response_details')?['body/reae29079a13942d08a24de15f40aba6d']}<br><br><br><br><b><strong class=\"editor-text-bold\">Specialties:</strong></b><br>@{outputs('Get_response_details')?['body/r53c3ad49cc7d4444bd48f2d511349387']}<br><br><br><b><strong class=\"editor-text-bold\">Marketing Consent:</strong></b><br>@{outputs('Get_response_details')?['body/r2f50fc58126d420591466912b4fa2f7d']}<br><br><b><strong class=\"editor-text-bold\">Customer Segmentation:</strong></b><br>@{outputs('Get_response_details')?['body/rb8cee04de645448eb25f19762a293608']}<br><br><b><strong class=\"editor-text-bold\">Potential Affinity:</strong></b><br>@{outputs('Get_response_details')?['body/rbc39ad7f8c2c4fb7bb3f983df9349083']}<br><br><b><strong class=\"editor-text-bold\">Adoption Ladder:</strong></b><br>@{outputs('Get_response_details')?['body/r35e8fec1ce0747d5a0c7dc98b1e9149d']}<br><br><b><strong class=\"editor-text-bold\">Journeys:</strong></b><br>@{outputs('Get_response_details')?['body/r59f67f8c3cc74d2499b8bc12b9251d62']}<br><br><b><strong class=\"editor-text-bold\">BTS Partner:</strong></b><br>@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}<br><br><br><br>-BTS Canada<br><br><br><br></p><br>","emailMessage/Cc":"@{body('Get_response_details')?['rcdd7e978b2634a04839cfbf5ea6f250e']};matias.lazo@abbvie.com","emailMessage/Bcc":"bell.jamie@abbvie.com","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"Send_an_email_for_flow_failure_2":{"runAfter":{"Send_an_email_to_Brand_Managers":["Skipped","Failed"]},"metadata":{"operationMetadataId":"1ce2d3d4-f51a-47b3-846c-6a20e4883404"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"bell.jamie@abbvie.com","emailMessage/Subject":"SFMC Intake Flow Has Failed","emailMessage/Body":"<p>A recent run of the SFMC Intake flow has failed.</p>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Condition__-_country_":["Succeeded"]},"metadata":{"operationMetadataId":"6cc0cbcd-0be5-4913-8d3b-6aae0a9198b8"},"type":"Foreach"},"Apply_to_each_-_Get_comments_from_Bogdan":{"foreach":"@outputs('Create_an_approval_-_Bogdan_Level_-_TargeList')?['body/responses']","actions":{"Set_variable_-_SFMC-Comments_set":{"metadata":{"operationMetadataId":"645cc3e4-8eed-4a0c-addb-c02ac3521e8d"},"type":"SetVariable","inputs":{"name":"SFMC-Comments","value":"@items('Apply_to_each_-_Get_comments_from_Bogdan')?['comments']"}}},"runAfter":{"Create_an_approval_-_Bogdan_Level_-_TargeList":["Succeeded"]},"metadata":{"operationMetadataId":"d5dd62b5-2d6e-42a9-824a-ac92afe7d974"},"type":"Foreach"},"Create_item_in_target_list_creation_list":{"metadata":{"operationMetadataId":"d079f013-8f9a-44ac-a6e6-f9a037606889"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://abbvie.sharepoint.com/sites/msteams_c38c47","table":"8139e5bc-e87b-4029-bdd6-cef739baa00d","item/DateRequested":"@{utcNow()}","item/Status/Value":"Approval Sent - Bogdan Level","item/BusinessOwner/Claims":"@body('Get_response_details')?['r1449ddf4c0d348e3aad239ad7d1054b6']","item/BTSPartner/Claims":"@body('Get_response_details')?['rcdd7e978b2634a04839cfbf5ea6f250e']","item/ProjectName":"@body('Get_response_details')?['ra8c5068a5e644142a9002f0d53fe0c5c']","item/ProjectPurpose":"@body('Get_response_details')?['r33281e8ab485443db88bfa7da69e57eb']","item/Product":"@outputs('Get_response_details')?['body/rb277b4f06fa34114b04774864133d510']","item/CustomerSegmentation":"@outputs('Get_response_details')?['body/rb8cee04de645448eb25f19762a293608']","item/TherapeuticArea":"@outputs('Get_response_details')?['body/r086d9930e982435b970c249eadd062d2']","item/Specialities":"@outputs('Get_response_details')?['body/r53c3ad49cc7d4444bd48f2d511349387']","item/AdoptionLadder":"@outputs('Get_response_details')?['body/r35e8fec1ce0747d5a0c7dc98b1e9149d']","item/country":"@outputs('Get_response_details')?['body/rf25fdbb25c974f3298f73e2b24c75021']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"authentication":"@parameters('$authentication')"}},"Update_Status+Comments_after_Bogdan_Level_Approval":{"runAfter":{"Get_item_1":["Succeeded"]},"metadata":{"operationMetadataId":"f4c7b035-79bd-4910-a553-05e8579f58a5"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://abbvie.sharepoint.com/sites/msteams_c38c47","table":"8139e5bc-e87b-4029-bdd6-cef739baa00d","id":"@body('Get_item_1')?['ID']","item/Status/Value":"@{if(contains(body('Create_an_approval_-_Bogdan_Level_-_TargeList')?['outcome'],'Appro'),'Approval Sent - BRM Level','Issue - Bogdan Level')}","item/Comments":"@{concat(body('Get_item_1')?['Comments'],outputs('newLine'),utcNow(),' - ',variables('SFMC-Comments'))}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"Get_item_1":{"runAfter":{"Apply_to_each_-_Get_comments_from_Bogdan":["Succeeded"]},"metadata":{"operationMetadataId":"91a2b348-2604-4f34-86a4-d55e395aaafc"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://abbvie.sharepoint.com/sites/msteams_c38c47","table":"8139e5bc-e87b-4029-bdd6-cef739baa00d","id":"@body('Create_item_in_target_list_creation_list')?['ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"Terminate":{"runAfter":{"_SFMC_Target_List_-__1":["Succeeded"]},"metadata":{"operationMetadataId":"72f51f00-b9cf-4209-a5c7-54972e04584a"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}},"Condition_if_rejected_at_Bogdan_Level":{"actions":{"Terminate_2":{"runAfter":{"BTS_Level_-_Send_Email_for_Refusal_-_Target_List_Creation":["Succeeded"]},"metadata":{"operationMetadataId":"4435773c-64c4-41dc-811e-20c8ad5ae54e"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}},"BTS_Level_-_Send_Email_for_Refusal_-_Target_List_Creation":{"metadata":{"operationMetadataId":"fce4e6a8-31e1-4e70-94d2-b7e03a75f9af"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@{body('Get_response_details')?['r1449ddf4c0d348e3aad239ad7d1054b6']};@{body('Get_response_details')?['rcdd7e978b2634a04839cfbf5ea6f250e']};@{body('Get_response_details')?['rbefed3e4a42f48fea2c25bed29a1373c']}","emailMessage/Subject":"[SFMC] - TargetList Creation - Request Denied - @{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}","emailMessage/Body":"<p>@{variables('Embed Image Link')} </p><p>Hello, </p><br><p>Please see the details below! </p><p>The request for target list creation has been denied! </p><p>Please refer to the comments below and submit a new request with the updated information.</p><p>--------------------------------------------------------------------------------------<br><b><strong>BTS Comments:</strong></b><br>@{variables('SFMC-Comments')}</p><p>--------------------------------------------------------------------------------------</p><p><b><strong>Request Details</strong></b></p><br><p><b><strong>Requester:</strong></b></p><p>@{body('Get_response_details')?['rbefed3e4a42f48fea2c25bed29a1373c']}</p><p><b><strong>Business Owner:</strong></b> </p><p>@{outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']} </p><p><b><strong>BTS Partner:</strong></b> </p><p>@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']} </p><p><b><strong>Due Date for this list:</strong></b> </p><p>@{outputs('Get_response_details')?['body/r4b29b32843a345018723d242d2a23598']}</p><p><b><strong>Project Name:</strong></b></p><p>@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']} </p><p><b><strong>Project Purpose:</strong></b> </p><p>@{outputs('Get_response_details')?['body/r33281e8ab485443db88bfa7da69e57eb']} </p><p><b><strong>Therapeutic area</strong></b> </p><p>@{outputs('Get_response_details')?['body/rdbcf85fb520a47f8918039518991812d']} </p><p><b><strong>Products</strong></b> </p><p>@{outputs('Get_response_details')?['body/r85262cf03e6147ffade60385cb003a81']}@{outputs('Get_response_details')?['body/rb6796a54f8fc459e8bc0bea14b576f40']}@{outputs('Get_response_details')?['body/rf31aec25453844d0a12c5f94e278d165']}@{outputs('Get_response_details')?['body/r7f3efd9c578d4d29b24d1d45ac511796']}@{outputs('Get_response_details')?['body/rd826b02cd60d4fc6b8d4644932c93029']}@{outputs('Get_response_details')?['body/r501d13baa8014a90ab98328648423f51']}@{outputs('Get_response_details')?['body/r6ecd487e43b842b7aecf9336101b47ef']}@{outputs('Get_response_details')?['body/r41e4e2960ef54fd396446511161a2069']}@{outputs('Get_response_details')?['body/r2b7e06412219483089650f86a1b59e1c']}@{outputs('Get_response_details')?['body/r53d4b376102f4cdcac543bcca50d70f9']}@{outputs('Get_response_details')?['body/r77bc48b870f546aca43cffe1a621c5d2']}@{outputs('Get_response_details')?['body/r70c01f71432343cba530d149cbd9a4b0']}@{outputs('Get_response_details')?['body/r0f29b59db066490a8a2a3548859d5c9c']}@{outputs('Get_response_details')?['body/rcb80e346cc2c47fd839fa9050fc4833e']}@{outputs('Get_response_details')?['body/rf746ac3d9c1b4747b6c749d7986ff4a3']} @{outputs('Get_response_details')?['body/r593d04b111fe48dca560a3f14c5dbd13']} @{outputs('Get_response_details')?['body/ra8949a5082164268970b592716d0763f']} </p><p><b><strong>Customer Segmentation:</strong></b> </p><p>@{outputs('Get_response_details')?['body/rbe1f1d622629494e8ec8fcf472e7e896']}@{outputs('Get_response_details')?['body/red9fa52543b941e3a7ec0c01087986f1']}@{outputs('Get_response_details')?['body/r9fcd45d7356847d9871289e1d1b866f1']}@{outputs('Get_response_details')?['body/r0e95f7ad825d424e87d666bea26fd116']}@{outputs('Get_response_details')?['body/rd9c19e90f3664899b6791fbbef6a906d']}@{outputs('Get_response_details')?['body/r46e5cb943c2b4362a02ccaf73955c809']}@{outputs('Get_response_details')?['body/r2f931b9a0c394c228d8ce402fb9670f1']}@{outputs('Get_response_details')?['body/r77d1606e70644980ac98c9dfad9ce5d9']}@{outputs('Get_response_details')?['body/r1b631645fc484b02bd8846d90a91a07d']}@{outputs('Get_response_details')?['body/r01eb5888376147cf9921cd3d148290a7']}@{outputs('Get_response_details')?['body/r2a74152e3e4b4d56a4755afc4df24aa6']}@{outputs('Get_response_details')?['body/re784c01c42c6414896a88fdc66199465']}@{outputs('Get_response_details')?['body/rf5101189fa8a47a0991822a4021f12d1']}@{outputs('Get_response_details')?['body/r81dcbcd6de51464ea3e2e2e929b5c65a']}@{outputs('Get_response_details')?['body/rfe22950f2e0a458f8d79d17f9f8df639']}@{outputs('Get_response_details')?['body/r4bfe9130f7e346968c2a1568e09ea11e']}@{outputs('Get_response_details')?['body/rdba22903966645c0a0a3ccc25af65eac']}</p><p><b><strong>Choose the Specialties you wish to include:</strong></b> </p><p>@{outputs('Get_response_details')?['body/r2b193091da0b4ebcaea3747b3fe63d97']} @{outputs('Get_response_details')?['body/r1f926f5d80364f7db79aa20bc1902b42']} </p><p><b><strong>Province if applicable:</strong></b> </p><p>@{outputs('Get_response_details')?['body/r145d5ef0c1f2433f8ab7a94cefa91257']} </p><p><b><strong>Veeva Vault ID / PromoMats:</strong></b> </p><p>@{outputs('Get_response_details')?['body/r9fc1199a4639475bb1b6421905d892c2']} </p><p><b><strong>Languange</strong></b></p><p>@{outputs('Get_response_details')?['body/r47a0da27a2ea4a1eb51083aad4f50c2d']} </p><p><b><strong>Excluded Individuals:</strong></b></p><p>@{outputs('Get_response_details')?['body/ra7d9f37cf62a4231bd97704f22f84057']}</p><p><b><strong>Adoption ladder:</strong></b></p><p>@{outputs('Get_response_details')?['body/rb2911fbfa5d34f4c8bf486960f0c6ed1']}@{outputs('Get_response_details')?['body/rc73ae3a6b3f84706ae8d13cc3197dc67']} </p><p><b><strong>Potential &amp; Affinity</strong></b> </p><p>@{outputs('Get_response_details')?['body/r1944605c75444705b756c1c10fb48290']} @{outputs('Get_response_details')?['body/r1db0f5cb12fd440d95ebe638ea6a22ff']} </p><p><b><strong>Comments</strong></b></p><p>@{outputs('Get_response_details')?['body/r0e2a968022b34459b963ad771e06762b']} </p><br><p>-BTS Canada</p><br><br><br><br><br>","emailMessage/From":"bts.digital@abbviecare.ca","emailMessage/Cc":"bell.jamie@abbvie.com","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Update_Status+Comments_after_Bogdan_Level_Approval":["Succeeded","Failed","Skipped"]},"else":{"actions":{}},"expression":{"and":[{"not":{"contains":["@body('Create_an_approval_-_Bogdan_Level_-_TargeList')?['outcome']","Appro"]}}]},"metadata":{"operationMetadataId":"f8d52294-d082-4fc4-8953-5b53b49c7fff"},"type":"If"},"Condition_if_refusal_var_is_queal_to_false_(request_denied)":{"actions":{"Terminate_3":{"metadata":{"operationMetadataId":"672a4db7-dcbd-4af9-bb49-e48d850f433a"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"runAfter":{"Apply_to_each_-_Brand_Manager_Flow":["Succeeded","Failed","Skipped"]},"else":{"actions":{}},"expression":{"and":[{"equals":["@variables('refusalBool')",false]}]},"metadata":{"operationMetadataId":"ed0e16a6-94e0-4c91-945f-1492942f43e4"},"type":"If"},"Condition__-_country_":{"actions":{},"runAfter":{"Terminate_flow":["Succeeded"]},"else":{"actions":{"Send_an_email_to_Brand_Managers_2":{"metadata":{"operationMetadataId":"7bd4acae-ffa7-4fac-a3c3-b2b51a013055"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@body('Get_response_details')?['r1449ddf4c0d348e3aad239ad7d1054b6']","emailMessage/Subject":"[SFMC] - TargetList Creation  -@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']} - @{outputs('Create_an_approval_-_Bogdan_Level_-_TargeList')?['body/outcome']}","emailMessage/Body":"<p class=\"editor-paragraph\">@{variables('Embed Image Link')}<br><br><br>Hello ,<br><br>Your request has been @{outputs('Create_an_approval_-_Bogdan_Level_-_TargeList')?['body/outcome']}<br>See the details &nbsp;below.<br><br>----------------------------------------<br>Brand manger comments:<br>-@{variables('BMcomments')}-<br><br>SFMC Dev comments:<br>-@{variables('SFMC-Comments')}<br><br>---------------------------------------------<br><br>Country:<br>@{outputs('Get_response_details')?['body/rc7a580eb9757486497bcad8a121aac10']}<br><br>Brand:<br>@{outputs('Get_response_details')?['body/rb277b4f06fa34114b04774864133d510']}<br><br>Indication(s):<br>@{outputs('Get_response_details')?['body/r086d9930e982435b970c249eadd062d2']}<br><br>State/Province:<br>@{outputs('Get_response_details')?['body/re707c531f2b848078ec58e08bd60860d']}<br><br>Language:<br>@{outputs('Get_response_details')?['body/reae29079a13942d08a24de15f40aba6d']}<br><br>Customer Type:<br>@{outputs('Get_response_details')?['body/r935411b1149944ac986ef09109d80264']}<br><br>Specialties:<br>@{outputs('Get_response_details')?['body/r53c3ad49cc7d4444bd48f2d511349387']}<br><br>Cycle Plan:<br>@{outputs('Get_response_details')?['body/rafb33fdf25304cba80083def300893a4']}<br><br>Marketing Consent:<br>@{outputs('Get_response_details')?['body/r2f50fc58126d420591466912b4fa2f7d']}<br><br>Customer Segmentation:<br>@{outputs('Get_response_details')?['body/rb8cee04de645448eb25f19762a293608']}<br><br>Potential Affinity:<br>@{outputs('Get_response_details')?['body/rbc39ad7f8c2c4fb7bb3f983df9349083']}<br><br>Adoption Ladder:<br>@{outputs('Get_response_details')?['body/r35e8fec1ce0747d5a0c7dc98b1e9149d']}<br><br>Journeys:<br>@{outputs('Get_response_details')?['body/r59f67f8c3cc74d2499b8bc12b9251d62']}<br><br>BTS Partner:<br>@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}</p><br><p class=\"editor-paragraph\">[Additional Information] <br>@{outputs('Get_response_details')?['body/ra3b23fbabff849cfb40ff4b34f0f623b']}<br></p><br><p class=\"editor-paragraph\"><br>-BTS Canada<br><br><br><br></p><br>","emailMessage/Cc":"@body('Get_response_details')?['rcdd7e978b2634a04839cfbf5ea6f250e']","emailMessage/Bcc":"bell.jamie@abbvie.com","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"Terminate_5":{"runAfter":{"_SFMC_Target_List_-__1_1":["Succeeded"]},"metadata":{"operationMetadataId":"72f51f00-b9cf-4209-a5c7-54972e04584a"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}},"_SFMC_Target_List_-__1_1":{"runAfter":{"Send_an_email_to_Brand_Managers_2":["Succeeded"]},"metadata":{"operationMetadataId":"a40f6e21-5954-4cf6-b0fa-91ffc614c681"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"abbviecaresupport@abbvie.com","emailMessage/Subject":"[SMO] - SFMC Target List-  - ","emailMessage/Body":"<p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Hi Team,</strong></b><br><br><b><strong class=\"editor-text-bold\">Can you please process the request listed below:</strong></b><br><a href=\"https://abbvienow.service-now.com/now/nav/ui/classic/params/target/incident.do%3Fsys_id%3D-1%26sysparm_query%3Dactive%3Dtrue%26sysparm_stack%3Dincident_list.do%3Fsysparm_query%3Dactive%3Dtrue%26sysparm_view%3Ddefault%26sysparm_view_forced%3Dtrue\" class=\"editor-link\">Click here for corresponding form to complete &nbsp; </a>&nbsp;</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">and close call immediately please </strong></b><br>---------------------------------------------- ---------------------------------------<br><b><strong class=\"editor-text-bold\">SFMC– &nbsp;</strong></b><br><br><b><strong class=\"editor-text-bold\">Watchlist Emails:</strong></b><br>@{outputs('Get_response_details')?['body/r5f32442f76de4ab8b82ec42082141238']}<br>@{outputs('Get_response_details')?['body/rf51522aed7004931bc946262a64ba152']}<br><br><br><b><strong class=\"editor-text-bold\">Location</strong></b><br>CA St Laurent<br><br><b><strong class=\"editor-text-bold\">Service</strong></b><br>Salesforce Platform<br><br><b><strong class=\"editor-text-bold\">Service Offering</strong></b><br>CO-LATAM-Geo-Operations-Contractors<br><br>Contact Name:<br>@{outputs('Get_response_details')?['body/r0daf19a4a65f492f8b24c621b545aaf5']}<br><br>Country &nbsp;<br>@{outputs('Get_response_details')?['body/rd57d5ac6ea734335a4aff68b3bcdf805']}<br><br><br>--------------------------------------------------------------------------------------<br><br><b><strong class=\"editor-text-bold\">Short Description :</strong></b><br>SFMC<br><br><b><strong class=\"editor-text-bold\">Long Description : &nbsp;Enter all below</strong></b><br><br><br>Brand:<br>@{outputs('Get_response_details')?['body/rb277b4f06fa34114b04774864133d510']}<br><br>Indication(s):<br>@{outputs('Get_response_details')?['body/r086d9930e982435b970c249eadd062d2']}<br><br>State/Province:<br>@{outputs('Get_response_details')?['body/re707c531f2b848078ec58e08bd60860d']}<br><br>Language:<br>@{outputs('Get_response_details')?['body/reae29079a13942d08a24de15f40aba6d']}<br><br><br>Specialties:<br>@{outputs('Get_response_details')?['body/r53c3ad49cc7d4444bd48f2d511349387']}<br><br>Marketing Consent:<br>@{outputs('Get_response_details')?['body/r2f50fc58126d420591466912b4fa2f7d']}<br><br>Customer Segmentation:<br>@{outputs('Get_response_details')?['body/rb8cee04de645448eb25f19762a293608']}<br><br>Potential Affinity:<br>@{outputs('Get_response_details')?['body/rbc39ad7f8c2c4fb7bb3f983df9349083']}<br><br>Adoption Ladder:<br>@{outputs('Get_response_details')?['body/r35e8fec1ce0747d5a0c7dc98b1e9149d']}<br><br>Journeys:<br>@{outputs('Get_response_details')?['body/r59f67f8c3cc74d2499b8bc12b9251d62']}<br><br>BTS Partner:<br>@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}<br><br><br>[Additional Information]<br>@{outputs('Get_response_details')?['body/ra3b23fbabff849cfb40ff4b34f0f623b']}<br></p><br>","emailMessage/From":"bts.digital@abbviecare.ca","emailMessage/Cc":"bell.jamie@abbvie.com","emailMessage/Attachments":"@variables('varAttachements')","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('Get_response_details')?['body/rc7a580eb9757486497bcad8a121aac10']","Canada"]},"metadata":{"operationMetadataId":"39a7bb7e-862c-4ef6-9f69-55dc031736ab"},"type":"If"},"_SFMC_Target_List_-__1":{"runAfter":{"Apply_to_each_-_KUO_Approval_Flow":["Succeeded"]},"metadata":{"operationMetadataId":"a40f6e21-5954-4cf6-b0fa-91ffc614c681"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"abbviecaresupport@abbvie.com","emailMessage/Subject":"[SMO] - SFMC Target List-  - ","emailMessage/Body":"<p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Hi Team,</strong></b><br><br><b><strong class=\"editor-text-bold\">Can you please process the request listed below:</strong></b><br><a href=\"https://abbvienow.service-now.com/now/nav/ui/classic/params/target/incident.do%3Fsys_id%3D-1%26sysparm_query%3Dactive%3Dtrue%26sysparm_stack%3Dincident_list.do%3Fsysparm_query%3Dactive%3Dtrue%26sysparm_view%3Ddefault%26sysparm_view_forced%3Dtrue\" class=\"editor-link\">Click here for corresponding form to complete &nbsp; </a>&nbsp;</p><br><p class=\"editor-paragraph\"><br>---------------------------------------------- ---------------------------------------<br><b><strong class=\"editor-text-bold\">SFMC– &nbsp;</strong></b><br><br><b><strong class=\"editor-text-bold\">Watchlist Emails:</strong></b><br>@{outputs('Get_response_details')?['body/r5f32442f76de4ab8b82ec42082141238']}<br>@{outputs('Get_response_details')?['body/rf51522aed7004931bc946262a64ba152']}<br><br><br><b><strong class=\"editor-text-bold\">Location</strong></b><br>CA St Laurent<br><br><b><strong class=\"editor-text-bold\">Service</strong></b><br>Salesforce Platform<br><br><b><strong class=\"editor-text-bold\">Service Offering</strong></b><br>CO-LATAM-Geo-Operations-Contractors<br><br>Contact Name:<br>@{outputs('Get_response_details')?['body/r0daf19a4a65f492f8b24c621b545aaf5']}<br><br>Country &nbsp;<br>@{outputs('Get_response_details')?['body/rd57d5ac6ea734335a4aff68b3bcdf805']}<br><br><br>--------------------------------------------------------------------------------------<br><br><b><strong class=\"editor-text-bold\">Short Description :</strong></b><br>SFMC<br><br><b><strong class=\"editor-text-bold\">Long Description : &nbsp;Enter all below</strong></b><br><br><br>Brand:<br>@{outputs('Get_response_details')?['body/rb277b4f06fa34114b04774864133d510']}<br><br>Indication(s):<br>@{outputs('Get_response_details')?['body/r086d9930e982435b970c249eadd062d2']}<br><br>State/Province:<br>@{outputs('Get_response_details')?['body/re707c531f2b848078ec58e08bd60860d']}<br><br>Language:<br>@{outputs('Get_response_details')?['body/reae29079a13942d08a24de15f40aba6d']}<br><br><br>Specialties:<br>@{outputs('Get_response_details')?['body/r53c3ad49cc7d4444bd48f2d511349387']}<br><br>Marketing Consent:<br>@{outputs('Get_response_details')?['body/r2f50fc58126d420591466912b4fa2f7d']}<br><br>Customer Segmentation:<br>@{outputs('Get_response_details')?['body/rb8cee04de645448eb25f19762a293608']}<br><br>Potential Affinity:<br>@{outputs('Get_response_details')?['body/rbc39ad7f8c2c4fb7bb3f983df9349083']}<br><br>Adoption Ladder:<br>@{outputs('Get_response_details')?['body/r35e8fec1ce0747d5a0c7dc98b1e9149d']}<br><br>Journeys:<br>@{outputs('Get_response_details')?['body/r59f67f8c3cc74d2499b8bc12b9251d62']}<br><br>BTS Partner:<br>@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}<br><br><br>[Additional Information]<br>@{outputs('Get_response_details')?['body/ra3b23fbabff849cfb40ff4b34f0f623b']}<br></p><br>","emailMessage/From":"bts.digital@abbviecare.ca","emailMessage/Cc":"bell.jamie@abbvie.com","emailMessage/Attachments":"@variables('varAttachements')","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"Send_an_email_to_Brand_Managers_final":{"runAfter":{"Condition_if_refusal_var_is_queal_to_false_(request_denied)":["Succeeded"]},"metadata":{"operationMetadataId":"7bd4acae-ffa7-4fac-a3c3-b2b51a013055"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@body('Get_response_details')?['r1449ddf4c0d348e3aad239ad7d1054b6']","emailMessage/Subject":"[SFMC] - TargetList Creation  -@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']} - @{outputs('Create_an_approval_-_Bogdan_Level_-_TargeList')?['body/outcome']}","emailMessage/Body":"<p class=\"editor-paragraph\">@{variables('Embed Image Link')}<br><br><br>Hello ,<br><br>Your request has been @{outputs('Create_an_approval_-_Bogdan_Level_-_TargeList')?['body/outcome']}<br>See the details &nbsp;below.<br><br>----------------------------------------<br>Brand manger comments:<br>-@{variables('BMcomments')}-<br><br>SFMC Dev comments:<br>-@{variables('SFMC-Comments')}<br><br>---------------------------------------------<br><br>Country:<br>@{outputs('Get_response_details')?['body/rc7a580eb9757486497bcad8a121aac10']}<br><br>Brand:<br>@{outputs('Get_response_details')?['body/rb277b4f06fa34114b04774864133d510']}<br><br>Indication(s):<br>@{outputs('Get_response_details')?['body/r086d9930e982435b970c249eadd062d2']}<br><br>State/Province:<br>@{outputs('Get_response_details')?['body/re707c531f2b848078ec58e08bd60860d']}<br><br>Language:<br>@{outputs('Get_response_details')?['body/reae29079a13942d08a24de15f40aba6d']}<br><br>Customer Type:<br>@{outputs('Get_response_details')?['body/r935411b1149944ac986ef09109d80264']}<br><br>Specialties:<br>@{outputs('Get_response_details')?['body/r53c3ad49cc7d4444bd48f2d511349387']}<br><br>Cycle Plan:<br>@{outputs('Get_response_details')?['body/rafb33fdf25304cba80083def300893a4']}<br><br>Marketing Consent:<br>yes<br><br>Customer Segmentation:<br>@{outputs('Get_response_details')?['body/rb8cee04de645448eb25f19762a293608']}<br><br>Potential Affinity:<br>@{outputs('Get_response_details')?['body/rbc39ad7f8c2c4fb7bb3f983df9349083']}<br><br>Adoption Ladder:<br>@{outputs('Get_response_details')?['body/r35e8fec1ce0747d5a0c7dc98b1e9149d']}<br><br>Journeys:<br>@{outputs('Get_response_details')?['body/r59f67f8c3cc74d2499b8bc12b9251d62']}<br><br>BTS Partner:<br>@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}</p><br><p class=\"editor-paragraph\">[Additional Information]<br>@{outputs('Get_response_details')?['body/ra3b23fbabff849cfb40ff4b34f0f623b']}<br></p><br><p class=\"editor-paragraph\"><br>-BTS Canada<br><br><br><br></p><br>","emailMessage/Cc":"@{body('Get_response_details')?['rcdd7e978b2634a04839cfbf5ea6f250e']};@{variables('VarApprover')}","emailMessage/Bcc":"bell.jamie@abbvie.com","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"_SFMC_Target_List_-__to_c3i":{"runAfter":{"Send_an_email_to_Brand_Managers_final":["Succeeded"]},"metadata":{"operationMetadataId":"a40f6e21-5954-4cf6-b0fa-91ffc614c681"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"abbviecaresupport@abbvie.com","emailMessage/Subject":"[SMO] - SFMC Target List-  - ","emailMessage/Body":"<p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Hi Team,</strong></b><br><br><b><strong class=\"editor-text-bold\">Can you please process the request listed below:</strong></b><br><a href=\"https://abbvienow.service-now.com/now/nav/ui/classic/params/target/incident.do%3Fsys_id%3D-1%26sysparm_query%3Dactive%3Dtrue%26sysparm_stack%3Dincident_list.do%3Fsysparm_query%3Dactive%3Dtrue%26sysparm_view%3Ddefault%26sysparm_view_forced%3Dtrue\" class=\"editor-link\">Click here for corresponding form to complete &nbsp; </a>&nbsp;</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">and close call immediately please</strong></b><br>---------------------------------------------- ---------------------------------------<br><b><strong class=\"editor-text-bold\">SFMC– &nbsp;</strong></b><br></p><br><p class=\"editor-paragraph\"><br>Caller:@{outputs('Get_response_details')?['body/rbefed3e4a42f48fea2c25bed29a1373c']}<br>Affected User: @{outputs('Get_response_details')?['body/rbefed3e4a42f48fea2c25bed29a1373c']}</p><p class=\"editor-paragraph\"><br><b><strong class=\"editor-text-bold\">Watchlist Emails:</strong></b><br>@{outputs('Get_response_details')?['body/r5f32442f76de4ab8b82ec42082141238']}<br>@{outputs('Get_response_details')?['body/rf51522aed7004931bc946262a64ba152']}<br></p><br><p class=\"editor-paragraph\"><br><b><strong class=\"editor-text-bold\">Location</strong></b><br>CA St Laurent<br><br><b><strong class=\"editor-text-bold\">Service</strong></b><br>Salesforce Platform<br><br><b><strong class=\"editor-text-bold\">Service Offering</strong></b><br>CO-LATAM-Geo-Operations-Contractors<br><br>Contact Name:<br>@{outputs('Get_response_details')?['body/r0daf19a4a65f492f8b24c621b545aaf5']}<br><br>Country &nbsp;<br>@{outputs('Get_response_details')?['body/rd57d5ac6ea734335a4aff68b3bcdf805']}<br><br><br>--------------------------------------------------------------------------------------<br><br><b><strong class=\"editor-text-bold\">Short Description :</strong></b></p><p class=\"editor-paragraph\">{@{triggerOutputs()?['body/resourceData/responseId']}}<b><strong class=\"editor-text-bold\"> - </strong></b><br>SFMC<br><br><b><strong class=\"editor-text-bold\">Long Description : &nbsp;Enter all below</strong></b><br><br><br>Brand:<br>@{outputs('Get_response_details')?['body/rb277b4f06fa34114b04774864133d510']}<br><br>Indication(s):<br>@{outputs('Get_response_details')?['body/r086d9930e982435b970c249eadd062d2']}<br><br>State/Province:<br>@{outputs('Get_response_details')?['body/re707c531f2b848078ec58e08bd60860d']}<br><br>Language:<br>@{outputs('Get_response_details')?['body/reae29079a13942d08a24de15f40aba6d']}<br><br><br>Specialties:<br>@{outputs('Get_response_details')?['body/r53c3ad49cc7d4444bd48f2d511349387']}<br><br>Marketing Consent:<br>@{outputs('Get_response_details')?['body/r2f50fc58126d420591466912b4fa2f7d']}<br><br>Customer Segmentation:<br>@{outputs('Get_response_details')?['body/rb8cee04de645448eb25f19762a293608']}<br><br>Potential Affinity:<br>@{outputs('Get_response_details')?['body/rbc39ad7f8c2c4fb7bb3f983df9349083']}<br><br>Adoption Ladder:<br>@{outputs('Get_response_details')?['body/r35e8fec1ce0747d5a0c7dc98b1e9149d']}<br><br>Journeys:<br>@{outputs('Get_response_details')?['body/r59f67f8c3cc74d2499b8bc12b9251d62']}<br><br>BTS Partner:<br>@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}<br><br><br>[Additional Information]<br>@{outputs('Get_response_details')?['body/ra3b23fbabff849cfb40ff4b34f0f623b']}<br></p><br>","emailMessage/From":"bts.digital@abbviecare.ca","emailMessage/Cc":"bell.jamie@abbvie.com","emailMessage/Attachments":"@variables('varAttachements')","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"Terminate_flow":{"runAfter":{"_SFMC_Target_List_-__to_c3i":["Succeeded"]},"metadata":{"operationMetadataId":"72f51f00-b9cf-4209-a5c7-54972e04584a"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"else":{"actions":{"Create_an_approval_-_Bogdan_Level_-_E-mail_Deployment":{"runAfter":{"Send_E-mail_for_email_deployment":["Succeeded"]},"metadata":{"operationMetadataId":"3e91d35b-f5bb-45bd-a9aa-225a0fd9099e"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"[SFMC] Email Deployment--> Action to Peform-  @{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}","WebhookApprovalCreationInput/assignedTo":"diego.ricoy@abbvie.com;@{variables('VarApprover')};mariapaula.aguillon@abbvie.com;matias.lazo@abbvie.com","WebhookApprovalCreationInput/details":"Hello ,\n\nAn e-mail has been scheduled for deployment.\nPlease see the details below and approve when you are ready.\n\n\nCountry:\n@{outputs('Get_response_details')?['body/rc7a580eb9757486497bcad8a121aac10']}\n\nRequestor:\n@{body('Get_response_details')?['rbefed3e4a42f48fea2c25bed29a1373c']}\n\nBusiness Owner:\n@{outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']}\n\nBTS Partner:\n@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}\n\nProject Name:\n@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}\n\nProject Purpose\n@{outputs('Get_response_details')?['body/r33281e8ab485443db88bfa7da69e57eb']}\n\nList Name:\n@{body('Get_response_details')?['r3be75bb10b1b4210a2be1cbe231ce75e']}\n\n[Schedule Deployment]\n@{outputs('Get_response_details')?['body/ra6233ba0a9cd45f6b544467742791b51']}\n@{outputs('Get_response_details')?['body/r87e1eb3ec3c44db2b920dd33e060cc44']}\n\nAdditional comments :\n@{outputs('Get_response_details')?['body/r1b1e67c81ac34091bafa26c423a8777b']}\n","WebhookApprovalCreationInput/itemLinkDescription":"Please review  this new request \n","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"authentication":"@parameters('$authentication')"}},"Condition_If_Approved":{"actions":{"Set_variable_-_If_approved":{"metadata":{"operationMetadataId":"e1cfb25c-0486-4be2-9371-070cca571b6a"},"type":"SetVariable","inputs":{"name":"ApprovalStatus","value":"Approved"}}},"runAfter":{"Update_status_+_comments_for_schedule_deployment":["Succeeded"]},"else":{"actions":{"Set_variable_-_If_refused":{"metadata":{"operationMetadataId":"e1cfb25c-0486-4be2-9371-070cca571b6a"},"type":"SetVariable","inputs":{"name":"ApprovalStatus","value":"Denied"}}}},"expression":{"contains":["@outputs('Create_an_approval_-_Bogdan_Level_-_E-mail_Deployment')?['body/outcome']","Appro"]},"metadata":{"operationMetadataId":"728fded2-b9b0-4da4-ac73-54d7059ede5c"},"type":"If"},"Apply_to_each":{"foreach":"@outputs('Create_an_approval_-_Bogdan_Level_-_E-mail_Deployment')?['body/responses']","actions":{"Send_E-mail_for_Schedule_Deployment_":{"metadata":{"operationMetadataId":"fce4e6a8-31e1-4e70-94d2-b7e03a75f9af"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@{outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']};@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}","emailMessage/Subject":"[SFMC] - Schedule Deployment - @{variables('ApprovalStatus')} -  @{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']} - @{outputs('Get_response_details')?['body/ra6233ba0a9cd45f6b544467742791b51']} - @{outputs('Get_response_details')?['body/r87e1eb3ec3c44db2b920dd33e060cc44']}","emailMessage/Body":"<p class=\"editor-paragraph\">@{variables('Embed Image Link')}<br><br><br>Hello ,<br><br>Please see the details below!<br>Your request has been @{variables('ApprovalStatus')} !<br><br><b><strong class=\"editor-text-bold\">Comments from BTS:</strong></b><br><br>@{items('Apply_to_each')?['comments']}</p><br><p class=\"editor-paragraph\">Country:<br>@{outputs('Get_response_details')?['body/rc7a580eb9757486497bcad8a121aac10']}</p><br><p class=\"editor-paragraph\">Requestor:<br>@{body('Get_response_details')?['rbefed3e4a42f48fea2c25bed29a1373c']}</p><p class=\"editor-paragraph\"><br><b><strong class=\"editor-text-bold\">Business Owner:</strong></b><br>@{outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']}<br><br><b><strong class=\"editor-text-bold\">BTS Partner:</strong></b><br>@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}<br><br><b><strong class=\"editor-text-bold\">Project Name:</strong></b><br>@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}<br><br><b><strong class=\"editor-text-bold\">Project Purpose:</strong></b><br>@{outputs('Get_response_details')?['body/r33281e8ab485443db88bfa7da69e57eb']}<br><br><b><strong class=\"editor-text-bold\">Date of &nbsp;Deployment:</strong></b><br>@{outputs('Get_response_details')?['body/ra6233ba0a9cd45f6b544467742791b51']}@{outputs('Get_response_details')?['body/r87e1eb3ec3c44db2b920dd33e060cc44']}<br><br><b><strong class=\"editor-text-bold\">Additonal Comments:</strong></b><br>@{outputs('Get_response_details')?['body/r1b1e67c81ac34091bafa26c423a8777b']}<br></p><br>","emailMessage/From":"bts.digital@abbviecare.ca","emailMessage/Cc":"bell.jamie@abbvie.com;@{variables('VarApprover')}","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Condition_If_Approved":["Succeeded"]},"metadata":{"operationMetadataId":"fd23fd22-ebd8-44df-a33e-bf3fc5172359"},"type":"Foreach"},"Create_item_in_schedule_deployment_list":{"metadata":{"operationMetadataId":"33db8627-9867-4b67-8727-c75d5e1162cb"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://abbvie.sharepoint.com/sites/msteams_c38c47","table":"0fd7951d-a346-48c2-86ba-7390012e2b73","item/DateRequested":"@{utcNow()}","item/Status/Value":"Approval Sent","item/BusinessOwner/Claims":"@body('Get_response_details')?['r1449ddf4c0d348e3aad239ad7d1054b6']","item/BTSPartner/Claims":"@body('Get_response_details')?['rcdd7e978b2634a04839cfbf5ea6f250e']","item/ProjectName":"@body('Get_response_details')?['ra8c5068a5e644142a9002f0d53fe0c5c']","item/ProjectPurpose":"@body('Get_response_details')?['r33281e8ab485443db88bfa7da69e57eb']","item/DateScheduled":"@body('Get_response_details')?['ra6233ba0a9cd45f6b544467742791b51']","item/TimeScheduled":"@body('Get_response_details')?['r87e1eb3ec3c44db2b920dd33e060cc44']","item/DEName":"@body('Get_response_details')?['r3be75bb10b1b4210a2be1cbe231ce75e']","item/Comments":"@body('Get_response_details')?['r1b1e67c81ac34091bafa26c423a8777b']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"authentication":"@parameters('$authentication')"}},"Send_E-mail_for_email_deployment":{"runAfter":{"Create_item_in_schedule_deployment_list":["Failed","Skipped","Succeeded"]},"metadata":{"operationMetadataId":"fce4e6a8-31e1-4e70-94d2-b7e03a75f9af"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@{body('Get_response_details')?['r1449ddf4c0d348e3aad239ad7d1054b6']};@{body('Get_response_details')?['rcdd7e978b2634a04839cfbf5ea6f250e']}","emailMessage/Subject":"[SFMC] - Schedule Deployment - @{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}","emailMessage/Body":"<p class=\"editor-paragraph\">@{variables('Embed Image Link')}<br></p><br><p class=\"editor-paragraph\">Hello ,<br><br>Your request is being processed!<br><br>You will receive an e-mail when your request has been completed. No action from you is required at this stage.<br></p><br><p class=\"editor-paragraph\">This can take up to 48 hours.<br>Below are the details of your submission.</p><p class=\"editor-paragraph\"><br>--------------------------------------------------------------------------------------</p><br><br><p class=\"editor-paragraph\">Country:<br>@{outputs('Get_response_details')?['body/rc7a580eb9757486497bcad8a121aac10']}</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Requestor:</strong></b><br>@{body('Get_response_details')?['rbefed3e4a42f48fea2c25bed29a1373c']}<br><br>Business Owner:<br>@{outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']}<br><br>BTS Partner:<br>@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}<br><br>Project Name:<br>@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}<br><br>Project Purpose:<br>@{outputs('Get_response_details')?['body/r33281e8ab485443db88bfa7da69e57eb']}<br><br>Date of &nbsp;Deployment:<br>@{outputs('Get_response_details')?['body/ra6233ba0a9cd45f6b544467742791b51']}@{outputs('Get_response_details')?['body/r87e1eb3ec3c44db2b920dd33e060cc44']}<br><br>Additonal Comments:<br>@{outputs('Get_response_details')?['body/r1b1e67c81ac34091bafa26c423a8777b']}<br>-BTS Canada<br><br><br><br></p><br>","emailMessage/From":"bts.digital@abbviecare.ca","emailMessage/Cc":"bell.jamie@abbvie.com;@{variables('VarApprover')}","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"For_each":{"foreach":"@outputs('Create_an_approval_-_Bogdan_Level_-_E-mail_Deployment')?['body']?['responses']","actions":{"Set_variable_-_SFMC-Comments_set_-_schedule_deployment":{"metadata":{"operationMetadataId":"645cc3e4-8eed-4a0c-addb-c02ac3521e8d"},"type":"SetVariable","inputs":{"name":"SFMC-Comments","value":"@items('For_each')?['comments']"}}},"runAfter":{"Create_an_approval_-_Bogdan_Level_-_E-mail_Deployment":["Succeeded"]},"metadata":{"operationMetadataId":"f49d71dc-b548-4c5b-acac-11c44d1e121f"},"type":"Foreach"},"Update_status_+_comments_for_schedule_deployment":{"runAfter":{"Get_item_3":["Succeeded"]},"metadata":{"operationMetadataId":"83d9d3a4-2bd9-4381-97ce-ee79e81ed830"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://abbvie.sharepoint.com/sites/msteams_c38c47","table":"0fd7951d-a346-48c2-86ba-7390012e2b73","id":"@body('Create_item_in_schedule_deployment_list')?['ID']","item/Status/Value":"@{if(contains(body('Create_an_approval_-_Bogdan_Level_-_E-mail_Deployment')?['outcome'],'Appro'),'Email Scheduled','Issue')}","item/Comments":"@{concat(body('Get_item_3')?['Comments'],outputs('newLine'),variables('SFMC-Comments'))}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"Get_item_3":{"runAfter":{"For_each":["Succeeded"]},"metadata":{"operationMetadataId":"a5425d43-e4a1-4930-94fb-58ca545e34c4"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://abbvie.sharepoint.com/sites/msteams_c38c47","table":"0fd7951d-a346-48c2-86ba-7390012e2b73","id":"@body('Create_item_in_schedule_deployment_list')?['ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"Send_an_email_for_flow_failure_3":{"runAfter":{"_SFMC_Send_Report":["Succeeded"]},"metadata":{"operationMetadataId":"a8a69e8a-49db-4c5d-8c0e-9ce236551b2d"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"bell.jamie@abbvie.com","emailMessage/Subject":"SFMC Intake Flow Has Failed","emailMessage/Body":"<p>A recent run of the SFMC Intake flow has failed.</p>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"Delay_one_week":{"runAfter":{"_SFMC_Send_E-mail_to_c3i":["Succeeded"]},"metadata":{"operationMetadataId":"1102518c-df31-4602-8194-48dec386c9a1"},"type":"Wait","inputs":{"interval":{"count":1,"unit":"Week"}}},"Start_and_wait_for_an_approval":{"runAfter":{"Delay_one_week":["Succeeded"]},"metadata":{"operationMetadataId":"3380f4d4-cac1-4841-a52f-56e3dfd8562d"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"[SFMC] Email Deployment--> Report to send-  @{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}","WebhookApprovalCreationInput/assignedTo":"@variables('VarApprover')","WebhookApprovalCreationInput/details":"Hello,\n\nPlease enter the URL of the  SFMC report in the comments below.\nAn e-mail will be sent out with this link to the business owner.\n\nMake sure link is accessible to all.\n\n-------------------------------------------------------------------------------------\nCountry:\n@{outputs('Get_response_details')?['body/rc7a580eb9757486497bcad8a121aac10']}\n\nRequestor:\n@{body('Get_response_details')?['rbefed3e4a42f48fea2c25bed29a1373c']}\n\nBusiness Owner:\n@{outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']}\n\nBTS Partner:\n@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}\n\nProject Name:\n@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}\n\nProject Purpose\n@{outputs('Get_response_details')?['body/r33281e8ab485443db88bfa7da69e57eb']}\n\nList Name:\n@{body('Get_response_details')?['r3be75bb10b1b4210a2be1cbe231ce75e']}\n\n[Schedule Deployment]\n@{outputs('Get_response_details')?['body/ra6233ba0a9cd45f6b544467742791b51']}\n@{outputs('Get_response_details')?['body/r87e1eb3ec3c44db2b920dd33e060cc44']}\n\nAdditional comments :\n@{outputs('Get_response_details')?['body/r1b1e67c81ac34091bafa26c423a8777b']}\n","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"authentication":"@parameters('$authentication')"}},"For_each_1":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Send_E-mail_for_sfmc_reports":{"metadata":{"operationMetadataId":"fce4e6a8-31e1-4e70-94d2-b7e03a75f9af"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@{body('Get_response_details')?['r1449ddf4c0d348e3aad239ad7d1054b6']};@{body('Get_response_details')?['rcdd7e978b2634a04839cfbf5ea6f250e']}","emailMessage/Subject":"[SFMC] - Reports from Deployment - @{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}","emailMessage/Body":"<p class=\"editor-paragraph\">@{variables('Embed Image Link')}<br></p><br><p class=\"editor-paragraph\">Hello ,<br><br>The report from your send can be found here:</p><br><p class=\"editor-paragraph\">@{items('For_each_1')?['comments']}<br></p><br><p class=\"editor-paragraph\"><br>--------------------------------------------------------------------------------------<br></p><br><p class=\"editor-paragraph\">Country:<br>@{outputs('Get_response_details')?['body/rc7a580eb9757486497bcad8a121aac10']}</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Requestor:</strong></b><br>@{body('Get_response_details')?['rbefed3e4a42f48fea2c25bed29a1373c']}<br><br>Business Owner:<br>@{outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']}<br><br>BTS Partner:<br>@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}<br><br>Project Name:<br>@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}<br><br>Project Purpose:<br>@{outputs('Get_response_details')?['body/r33281e8ab485443db88bfa7da69e57eb']}<br><br>Date of &nbsp;Deployment:<br>@{outputs('Get_response_details')?['body/ra6233ba0a9cd45f6b544467742791b51']}@{outputs('Get_response_details')?['body/r87e1eb3ec3c44db2b920dd33e060cc44']}<br><br>Additonal Comments:<br>@{outputs('Get_response_details')?['body/r1b1e67c81ac34091bafa26c423a8777b']}<br>-BTS Canada<br><br><br><br></p><br>","emailMessage/From":"bts.digital@abbviecare.ca","emailMessage/Cc":"bell.jamie@abbvie.com;@{variables('VarApprover')}","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"metadata":{"operationMetadataId":"fa2e222a-ebde-488b-8ddc-87ca12bff3a6"},"type":"Foreach"},"_SFMC_Send_E-mail_to_c3i":{"runAfter":{"Apply_to_each":["Succeeded"]},"metadata":{"operationMetadataId":"a40f6e21-5954-4cf6-b0fa-91ffc614c681"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"abbviecaresupport@abbvie.com","emailMessage/Subject":"[SMO] - SFMC Send E-mail- ","emailMessage/Body":"<p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Hi Team,</strong></b><br><br><b><strong class=\"editor-text-bold\">Can you please process the request listed below:</strong></b><br><a href=\"https://abbvienow.service-now.com/now/nav/ui/classic/params/target/incident.do%3Fsys_id%3D-1%26sysparm_query%3Dactive%3Dtrue%26sysparm_stack%3Dincident_list.do%3Fsysparm_query%3Dactive%3Dtrue%26sysparm_view%3Ddefault%26sysparm_view_forced%3Dtrue\" class=\"editor-link\">Click here for corresponding form to complete &nbsp; </a>&nbsp;</p><br><p class=\"editor-paragraph\">---------------------------------------------- ---------------------------------------<br><b><strong class=\"editor-text-bold\">SFMC– &nbsp;</strong></b><br><br></p><br><p class=\"editor-paragraph\"><br>Caller:@{outputs('Get_response_details')?['body/rbefed3e4a42f48fea2c25bed29a1373c']}<br>Affected User: @{outputs('Get_response_details')?['body/rbefed3e4a42f48fea2c25bed29a1373c']}</p><p class=\"editor-paragraph\"><br><b><strong class=\"editor-text-bold\">Watchlist Emails:</strong></b><br>@{outputs('Get_response_details')?['body/r5f32442f76de4ab8b82ec42082141238']}<br>@{outputs('Get_response_details')?['body/rf51522aed7004931bc946262a64ba152']}<br><br><br><b><strong class=\"editor-text-bold\">Location</strong></b><br>CA St Laurent<br><br><b><strong class=\"editor-text-bold\">Service</strong></b><br>Salesforce Platform<br><br><b><strong class=\"editor-text-bold\">Service Offering</strong></b><br>CO-LATAM-Geo-Operations-Contractors<br><br>Contact Name:<br>@{outputs('Get_response_details')?['body/r0daf19a4a65f492f8b24c621b545aaf5']}<br><br>Country &nbsp;<br>@{outputs('Get_response_details')?['body/rd57d5ac6ea734335a4aff68b3bcdf805']}<br><br><br>--------------------------------------------------------------------------------------<br><br><b><strong class=\"editor-text-bold\">Short Description : </strong></b></p><p class=\"editor-paragraph\">{@{triggerOutputs()?['body/resourceData/responseId']}} - <br>SFMC<br><br><b><strong class=\"editor-text-bold\">Long Description : &nbsp;Enter all below</strong></b><br><br>Country:<br>@{outputs('Get_response_details')?['body/rc7a580eb9757486497bcad8a121aac10']}<br><br><br>Business Owner:<br>@{outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']}<br><br>BTS Partner:<br>@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}<br><br>Project Name:<br>@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}<br><br>Project Purpose:<br>@{outputs('Get_response_details')?['body/r33281e8ab485443db88bfa7da69e57eb']}<br><br>Date of &nbsp;Deployment:<br>@{outputs('Get_response_details')?['body/ra6233ba0a9cd45f6b544467742791b51']}@{outputs('Get_response_details')?['body/r87e1eb3ec3c44db2b920dd33e060cc44']}<br><br>Additonal Comments:<br>@{outputs('Get_response_details')?['body/r1b1e67c81ac34091bafa26c423a8777b']}<br>-BTS Canada</p><br>","emailMessage/From":"bts.digital@abbviecare.ca","emailMessage/Cc":"bell.jamie@abbvie.com","emailMessage/Attachments":"@variables('varAttachements')","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"_SFMC_Send_Report":{"runAfter":{"For_each_1":["Skipped","Failed"]},"metadata":{"operationMetadataId":"a40f6e21-5954-4cf6-b0fa-91ffc614c681"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"abbviecaresupport@abbvie.com","emailMessage/Subject":"[SMO] - SFMC Send Report","emailMessage/Body":"<p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Hi Team,</strong></b><br><br><b><strong class=\"editor-text-bold\">Can you please process the request listed below:</strong></b><br><a href=\"https://abbvienow.service-now.com/now/nav/ui/classic/params/target/incident.do%3Fsys_id%3D-1%26sysparm_query%3Dactive%3Dtrue%26sysparm_stack%3Dincident_list.do%3Fsysparm_query%3Dactive%3Dtrue%26sysparm_view%3Ddefault%26sysparm_view_forced%3Dtrue\" class=\"editor-link\">Click here for corresponding form to complete &nbsp; </a>&nbsp;</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">and close call immediately please</strong></b><br>---------------------------------------------- ---------------------------------------<br><b><strong class=\"editor-text-bold\">SFMC– &nbsp;</strong></b><br></p><br><p class=\"editor-paragraph\"><br>Caller:@{outputs('Get_response_details')?['body/rbefed3e4a42f48fea2c25bed29a1373c']}<br>Affected User: @{outputs('Get_response_details')?['body/rbefed3e4a42f48fea2c25bed29a1373c']}</p><p class=\"editor-paragraph\"><br><b><strong class=\"editor-text-bold\">Watchlist Emails:</strong></b><br>@{outputs('Get_response_details')?['body/r5f32442f76de4ab8b82ec42082141238']}<br>@{outputs('Get_response_details')?['body/rf51522aed7004931bc946262a64ba152']}<br><br><br><b><strong class=\"editor-text-bold\">Location</strong></b><br>CA St Laurent<br><br><b><strong class=\"editor-text-bold\">Service</strong></b><br>Salesforce Platform<br><br><b><strong class=\"editor-text-bold\">Service Offering</strong></b><br>CO-LATAM-Geo-Operations-Contractors<br><br>Contact Name:<br>@{outputs('Get_response_details')?['body/r0daf19a4a65f492f8b24c621b545aaf5']}<br><br>Country &nbsp;<br>@{outputs('Get_response_details')?['body/rd57d5ac6ea734335a4aff68b3bcdf805']}<br><br><br>--------------------------------------------------------------------------------------<br><br><b><strong class=\"editor-text-bold\">Short Description :</strong></b></p><p class=\"editor-paragraph\">{@{triggerOutputs()?['body/resourceData/responseId']}} - <br>SFMC<br><br><b><strong class=\"editor-text-bold\">Long Description : &nbsp;Enter all below</strong></b><br><br>Country:<br>@{outputs('Get_response_details')?['body/rc7a580eb9757486497bcad8a121aac10']}<br><br><br>Business Owner:<br>@{outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']}<br><br>BTS Partner:<br>@{outputs('Get_response_details')?['body/rcdd7e978b2634a04839cfbf5ea6f250e']}<br><br>Project Name:<br>@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}<br><br>Project Purpose:<br>@{outputs('Get_response_details')?['body/r33281e8ab485443db88bfa7da69e57eb']}<br><br>Date of &nbsp;Deployment:<br>@{outputs('Get_response_details')?['body/ra6233ba0a9cd45f6b544467742791b51']}@{outputs('Get_response_details')?['body/r87e1eb3ec3c44db2b920dd33e060cc44']}<br><br>Additonal Comments:<br>@{outputs('Get_response_details')?['body/r1b1e67c81ac34091bafa26c423a8777b']}<br>-BTS Canada</p><br>","emailMessage/From":"bts.digital@abbviecare.ca","emailMessage/Cc":"bell.jamie@abbvie.com","emailMessage/Attachments":"@variables('varAttachements')","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('Get_response_details')?['body/r973550b781954e00baed15fa0060aae6']","Target List Creation"]},"metadata":{"operationMetadataId":"7a812ddd-f91d-4d68-8ebe-a8d170db1274"},"type":"If"}}},"expression":{"and":[{"contains":["@outputs('Get_response_details')?['body/r973550b781954e00baed15fa0060aae6']","Test E-mail and Content Creation"]}]},"metadata":{"operationMetadataId":"d77f05ec-7f38-405e-a281-a50ae0b00b87"},"type":"If"}},"runAfter":{"newLine":["Succeeded"]},"metadata":{"operationMetadataId":"f754449c-8af9-4643-b0b8-6f1e2c8bade9"},"type":"Scope"},"Intialize_Variable_for_Approval_Status":{"runAfter":{"Get_file_content_using_path":["Succeeded"]},"metadata":{"operationMetadataId":"4477ba58-2e38-4a37-b240-66147de6e165"},"type":"InitializeVariable","inputs":{"variables":[{"name":"ApprovalStatus","type":"string"}]}},"Intialize_Variable_for_Level_1_status":{"runAfter":{"Initialize_variable_for_Reminder_Complete_":["Succeeded"]},"metadata":{"operationMetadataId":"4477ba58-2e38-4a37-b240-66147de6e165"},"type":"InitializeVariable","inputs":{"variables":[{"name":"ApprovalStatusLevel1","type":"string"}]}},"Intialize_Variable_for_Level_2_Comments":{"runAfter":{"Intialize_Variable_for_Level_3_status":["Succeeded"]},"metadata":{"operationMetadataId":"4477ba58-2e38-4a37-b240-66147de6e165"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Level2Comments","type":"string"}]}},"Intialize_Variable_for_Level_2_status_":{"runAfter":{"Country_Approver_Clause":["Succeeded"]},"metadata":{"operationMetadataId":"4477ba58-2e38-4a37-b240-66147de6e165"},"type":"InitializeVariable","inputs":{"variables":[{"name":"ApprovalStatusLevel2","type":"string"}]}},"Intialize_Variable_for_BM_Comments_":{"runAfter":{"Intialize_Variable_for_DataStewardComments":["Succeeded"]},"metadata":{"operationMetadataId":"4477ba58-2e38-4a37-b240-66147de6e165"},"type":"InitializeVariable","inputs":{"variables":[{"name":"BMcomments","type":"string"}]}},"Intialize_Variable_for_Level_3_status":{"runAfter":{"Intialize_Variable_for_Level_2_status_":["Succeeded"]},"metadata":{"operationMetadataId":"4477ba58-2e38-4a37-b240-66147de6e165"},"type":"InitializeVariable","inputs":{"variables":[{"name":"ApprovalStatusLevel3","type":"string"}]}},"Intialize_Variable_for_DataStewardComments":{"runAfter":{"Intialize_Variable_for_Level_2_Comments":["Succeeded"]},"metadata":{"operationMetadataId":"4477ba58-2e38-4a37-b240-66147de6e165"},"type":"InitializeVariable","inputs":{"variables":[{"name":"DataStewardComments","type":"string"}]}},"Intialize_Variable_for_SFMC-Comments":{"runAfter":{"Intialize_Variable_for_Level_1_status":["Succeeded"]},"metadata":{"operationMetadataId":"4477ba58-2e38-4a37-b240-66147de6e165"},"type":"InitializeVariable","inputs":{"variables":[{"name":"SFMC-Comments","type":"string"}]}},"newLine":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"00a3dff0-1e2e-4ac9-8f93-4cfd6e385366"},"type":"Compose","inputs":"\"\n\""},"Initialize_variable":{"runAfter":{"Initialize_variable_-_varAttachements":["Succeeded"]},"metadata":{"operationMetadataId":"6797115a-160d-439f-a081-85c1d89134d0"},"type":"InitializeVariable","inputs":{"variables":[{"name":"refusalBool","type":"boolean"}]}},"E-mail_for_test":{"runAfter":{"Terminate_4":["Succeeded"]},"metadata":{"operationMetadataId":"960f021a-21bf-4eda-84a8-76236f0683dd"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']","emailMessage/Subject":"[SFMC] -  @{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}","emailMessage/Body":"Thank-you for using our new SFMC process.\nHave a great day.\n\n-BTS Canada\n\n","emailMessage/From":"bts.digital@abbviecare.ca","emailMessage/Cc":"bell.jamie@abbvie.com","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"Catch":{"actions":{"Send_E-mail_if_error":{"metadata":{"operationMetadataId":"ca8483a8-733c-4b57-b126-877c578ec46d"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"bell.jamie@abbvie.com","emailMessage/Subject":"[SFMC Failed]   - Failed","emailMessage/Body":"<p>Helllo,<br>\n<br>\nSFMC Flow has failed, bad e-mail address.<br>\nCheck flow.<br>\n</p>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"E-mail_for_test":["Failed"]},"metadata":{"operationMetadataId":"1f302221-deb5-4358-a242-f2de4997090a"},"type":"Scope"},"Initialize_variable_For_Logo_Reminder":{"runAfter":{"Get_Reminder_Picture_from_OneDrive":["Succeeded"]},"metadata":{"operationMetadataId":"fade5e3a-35d8-47af-a2c6-6ed27520270d"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varReminderLogo","type":"string"}]}},"Get_Reminder_Picture_from_OneDrive":{"runAfter":{"Intialize_Variable_for_Approval_Status":["Succeeded"]},"metadata":{"operationMetadataId":"cd11d46a-9dda-4f1e-95a0-3f50f3f2b7ed"},"type":"OpenApiConnection","inputs":{"parameters":{"path":"/reminder-Email.JPG","inferContentType":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"GetFileContentByPath"},"authentication":"@parameters('$authentication')"}},"Initialize_variable_for_Reminder_Complete_":{"runAfter":{"Initialize_variable_For_Logo_Reminder":["Succeeded"]},"metadata":{"operationMetadataId":"6557e28e-ee92-4364-a082-d7838a94c069"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varApprovalComplete","type":"boolean"}]}},"Reminder_Loop":{"actions":{"Delay":{"metadata":{"operationMetadataId":"57445929-531f-4787-bdee-e17d31990985"},"type":"Wait","inputs":{"interval":{"count":4,"unit":"Day"}}},"Condition_-_Checking_if_request_has_been_approved_-_Denied":{"actions":{"Test_or_send":{"actions":{"E-mail_to_sfmc_dev":{"metadata":{"operationMetadataId":"806327d7-801d-458b-8704-9f3298e0c3c6"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@variables('VarApprover')","emailMessage/Subject":"[Reminder E-mail] SFMC Flow -  @{outputs('Get_response_details')?['body/r973550b781954e00baed15fa0060aae6']}","emailMessage/Body":"<p>@{variables('varReminderLogo')}<br>\n<br>\nHello,<br>\n<br>\nA request has been pending over 4 days<br>\nPlease re-assign if needed.<br>\n<br>\n<strong>Summary of request:<br>\n<br>\nProject name:<br>\n</strong><strong>@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}</strong><strong><br>\nBusiness owner E-mail:<br>\n<br>\n</strong><strong>@{outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']}</strong><strong><br>\n</strong></p>","emailMessage/Cc":"bell.jamie@abbvie.com","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}},"else":{"actions":{"E-mail_to_sfmc_dev_2":{"metadata":{"operationMetadataId":"806327d7-801d-458b-8704-9f3298e0c3c6"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@variables('VarApprover')","emailMessage/Subject":"[Reminder E-mail] SFMC Flow -  @{outputs('Get_response_details')?['body/r973550b781954e00baed15fa0060aae6']}","emailMessage/Body":"<p>@{variables('varReminderLogo')}<br>\n<br>\nHello,<br>\n<br>\nA request has been pending over 4 days<br>\nPlease re-assign if needed.<br>\n<br>\n<strong>Summary of request:<br>\n<br>\nProject name:<br>\n</strong><strong>@{outputs('Get_response_details')?['body/ra8c5068a5e644142a9002f0d53fe0c5c']}</strong><strong><br>\n<br>\nBusiness owner E-mail:<br>\n<br>\n</strong><strong>@{outputs('Get_response_details')?['body/r1449ddf4c0d348e3aad239ad7d1054b6']}</strong><strong><br>\n</strong></p>","emailMessage/Cc":"bell.jamie@abbvie.com","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}}},"expression":{"or":[{"contains":["@outputs('Get_response_details')?['body/r973550b781954e00baed15fa0060aae6']","Test E-mail"]},{"contains":["@outputs('Get_response_details')?['body/r973550b781954e00baed15fa0060aae6']","Schedule Deployment"]}]},"metadata":{"operationMetadataId":"a270b2ea-3a84-4bf1-a9a1-8424e790a357"},"type":"If"}},"runAfter":{"Delay":["Succeeded"]},"else":{"actions":{}},"expression":{"equals":["@variables('varApprovalComplete')",false]},"metadata":{"operationMetadataId":"fb2d645c-bbcf-445d-bd0c-f4f91566315a"},"type":"If"}},"runAfter":{"newLine":["Succeeded"]},"expression":"@equals(variables('varApprovalComplete'), false)","limit":{"count":5000},"metadata":{"operationMetadataId":"d251ea0e-81f6-48f5-9573-888db03c7641"},"type":"Until"},"Set_variable_2_-_End_of_flow_complete":{"runAfter":{"Scope_-_For_decision_Tree":["Succeeded"]},"metadata":{"operationMetadataId":"aaefc8d5-60ec-42ae-8527-7c88b0189126"},"type":"SetVariable","inputs":{"name":"varApprovalComplete","value":true}},"Terminate_4":{"runAfter":{"Set_variable_2_-_End_of_flow_complete":["Succeeded"]},"metadata":{"operationMetadataId":"03d3e036-900d-42ac-96ef-62e261f036d0"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}},"Initialize_varApprover":{"runAfter":{"Intialize_Variable_for_SFMC-Comments":["Succeeded"]},"metadata":{"operationMetadataId":"0aac5a35-ef91-45c9-af16-ba04f6ecc5cb"},"type":"InitializeVariable","inputs":{"variables":[{"name":"VarApprover","type":"string"}]}},"Country_Approver_Clause":{"actions":{"varApprover_-_Maria":{"metadata":{"operationMetadataId":"b6c42bad-b384-4c4e-893d-580ba588b0c7"},"type":"SetVariable","inputs":{"name":"VarApprover","value":"mariapaula.aguillon@abbvie.com"}}},"runAfter":{"Compose_country_choice":["Succeeded"]},"else":{"actions":{"VarApprover_-_Matias":{"metadata":{"operationMetadataId":"61c95280-fa64-4838-a52e-15ef78a6c9db"},"type":"SetVariable","inputs":{"name":"VarApprover","value":"matias.lazo@abbvie.com"}}}},"expression":{"and":[{"equals":["@outputs('Compose_country_choice')","Colombia"]}]},"metadata":{"operationMetadataId":"c82cba58-8c59-44de-ae47-095fdfb33a3b"},"type":"If"},"Compose_country_choice":{"runAfter":{"Initialize_varApprover":["Succeeded"]},"type":"Compose","inputs":"@trim(outputs('Get_response_details')?['body/rc7a580eb9757486497bcad8a121aac10'])"}}},"connectionReferences":{"shared_microsoftforms_1":{"connectionName":"shared-microsoftform-5de1dfb6-9ddd-4e77-9fc7-fa8b03ee5de2","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","tier":"NotSpecified","apiName":"microsoftforms","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_onedriveforbusiness":{"connectionName":"shared-onedriveforbu-e9eba80e-e805-47f7-a8bf-1108b79e93f9","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified","apiName":"onedriveforbusiness","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_office365_1":{"connectionName":"shared-office365-74a10376-1f7e-472b-bf79-b49640d9bfd4","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_approvals":{"connectionName":"shared-approvals-68a051d8-46e0-4fce-82e0-fdb8b462ab35","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","tier":"NotSpecified","apiName":"approvals","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_sharepointonline":{"connectionName":"shared-sharepointonl-2d1c8428-4138-40b7-a96b-85eb6b4ae0e7","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}